{"openapi":"3.1.0","info":{"title":"chat-room-invitations","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/":{"get":{"summary":"List Chat Room Invitations","description":"","operationId":"list-chat-room-invitations","parameters":[{"name":"client_id","in":"query","description":"Application ID","required":true,"schema":{"type":"string"}},{"name":"chat_room_id","in":"query","description":"Chat Room ID","schema":{"type":"string"}},{"name":"invited_by_id","in":"query","description":"Invited By Profile ID","schema":{"type":"string"}},{"name":"invited_profile_id","in":"query","description":"Invited Profile ID","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"count\": 3,\n    \"next\": null,\n    \"previous\": null,\n    \"results\": [\n        {\n            \"id\": \"0c728cb4-cf5e-4dfe-9a7c-437b2917ba06\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/0c728cb4-cf5e-4dfe-9a7c-437b2917ba06/\",\n            \"created_at\": \"2021-10-26T13:01:03.697053Z\",\n            \"status\": \"pending\",\n            \"invited_profile\": {\n                \"id\": \"caa14138-d91a-4f21-a48a-84aa2eb80968\",\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/\",\n                \"created_at\": \"2021-10-26T12:52:48Z\",\n                \"nickname\": \"Sneaky Dino\",\n                \"custom_data\": \"\",\n                \"points\": 0,\n                \"badges\": [],\n                \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/badges/\",\n                \"badge_progress_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/badge-progress/\",\n                \"subscribe_channel\": \"profile.caa14138-d91a-4f21-a48a-84aa2eb80968\",\n                \"reported_count\": 0,\n                \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/chat-room-memberships/\",\n                \"reward_item_credit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-credits/\",\n                \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-debits/\",\n                \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-balances/\",\n                \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-transfers/\"\n            },\n            \"chat_room\": {\n                \"id\": \"8f38d6d2-0dee-43b2-bea9-670a964eb1bd\",\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/\",\n                \"client_id\": \"YB83JIrWB1ysPLWRa9K3U5zU3DCZoZaEpvO7mjVa\",\n                \"title\": null,\n                \"created_at\": \"2021-10-26T12:17:45.505491Z\",\n                \"content_filter\": \"none\",\n                \"visibility\": \"members\",\n                \"channels\": {\n                    \"chat\": {\n                        \"sendbird\": null,\n                        \"pubnub\": \"chatroom.8f38d6d2-0dee-43b2-bea9-670a964eb1bd\"\n                    },\n                    \"reactions\": {\n                        \"pubnub\": \"chatroom.reactions.8f38d6d2-0dee-43b2-bea9-670a964eb1bd\"\n                    },\n                    \"control\": {\n                        \"pubnub\": \"chatroom.control.8f38d6d2-0dee-43b2-bea9-670a964eb1bd\"\n                    }\n                },\n                \"report_message_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/report-chat-message/\",\n                \"reported_messages_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/reported-chat-room-messages/?chat_room_id=8f38d6d2-0dee-43b2-bea9-670a964eb1bd&status=pending\",\n                \"delete_message_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/delete-chat-message/\",\n                \"upload_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/upload/\",\n                \"memberships_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/memberships/\",\n                \"muted_status_url_template\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/muted-status/{profile_id}/\",\n                \"custom_messages_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/custom-messages/\",\n                \"sticker_packs_url\": \"https://cf-blast-storage-qa.livelikecdn.com/sticker-packs/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/sticker_packs.json\",\n                \"reaction_packs_url\": \"https://cf-blast-storage-qa.livelikecdn.com/reaction-packs/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/reaction_packs.json\",\n                \"custom_data\": null,\n                \"sponsors_url\": \"https://cf-blast-storage-qa.livelikecdn.com/sponsors/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/sponsors.json\"\n            },\n            \"invited_by\": {\n                \"id\": \"aa7e03fc-01f0-4a98-a2e0-3fed689632d7\",\n                \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/\",\n                \"created_at\": \"2021-10-26T12:18:21Z\",\n                \"nickname\": \"Big Cricket\",\n                \"custom_data\": \"\",\n                \"points\": 0,\n                \"badges\": [],\n                \"badges_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/badges/\",\n                \"badge_progress_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/badge-progress/\",\n                \"subscribe_channel\": \"profile.aa7e03fc-01f0-4a98-a2e0-3fed689632d7\",\n                \"reported_count\": 0,\n                \"chat_room_memberships_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/chat-room-memberships/\",\n                \"reward_item_credit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-credits/\",\n                \"reward_item_debit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-debits/\",\n                \"reward_item_balances_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-balances/\",\n                \"reward_item_transfer_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-transfers/\"\n            },\n            \"chat_room_id\": \"8f38d6d2-0dee-43b2-bea9-670a964eb1bd\",\n            \"invited_profile_id\": \"caa14138-d91a-4f21-a48a-84aa2eb80968\"\n        },\n        {\n            \"id\": \"734e5983-9f37-485a-9864-aa6dad957cf6\",\n            \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-room-invitations/734e5983-9f37-485a-9864-aa6dad957cf6/\",\n            \"created_at\": \"2021-10-26T14:10:28.009648Z\",\n            \"status\": \"pending\",\n            \"invited_profile\": {\n                \"id\": \"aa7e03fc-01f0-4a98-a2e0-3fed689632d7\",\n                \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/\",\n                \"created_at\": \"2021-10-26T12:18:21Z\",\n                \"nickname\": \"Big Cricket\",\n                \"custom_data\": \"\",\n                \"points\": 0,\n                \"badges\": [],\n                \"badges_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/badges/\",\n                \"badge_progress_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/badge-progress/\",\n                \"subscribe_channel\": \"profile.aa7e03fc-01f0-4a98-a2e0-3fed689632d7\",\n                \"reported_count\": 0,\n                \"chat_room_memberships_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/chat-room-memberships/\",\n                \"reward_item_credit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-credits/\",\n                \"reward_item_debit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-debits/\",\n                \"reward_item_balances_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-balances/\",\n                \"reward_item_transfer_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-transfers/\"\n            },\n            \"chat_room\": {\n                \"id\": \"d258c486-b215-4364-9dff-e79bf3ea7f50\",\n                \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/d258c486-b215-4364-9dff-e79bf3ea7f50/\",\n                \"client_id\": \"YB83JIrWB1ysPLWRa9K3U5zU3DCZoZaEpvO7mjVa\",\n                \"title\": null,\n                \"created_at\": \"2021-10-26T14:08:19.151817Z\",\n                \"content_filter\": \"none\",\n                \"visibility\": \"everyone\",\n                \"channels\": {\n                    \"chat\": {\n                        \"sendbird\": null,\n                        \"pubnub\": \"chatroom.d258c486-b215-4364-9dff-e79bf3ea7f50\"\n                    },\n                    \"reactions\": {\n                        \"pubnub\": \"chatroom.reactions.d258c486-b215-4364-9dff-e79bf3ea7f50\"\n                    },\n                    \"control\": {\n                        \"pubnub\": \"chatroom.control.d258c486-b215-4364-9dff-e79bf3ea7f50\"\n                    }\n                },\n                \"report_message_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/d258c486-b215-4364-9dff-e79bf3ea7f50/report-chat-message/\",\n                \"reported_messages_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/reported-chat-room-messages/?chat_room_id=d258c486-b215-4364-9dff-e79bf3ea7f50&status=pending\",\n                \"delete_message_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/d258c486-b215-4364-9dff-e79bf3ea7f50/delete-chat-message/\",\n                \"upload_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/d258c486-b215-4364-9dff-e79bf3ea7f50/upload/\",\n                \"memberships_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/d258c486-b215-4364-9dff-e79bf3ea7f50/memberships/\",\n                \"muted_status_url_template\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/d258c486-b215-4364-9dff-e79bf3ea7f50/muted-status/{profile_id}/\",\n                \"custom_messages_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/d258c486-b215-4364-9dff-e79bf3ea7f50/custom-messages/\",\n                \"sticker_packs_url\": \"https://cf-blast-storage-qa.livelikecdn.com/sticker-packs/d258c486-b215-4364-9dff-e79bf3ea7f50/sticker_packs.json\",\n                \"reaction_packs_url\": \"https://cf-blast-storage-qa.livelikecdn.com/reaction-packs/d258c486-b215-4364-9dff-e79bf3ea7f50/reaction_packs.json\",\n                \"custom_data\": null,\n                \"sponsors_url\": \"https://cf-blast-storage-qa.livelikecdn.com/sponsors/d258c486-b215-4364-9dff-e79bf3ea7f50/sponsors.json\"\n            },\n            \"invited_by\": {\n                \"id\": \"caa14138-d91a-4f21-a48a-84aa2eb80968\",\n                \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/\",\n                \"created_at\": \"2021-10-26T12:52:48Z\",\n                \"nickname\": \"Sneaky Dino\",\n                \"custom_data\": \"\",\n                \"points\": 0,\n                \"badges\": [],\n                \"badges_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/badges/\",\n                \"badge_progress_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/badge-progress/\",\n                \"subscribe_channel\": \"profile.caa14138-d91a-4f21-a48a-84aa2eb80968\",\n                \"reported_count\": 0,\n                \"chat_room_memberships_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/chat-room-memberships/\",\n                \"reward_item_credit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-credits/\",\n                \"reward_item_debit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-debits/\",\n                \"reward_item_balances_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-balances/\",\n                \"reward_item_transfer_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-transfers/\"\n            },\n            \"chat_room_id\": \"d258c486-b215-4364-9dff-e79bf3ea7f50\",\n            \"invited_profile_id\": \"aa7e03fc-01f0-4a98-a2e0-3fed689632d7\"\n        },\n        {\n            \"id\": \"a5000653-b484-4065-9a08-2dd0446aaeec\",\n            \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-room-invitations/a5000653-b484-4065-9a08-2dd0446aaeec/\",\n            \"created_at\": \"2021-10-26T14:43:21.941951Z\",\n            \"status\": \"pending\",\n            \"invited_profile\": {\n                \"id\": \"aa7e03fc-01f0-4a98-a2e0-3fed689632d7\",\n                \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/\",\n                \"created_at\": \"2021-10-26T12:18:21Z\",\n                \"nickname\": \"Big Cricket\",\n                \"custom_data\": \"\",\n                \"points\": 0,\n                \"badges\": [],\n                \"badges_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/badges/\",\n                \"badge_progress_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/badge-progress/\",\n                \"subscribe_channel\": \"profile.aa7e03fc-01f0-4a98-a2e0-3fed689632d7\",\n                \"reported_count\": 0,\n                \"chat_room_memberships_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/chat-room-memberships/\",\n                \"reward_item_credit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-credits/\",\n                \"reward_item_debit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-debits/\",\n                \"reward_item_balances_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-balances/\",\n                \"reward_item_transfer_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-transfers/\"\n            },\n            \"chat_room\": {\n                \"id\": \"28cc0ceb-8934-48cd-abc5-4d3a3a681c1b\",\n                \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/\",\n                \"client_id\": \"YB83JIrWB1ysPLWRa9K3U5zU3DCZoZaEpvO7mjVa\",\n                \"title\": null,\n                \"created_at\": \"2021-10-26T14:41:29.036039Z\",\n                \"content_filter\": \"none\",\n                \"visibility\": \"everyone\",\n                \"channels\": {\n                    \"chat\": {\n                        \"sendbird\": null,\n                        \"pubnub\": \"chatroom.28cc0ceb-8934-48cd-abc5-4d3a3a681c1b\"\n                    },\n                    \"reactions\": {\n                        \"pubnub\": \"chatroom.reactions.28cc0ceb-8934-48cd-abc5-4d3a3a681c1b\"\n                    },\n                    \"control\": {\n                        \"pubnub\": \"chatroom.control.28cc0ceb-8934-48cd-abc5-4d3a3a681c1b\"\n                    }\n                },\n                \"report_message_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/report-chat-message/\",\n                \"reported_messages_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/reported-chat-room-messages/?chat_room_id=28cc0ceb-8934-48cd-abc5-4d3a3a681c1b&status=pending\",\n                \"delete_message_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/delete-chat-message/\",\n                \"upload_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/upload/\",\n                \"memberships_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/memberships/\",\n                \"muted_status_url_template\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/muted-status/{profile_id}/\",\n                \"custom_messages_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/custom-messages/\",\n                \"sticker_packs_url\": \"https://cf-blast-storage-qa.livelikecdn.com/sticker-packs/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/sticker_packs.json\",\n                \"reaction_packs_url\": \"https://cf-blast-storage-qa.livelikecdn.com/reaction-packs/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/reaction_packs.json\",\n                \"custom_data\": null,\n                \"sponsors_url\": \"https://cf-blast-storage-qa.livelikecdn.com/sponsors/28cc0ceb-8934-48cd-abc5-4d3a3a681c1b/sponsors.json\"\n            },\n            \"invited_by\": {\n                \"id\": \"caa14138-d91a-4f21-a48a-84aa2eb80968\",\n                \"url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/\",\n                \"created_at\": \"2021-10-26T12:52:48Z\",\n                \"nickname\": \"Sneaky Dino\",\n                \"custom_data\": \"\",\n                \"points\": 0,\n                \"badges\": [],\n                \"badges_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/badges/\",\n                \"badge_progress_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/badge-progress/\",\n                \"subscribe_channel\": \"profile.caa14138-d91a-4f21-a48a-84aa2eb80968\",\n                \"reported_count\": 0,\n                \"chat_room_memberships_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/chat-room-memberships/\",\n                \"reward_item_credit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-credits/\",\n                \"reward_item_debit_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-debits/\",\n                \"reward_item_balances_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-balances/\",\n                \"reward_item_transfer_url\": \"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-transfers/\"\n            },\n            \"chat_room_id\": \"28cc0ceb-8934-48cd-abc5-4d3a3a681c1b\",\n            \"invited_profile_id\": \"aa7e03fc-01f0-4a98-a2e0-3fed689632d7\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"count":{"type":"integer","example":3,"default":0},"next":{},"previous":{},"results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"0c728cb4-cf5e-4dfe-9a7c-437b2917ba06"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/0c728cb4-cf5e-4dfe-9a7c-437b2917ba06/"},"created_at":{"type":"string","example":"2021-10-26T13:01:03.697053Z"},"status":{"type":"string","example":"pending"},"invited_profile":{"type":"object","properties":{"id":{"type":"string","example":"caa14138-d91a-4f21-a48a-84aa2eb80968"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/"},"created_at":{"type":"string","example":"2021-10-26T12:52:48Z"},"nickname":{"type":"string","example":"Sneaky Dino"},"custom_data":{"type":"string","example":""},"points":{"type":"integer","example":0,"default":0},"badges":{"type":"array"},"badges_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/badges/"},"badge_progress_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/badge-progress/"},"subscribe_channel":{"type":"string","example":"profile.caa14138-d91a-4f21-a48a-84aa2eb80968"},"reported_count":{"type":"integer","example":0,"default":0},"chat_room_memberships_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/chat-room-memberships/"},"reward_item_credit_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-credits/"},"reward_item_debit_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-debits/"},"reward_item_balances_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-balances/"},"reward_item_transfer_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/caa14138-d91a-4f21-a48a-84aa2eb80968/reward-item-transfers/"}}},"chat_room":{"type":"object","properties":{"id":{"type":"string","example":"8f38d6d2-0dee-43b2-bea9-670a964eb1bd"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/"},"client_id":{"type":"string","example":"YB83JIrWB1ysPLWRa9K3U5zU3DCZoZaEpvO7mjVa"},"title":{},"created_at":{"type":"string","example":"2021-10-26T12:17:45.505491Z"},"content_filter":{"type":"string","example":"none"},"visibility":{"type":"string","example":"members"},"channels":{"type":"object","properties":{"chat":{"type":"object","properties":{"sendbird":{},"pubnub":{"type":"string","example":"chatroom.8f38d6d2-0dee-43b2-bea9-670a964eb1bd"}}},"reactions":{"type":"object","properties":{"pubnub":{"type":"string","example":"chatroom.reactions.8f38d6d2-0dee-43b2-bea9-670a964eb1bd"}}},"control":{"type":"object","properties":{"pubnub":{"type":"string","example":"chatroom.control.8f38d6d2-0dee-43b2-bea9-670a964eb1bd"}}}}},"report_message_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/report-chat-message/"},"reported_messages_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/reported-chat-room-messages/?chat_room_id=8f38d6d2-0dee-43b2-bea9-670a964eb1bd&status=pending"},"delete_message_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/delete-chat-message/"},"upload_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/upload/"},"memberships_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/memberships/"},"muted_status_url_template":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/muted-status/{profile_id}/"},"custom_messages_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/chat-rooms/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/custom-messages/"},"sticker_packs_url":{"type":"string","example":"https://cf-blast-storage-qa.livelikecdn.com/sticker-packs/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/sticker_packs.json"},"reaction_packs_url":{"type":"string","example":"https://cf-blast-storage-qa.livelikecdn.com/reaction-packs/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/reaction_packs.json"},"custom_data":{},"sponsors_url":{"type":"string","example":"https://cf-blast-storage-qa.livelikecdn.com/sponsors/8f38d6d2-0dee-43b2-bea9-670a964eb1bd/sponsors.json"}}},"invited_by":{"type":"object","properties":{"id":{"type":"string","example":"aa7e03fc-01f0-4a98-a2e0-3fed689632d7"},"url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/"},"created_at":{"type":"string","example":"2021-10-26T12:18:21Z"},"nickname":{"type":"string","example":"Big Cricket"},"custom_data":{"type":"string","example":""},"points":{"type":"integer","example":0,"default":0},"badges":{"type":"array"},"badges_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/badges/"},"badge_progress_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/badge-progress/"},"subscribe_channel":{"type":"string","example":"profile.aa7e03fc-01f0-4a98-a2e0-3fed689632d7"},"reported_count":{"type":"integer","example":0,"default":0},"chat_room_memberships_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/chat-room-memberships/"},"reward_item_credit_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-credits/"},"reward_item_debit_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-debits/"},"reward_item_balances_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-balances/"},"reward_item_transfer_url":{"type":"string","example":"https://cf-blast-qa.livelikecdn.com/api/v1/profiles/aa7e03fc-01f0-4a98-a2e0-3fed689632d7/reward-item-transfers/"}}},"chat_room_id":{"type":"string","example":"8f38d6d2-0dee-43b2-bea9-670a964eb1bd"},"invited_profile_id":{"type":"string","example":"caa14138-d91a-4f21-a48a-84aa2eb80968"}}}}}}}}}},"deprecated":false},"post":{"summary":"Create a Chat Room Invitation","description":"Inviting a user in a chatroom","operationId":"create-a-chat-room-invitation","parameters":[{"name":"Authorization","in":"header","description":"Bearer {Token} of the user who is sending the invite","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"chat_room_id":{"type":"string","description":"Chat room id for which the invitation has to be sent"},"invited_profile_id":{"type":"string","description":"Profile Id for whom the invitation is being sent"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"9786579e-9062-42ed-aa34-fda95a050ed5\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/9786579e-9062-42ed-aa34-fda95a050ed5/\",\n    \"created_at\": \"2021-10-12T14:11:15.028377Z\",\n    \"status\": \"pending\",\n    \"invited_profile\": {\n        \"id\": \"cb3bd893-00eb-486b-8f40-bb198aa1f595\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/\",\n        \"created_at\": \"2021-09-17T10:30:56.891495Z\",\n        \"nickname\": \"Avinash Mishra\",\n        \"custom_data\": null,\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/badge-progress/\",\n        \"subscribe_channel\": \"profile.cb3bd893-00eb-486b-8f40-bb198aa1f595\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/chat-room-memberships/\"\n    },\n    \"chat_room\": {\n        \"id\": \"6c932689-3a92-46c5-95ef-2855d0ceed41\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/\",\n        \"client_id\": \"f1chnK2agE6OXrK5i5pJialmiStntuL8OaKcFEbf\",\n        \"title\": \"boom\",\n        \"created_at\": \"2021-10-12T14:11:04.882466Z\",\n        \"content_filter\": \"none\",\n        \"visibility\": \"members\",\n        \"channels\": {\n            \"chat\": {\n                \"sendbird\": null,\n                \"pubnub\": \"chatroom.6c932689-3a92-46c5-95ef-2855d0ceed41\"\n            },\n            \"reactions\": {\n                \"pubnub\": \"chatroom.reactions.6c932689-3a92-46c5-95ef-2855d0ceed41\"\n            },\n            \"control\": {\n                \"pubnub\": \"chatroom.control.6c932689-3a92-46c5-95ef-2855d0ceed41\"\n            }\n        },\n        \"report_message_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/report-chat-message/\",\n        \"reported_messages_url\": \"https://cf-blast.livelikecdn.com/api/v1/reported-chat-room-messages/?chat_room_id=6c932689-3a92-46c5-95ef-2855d0ceed41&status=pending\",\n        \"delete_message_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/delete-chat-message/\",\n        \"upload_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/upload/\",\n        \"memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/memberships/\",\n        \"muted_status_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/muted-status/{profile_id}/\",\n        \"custom_messages_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/custom-messages/\",\n        \"sticker_packs_url\": \"https://cf-blast-storage.livelikecdn.com/sticker-packs/6c932689-3a92-46c5-95ef-2855d0ceed41/sticker_packs.json\",\n        \"reaction_packs_url\": \"https://cf-blast-storage.livelikecdn.com/reaction-packs/6c932689-3a92-46c5-95ef-2855d0ceed41/reaction_packs.json\",\n        \"custom_data\": null,\n        \"sponsors_url\": \"https://cf-blast-storage.livelikecdn.com/sponsors/6c932689-3a92-46c5-95ef-2855d0ceed41/sponsors.json\"\n    },\n    \"invited_by\": {\n        \"id\": \"c8d2922f-8324-4a9a-97f6-88851c53d331\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/\",\n        \"created_at\": \"2021-06-10T07:54:36.470604Z\",\n        \"nickname\": \"Gautam Aggarwal\",\n        \"custom_data\": null,\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/badge-progress/\",\n        \"subscribe_channel\": \"profile.c8d2922f-8324-4a9a-97f6-88851c53d331\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/chat-room-memberships/\"\n    },\n    \"chat_room_id\": \"6c932689-3a92-46c5-95ef-2855d0ceed41\",\n    \"invited_profile_id\": \"cb3bd893-00eb-486b-8f40-bb198aa1f595\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"9786579e-9062-42ed-aa34-fda95a050ed5"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/9786579e-9062-42ed-aa34-fda95a050ed5/"},"created_at":{"type":"string","example":"2021-10-12T14:11:15.028377Z"},"status":{"type":"string","example":"pending"},"invited_profile":{"type":"object","properties":{"id":{"type":"string","example":"cb3bd893-00eb-486b-8f40-bb198aa1f595"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/"},"created_at":{"type":"string","example":"2021-09-17T10:30:56.891495Z"},"nickname":{"type":"string","example":"Avinash Mishra"},"custom_data":{},"points":{"type":"integer","example":0,"default":0},"badges":{"type":"array"},"badges_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/badges/"},"badge_progress_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/badge-progress/"},"subscribe_channel":{"type":"string","example":"profile.cb3bd893-00eb-486b-8f40-bb198aa1f595"},"reported_count":{"type":"integer","example":0,"default":0},"chat_room_memberships_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/chat-room-memberships/"}}},"chat_room":{"type":"object","properties":{"id":{"type":"string","example":"6c932689-3a92-46c5-95ef-2855d0ceed41"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/"},"client_id":{"type":"string","example":"f1chnK2agE6OXrK5i5pJialmiStntuL8OaKcFEbf"},"title":{"type":"string","example":"boom"},"created_at":{"type":"string","example":"2021-10-12T14:11:04.882466Z"},"content_filter":{"type":"string","example":"none"},"visibility":{"type":"string","example":"members"},"channels":{"type":"object","properties":{"chat":{"type":"object","properties":{"sendbird":{},"pubnub":{"type":"string","example":"chatroom.6c932689-3a92-46c5-95ef-2855d0ceed41"}}},"reactions":{"type":"object","properties":{"pubnub":{"type":"string","example":"chatroom.reactions.6c932689-3a92-46c5-95ef-2855d0ceed41"}}},"control":{"type":"object","properties":{"pubnub":{"type":"string","example":"chatroom.control.6c932689-3a92-46c5-95ef-2855d0ceed41"}}}}},"report_message_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/report-chat-message/"},"reported_messages_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/reported-chat-room-messages/?chat_room_id=6c932689-3a92-46c5-95ef-2855d0ceed41&status=pending"},"delete_message_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/delete-chat-message/"},"upload_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/upload/"},"memberships_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/memberships/"},"muted_status_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/muted-status/{profile_id}/"},"custom_messages_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/custom-messages/"},"sticker_packs_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/sticker-packs/6c932689-3a92-46c5-95ef-2855d0ceed41/sticker_packs.json"},"reaction_packs_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/reaction-packs/6c932689-3a92-46c5-95ef-2855d0ceed41/reaction_packs.json"},"custom_data":{},"sponsors_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/sponsors/6c932689-3a92-46c5-95ef-2855d0ceed41/sponsors.json"}}},"invited_by":{"type":"object","properties":{"id":{"type":"string","example":"c8d2922f-8324-4a9a-97f6-88851c53d331"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/"},"created_at":{"type":"string","example":"2021-06-10T07:54:36.470604Z"},"nickname":{"type":"string","example":"Gautam Aggarwal"},"custom_data":{},"points":{"type":"integer","example":0,"default":0},"badges":{"type":"array"},"badges_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/badges/"},"badge_progress_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/badge-progress/"},"subscribe_channel":{"type":"string","example":"profile.c8d2922f-8324-4a9a-97f6-88851c53d331"},"reported_count":{"type":"integer","example":0,"default":0},"chat_room_memberships_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/chat-room-memberships/"}}},"chat_room_id":{"type":"string","example":"6c932689-3a92-46c5-95ef-2855d0ceed41"},"invited_profile_id":{"type":"string","example":"cb3bd893-00eb-486b-8f40-bb198aa1f595"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"detail\": \"Authentication credentials were not provided.\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication credentials were not provided."}}}}}},"409":{"description":"409","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"detail\": \"Invitation already exists.\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Invitation already exists."}}}}}}},"deprecated":false}},"/{id}/":{"patch":{"summary":"Update a Chat Room Invitation","description":"For accepting/rejecting invitation sent by user","operationId":"update-a-chat-room-invitation","parameters":[{"name":"id","in":"path","description":"Chatroom-invitation-id","schema":{"type":"string"},"required":true},{"name":"Authorization","in":"header","description":"Bearer {Token} of the user who is accepting the invite","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"accepted or rejected"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"9786579e-9062-42ed-aa34-fda95a050ed5\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/9786579e-9062-42ed-aa34-fda95a050ed5/\",\n    \"created_at\": \"2021-10-12T14:11:15.028377Z\",\n    \"status\": \"accepted\",\n    \"invited_profile\": {\n        \"id\": \"cb3bd893-00eb-486b-8f40-bb198aa1f595\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/\",\n        \"created_at\": \"2021-09-17T10:30:56.891495Z\",\n        \"nickname\": \"Avinash Mishra\",\n        \"custom_data\": null,\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/badge-progress/\",\n        \"subscribe_channel\": \"profile.cb3bd893-00eb-486b-8f40-bb198aa1f595\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/chat-room-memberships/\"\n    },\n    \"chat_room\": {\n        \"id\": \"6c932689-3a92-46c5-95ef-2855d0ceed41\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/\",\n        \"client_id\": \"f1chnK2agE6OXrK5i5pJialmiStntuL8OaKcFEbf\",\n        \"title\": \"boom\",\n        \"created_at\": \"2021-10-12T14:11:04.882466Z\",\n        \"content_filter\": \"none\",\n        \"visibility\": \"members\",\n        \"channels\": {\n            \"chat\": {\n                \"sendbird\": null,\n                \"pubnub\": \"chatroom.6c932689-3a92-46c5-95ef-2855d0ceed41\"\n            },\n            \"reactions\": {\n                \"pubnub\": \"chatroom.reactions.6c932689-3a92-46c5-95ef-2855d0ceed41\"\n            },\n            \"control\": {\n                \"pubnub\": \"chatroom.control.6c932689-3a92-46c5-95ef-2855d0ceed41\"\n            }\n        },\n        \"report_message_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/report-chat-message/\",\n        \"reported_messages_url\": \"https://cf-blast.livelikecdn.com/api/v1/reported-chat-room-messages/?chat_room_id=6c932689-3a92-46c5-95ef-2855d0ceed41&status=pending\",\n        \"delete_message_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/delete-chat-message/\",\n        \"upload_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/upload/\",\n        \"memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/memberships/\",\n        \"muted_status_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/muted-status/{profile_id}/\",\n        \"custom_messages_url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/custom-messages/\",\n        \"sticker_packs_url\": \"https://cf-blast-storage.livelikecdn.com/sticker-packs/6c932689-3a92-46c5-95ef-2855d0ceed41/sticker_packs.json\",\n        \"reaction_packs_url\": \"https://cf-blast-storage.livelikecdn.com/reaction-packs/6c932689-3a92-46c5-95ef-2855d0ceed41/reaction_packs.json\",\n        \"custom_data\": null,\n        \"sponsors_url\": \"https://cf-blast-storage.livelikecdn.com/sponsors/6c932689-3a92-46c5-95ef-2855d0ceed41/sponsors.json\"\n    },\n    \"invited_by\": {\n        \"id\": \"c8d2922f-8324-4a9a-97f6-88851c53d331\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/\",\n        \"created_at\": \"2021-06-10T07:54:36.470604Z\",\n        \"nickname\": \"Gautam Aggarwal\",\n        \"custom_data\": null,\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/badge-progress/\",\n        \"subscribe_channel\": \"profile.c8d2922f-8324-4a9a-97f6-88851c53d331\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/chat-room-memberships/\"\n    },\n    \"chat_room_id\": \"6c932689-3a92-46c5-95ef-2855d0ceed41\",\n    \"invited_profile_id\": \"cb3bd893-00eb-486b-8f40-bb198aa1f595\"\n}\n"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"9786579e-9062-42ed-aa34-fda95a050ed5"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/9786579e-9062-42ed-aa34-fda95a050ed5/"},"created_at":{"type":"string","example":"2021-10-12T14:11:15.028377Z"},"status":{"type":"string","example":"accepted"},"invited_profile":{"type":"object","properties":{"id":{"type":"string","example":"cb3bd893-00eb-486b-8f40-bb198aa1f595"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/"},"created_at":{"type":"string","example":"2021-09-17T10:30:56.891495Z"},"nickname":{"type":"string","example":"Avinash Mishra"},"custom_data":{},"points":{"type":"integer","example":0,"default":0},"badges":{"type":"array"},"badges_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/badges/"},"badge_progress_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/badge-progress/"},"subscribe_channel":{"type":"string","example":"profile.cb3bd893-00eb-486b-8f40-bb198aa1f595"},"reported_count":{"type":"integer","example":0,"default":0},"chat_room_memberships_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/cb3bd893-00eb-486b-8f40-bb198aa1f595/chat-room-memberships/"}}},"chat_room":{"type":"object","properties":{"id":{"type":"string","example":"6c932689-3a92-46c5-95ef-2855d0ceed41"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/"},"client_id":{"type":"string","example":"f1chnK2agE6OXrK5i5pJialmiStntuL8OaKcFEbf"},"title":{"type":"string","example":"boom"},"created_at":{"type":"string","example":"2021-10-12T14:11:04.882466Z"},"content_filter":{"type":"string","example":"none"},"visibility":{"type":"string","example":"members"},"channels":{"type":"object","properties":{"chat":{"type":"object","properties":{"sendbird":{},"pubnub":{"type":"string","example":"chatroom.6c932689-3a92-46c5-95ef-2855d0ceed41"}}},"reactions":{"type":"object","properties":{"pubnub":{"type":"string","example":"chatroom.reactions.6c932689-3a92-46c5-95ef-2855d0ceed41"}}},"control":{"type":"object","properties":{"pubnub":{"type":"string","example":"chatroom.control.6c932689-3a92-46c5-95ef-2855d0ceed41"}}}}},"report_message_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/report-chat-message/"},"reported_messages_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/reported-chat-room-messages/?chat_room_id=6c932689-3a92-46c5-95ef-2855d0ceed41&status=pending"},"delete_message_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/delete-chat-message/"},"upload_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/upload/"},"memberships_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/memberships/"},"muted_status_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/muted-status/{profile_id}/"},"custom_messages_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/6c932689-3a92-46c5-95ef-2855d0ceed41/custom-messages/"},"sticker_packs_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/sticker-packs/6c932689-3a92-46c5-95ef-2855d0ceed41/sticker_packs.json"},"reaction_packs_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/reaction-packs/6c932689-3a92-46c5-95ef-2855d0ceed41/reaction_packs.json"},"custom_data":{},"sponsors_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/sponsors/6c932689-3a92-46c5-95ef-2855d0ceed41/sponsors.json"}}},"invited_by":{"type":"object","properties":{"id":{"type":"string","example":"c8d2922f-8324-4a9a-97f6-88851c53d331"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/"},"created_at":{"type":"string","example":"2021-06-10T07:54:36.470604Z"},"nickname":{"type":"string","example":"Gautam Aggarwal"},"custom_data":{},"points":{"type":"integer","example":0,"default":0},"badges":{"type":"array"},"badges_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/badges/"},"badge_progress_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/badge-progress/"},"subscribe_channel":{"type":"string","example":"profile.c8d2922f-8324-4a9a-97f6-88851c53d331"},"reported_count":{"type":"integer","example":0,"default":0},"chat_room_memberships_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/c8d2922f-8324-4a9a-97f6-88851c53d331/chat-room-memberships/"}}},"chat_room_id":{"type":"string","example":"6c932689-3a92-46c5-95ef-2855d0ceed41"},"invited_profile_id":{"type":"string","example":"cb3bd893-00eb-486b-8f40-bb198aa1f595"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"status\": [\n        \"\\\"accepted1\\\" is not a valid choice.\"\n    ]\n}"}},"schema":{"type":"object","properties":{"status":{"type":"array","items":{"type":"string","example":"\"accepted1\" is not a valid choice."}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"detail\": \"Authentication credentials were invalid or not provided.\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication credentials were invalid or not provided."}}}}}},"409":{"description":"409","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"detail\": \"Invitation is already accepted or rejected.\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Invitation is already accepted or rejected."}}}}}}},"deprecated":false},"delete":{"summary":"Delete a Chat Room Invitation","description":"","operationId":"delete-a-chat-room-invitation","parameters":[{"name":"id","in":"path","description":"Invitation ID","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"409":{"description":"409","content":{"application/json":{"examples":{"Result":{"value":"{\"detail\": \"Invitation is already accepted or rejected.\"}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Invitation is already accepted or rejected."}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}