{
  "openapi": "3.1.0",
  "info": {
    "title": "engagement-suite",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://cf-blast.livelikecdn.com/api/v1"
    }
  ],
  "security": [
    {}
  ],
  "paths": {
    "/profile-blocks/": {
      "post": {
        "summary": "Block a Profile",
        "description": "",
        "operationId": "create-a-profile-block",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "blocked_profile_id": {
                    "type": "string",
                    "description": "profile uuid that is being blocked"
                  },
                  "blocked_profile_custom_id": {
                    "type": "string",
                    "description": "profile custom id that is being blocked"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"bb24c17d-ab00-4085-9c0d-c3f1136de5f5\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/bb24c17d-ab00-4085-9c0d-c3f1136de5f5/\",\n    \"blocked_profile_id\": \"f394d2cc-e7a3-4b73-9bed-81b38022f718\",\n    \"blocked_by_profile_id\": \"76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1\",\n    \"blocked_profile\": {\n        \"id\": \"f394d2cc-e7a3-4b73-9bed-81b38022f718\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/\",\n        \"created_at\": \"2021-11-04T16:02:37Z\",\n        \"nickname\": \"Happy Giraffe\",\n        \"custom_data\": \"\",\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/badge-progress/\",\n        \"subscribe_channel\": \"profile.f394d2cc-e7a3-4b73-9bed-81b38022f718\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/chat-room-memberships/\",\n        \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/reward-item-credits/\",\n        \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/reward-item-debits/\",\n        \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/reward-item-balances/\",\n        \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/reward-item-transfers/\",\n        \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n        \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\"\n    },\n    \"blocked_by_profile\": {\n        \"id\": \"76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/\",\n        \"created_at\": \"2021-11-10T07:01:49Z\",\n        \"nickname\": \"Snarky Winner\",\n        \"custom_data\": \"\",\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/badge-progress/\",\n        \"subscribe_channel\": \"profile.76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/chat-room-memberships/\",\n        \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/reward-item-credits/\",\n        \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/reward-item-debits/\",\n        \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/reward-item-balances/\",\n        \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/reward-item-transfers/\",\n        \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n        \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "bb24c17d-ab00-4085-9c0d-c3f1136de5f5"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/bb24c17d-ab00-4085-9c0d-c3f1136de5f5/"
                    },
                    "blocked_profile_id": {
                      "type": "string",
                      "example": "f394d2cc-e7a3-4b73-9bed-81b38022f718"
                    },
                    "blocked_by_profile_id": {
                      "type": "string",
                      "example": "76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1"
                    },
                    "blocked_profile": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "f394d2cc-e7a3-4b73-9bed-81b38022f718"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2021-11-04T16:02:37Z"
                        },
                        "nickname": {
                          "type": "string",
                          "example": "Happy Giraffe"
                        },
                        "custom_data": {
                          "type": "string",
                          "example": ""
                        },
                        "points": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "badges": {
                          "type": "array"
                        },
                        "badges_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/badges/"
                        },
                        "badge_progress_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/badge-progress/"
                        },
                        "subscribe_channel": {
                          "type": "string",
                          "example": "profile.f394d2cc-e7a3-4b73-9bed-81b38022f718"
                        },
                        "reported_count": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "chat_room_memberships_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/chat-room-memberships/"
                        },
                        "reward_item_credit_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/reward-item-credits/"
                        },
                        "reward_item_debit_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/reward-item-debits/"
                        },
                        "reward_item_balances_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/reward-item-balances/"
                        },
                        "reward_item_transfer_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f394d2cc-e7a3-4b73-9bed-81b38022f718/reward-item-transfers/"
                        },
                        "block_profile_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/"
                        },
                        "blocked_profiles_template_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}"
                        }
                      }
                    },
                    "blocked_by_profile": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2021-11-10T07:01:49Z"
                        },
                        "nickname": {
                          "type": "string",
                          "example": "Snarky Winner"
                        },
                        "custom_data": {
                          "type": "string",
                          "example": ""
                        },
                        "points": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "badges": {
                          "type": "array"
                        },
                        "badges_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/badges/"
                        },
                        "badge_progress_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/badge-progress/"
                        },
                        "subscribe_channel": {
                          "type": "string",
                          "example": "profile.76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1"
                        },
                        "reported_count": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "chat_room_memberships_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/chat-room-memberships/"
                        },
                        "reward_item_credit_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/reward-item-credits/"
                        },
                        "reward_item_debit_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/reward-item-debits/"
                        },
                        "reward_item_balances_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/reward-item-balances/"
                        },
                        "reward_item_transfer_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/76b6db04-8e0c-47a7-ae6a-0c6e7958fcc1/reward-item-transfers/"
                        },
                        "block_profile_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/"
                        },
                        "blocked_profiles_template_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid profile ID": {
                    "value": {
                      "detail": [
                        "Blocked profile not found"
                      ]
                    },
                    "summary": "Invalid profile ID"
                  },
                  "No blocked_profile_id or blocked_profile_custom_id provided": {
                    "summary": "No blocked_profile_id or blocked_profile_custom_id provided",
                    "value": {
                      "detail": [
                        "Provide either blocked_profile_id or blocked_profile_custom_id"
                      ]
                    }
                  },
                  "Both fields provided": {
                    "summary": "Both fields provided",
                    "value": {
                      "detail": [
                        "Provide only one of blocked_profile_id or blocked_profile_custom_id"
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocked_profile_id": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "'7eb85742-64d1-451d-966e-d8f8cfeab9221' is not a valid UUID."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"detail\": \"Profile is already blocked.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Profile is already blocked."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\"\n\npayload = \"{\\n   \\\"blocked_profile_id\\\": \\\"f394d2cc-e7a3-4b73-9bed-81b38022f718\\\"\\n}\"\nheaders = {\n    'content-type': \"application/json\",\n    'authorization': \"Bearer {profile_access_token}\",\n    'cache-control': \"no-cache\",\n    'postman-token': \"78d705d5-d1a7-b8e1-c4a8-200c8768607c\"\n    }\n\nresponse = requests.request(\"POST\", url, data=payload, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "curl",
              "code": "curl -X POST \\\n  https://cf-blast.livelikecdn.com/api/v1/profile-blocks/ \\\n  -H 'authorization: Bearer {profile_access_token}' \\\n  -H 'cache-control: no-cache' \\\n  -H 'content-type: application/json' \\\n  -H 'postman-token: b22ef7b8-4a39-a602-6ac2-142b861233c1' \\\n  -d '{\n   \"blocked_profile_id\": \"f394d2cc-e7a3-4b73-9bed-81b38022f718\"\n}'"
            }
          ],
          "samples-languages": [
            "python",
            "curl"
          ]
        }
      }
    },
    "/unblock-by-profile-custom-id/{client_id}/{blocked_profile_custom_id}/": {
      "delete": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "blocked_profile_custom_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "operationId": "delete_unblock-by-profile-custom-id-client-id-blocked-profile-custom-id"
      }
    },
    "/profiles/{blocked_by_profile_id}/profile-blocks/{blocked_profile_id}/": {
      "delete": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "blocked_by_profile_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "blocked_profile_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "operationId": "delete_profiles-blocked-by-profile-id-profile-blocks-blocked-profile-id"
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}