{
  "openapi": "3.1.0",
  "info": {
    "title": "engagement-suite",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://cf-blast.livelikecdn.com/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/applications/{client_id}/profile/": {
      "post": {
        "summary": "Create User Profile",
        "description": "",
        "operationId": "create-user-profile",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "Unique identifier of application",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nickname": {
                    "type": "string",
                    "description": "If not provided, a nickname will be assigned"
                  },
                  "custom_data": {
                    "type": "string",
                    "description": "String data to send with the user profile.  Typically contains a string JSON payload to be decoded by the client SDK"
                  },
                  "attributes": {
                    "type": "array",
                    "description": "Optional key value pair attributes",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "type": "object"
                    }
                  },
                  "custom_id": {
                    "type": "string",
                    "description": "The custom ID to be associated with the profile"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"cf827079-fdca-49b9-a775-f24198496d5e\",\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/\",\n  \"created_at\": \"2019-09-30T15:59:44.933696Z\",\n  \"nickname\": \"My Nickname\",\n  \"points\": 0,\n  \"badges\": [],\n  \"attributes\": [\n    {\n      \"key\": \"team_name\",\n      \"value\": \"All Stars\"\n    }\n   ],\n  \"subscribe_channel\": \"profile.cf827079-fdca-49b9-a775-f24198496d5e\",\n  \"reported_count\": 0,\n  \"access_token\": \"O9twWCDxrthFpZ9ATRYl9Zy7RdgOiZVCb4g1kh6AAWUPwqCO94rleQ\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "cf827079-fdca-49b9-a775-f24198496d5e"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2019-09-30T15:59:44.933696Z"
                    },
                    "nickname": {
                      "type": "string",
                      "example": "My Nickname"
                    },
                    "points": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "badges": {
                      "type": "array"
                    },
                    "attributes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "team_name"
                          },
                          "value": {
                            "type": "string",
                            "example": "All Stars"
                          }
                        }
                      }
                    },
                    "subscribe_channel": {
                      "type": "string",
                      "example": "profile.cf827079-fdca-49b9-a775-f24198496d5e"
                    },
                    "reported_count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "access_token": {
                      "type": "string",
                      "example": "O9twWCDxrthFpZ9ATRYl9Zy7RdgOiZVCb4g1kh6AAWUPwqCO94rleQ"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/profile-by-custom-id/{client_id}/{custom_id}/": {
      "post": {
        "summary": "Create Profile by Custom ID",
        "description": "Create a new user profile with a custom ID",
        "operationId": "create-profile-by-custom-id",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "The client ID of the application the profile was created in",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "custom_id",
            "in": "path",
            "description": "The custom ID to be associated with the profile",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nickname": {
                    "type": "string",
                    "description": "If not provided, a randomized nickname will be assigned"
                  },
                  "custom_data": {
                    "type": "string",
                    "description": "String data to send with the user profile.  Typically contains a string JSON payload to be decoded by the client SDK"
                  },
                  "attributes": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"created_at\": \"2025-01-23T10:14:06+0000\",\n    \"client_id\": \"mOBYul18quffrBDuq2IACKtVuLbUzXIPye5S3bq5\",\n    \"redemption_keys_url\": \"https://cf-blast.livelikecdn.com/api/v1/redemption-keys/\",\n    \"custom_id\": \"012345\",\n    \"attributes\": [],\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/\",\n    \"leaderboards_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/leaderboards/\",\n    \"leaderboard_views_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/leaderboard-views/\",\n    \"access_token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjbGllbnRfaWQiOiJtT0JZdWwxOHF1ZmZyQkR1cTJJQUNLdFZ1TGJVelhJUHllNVMzYnE1IiwiaWF0IjoxNzM3NjI3MjQ2LCJpZCI6ImY4YWViOGNlLTc3NTctNDZiMi1hMWE4LWE2YWU3OTQ2YzFlYiIsImFjY2Vzc190b2tlbiI6IjkxZThhYjVhNTEyMjVhOWNhZjk1NGU4MzE4YTMyNzkzNjE4MGM0OTQiLCJpc3MiOiJibGFzdHJ0In0.8WsYdQ0MrCSjhRTuT_tZLkh4S9z8_iYJ0hDh8ywkY3Q\",\n    \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/reward-item-balances/\",\n    \"blocked_profile_ids_url\": \"https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/\",\n    \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/reward-item-credits/\",\n    \"nickname\": \"test\",\n    \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/reward-item-debits/\",\n    \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n    \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/reward-item-transfers/\",\n    \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/badge-progress/\",\n    \"custom_data\": null,\n    \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/badges/\",\n    \"points\": 0,\n    \"badges\": [],\n    \"reported_count\": 0,\n    \"subscribe_channel\": \"profile.f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb\",\n    \"id\": \"f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb\",\n    \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/chat-room-memberships/\",\n    \"chat_room_invitations_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/?client_id={client_id}&invited_profile_id={profile_id}\",\n    \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string",
                      "example": "2025-01-23T10:14:06+0000"
                    },
                    "client_id": {
                      "type": "string",
                      "example": "mOBYul18quffrBDuq2IACKtVuLbUzXIPye5S3bq5"
                    },
                    "redemption_keys_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/redemption-keys/"
                    },
                    "custom_id": {
                      "type": "string",
                      "example": "012345"
                    },
                    "attributes": {
                      "type": "array"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/"
                    },
                    "leaderboards_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/leaderboards/"
                    },
                    "leaderboard_views_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/leaderboard-views/"
                    },
                    "access_token": {
                      "type": "string",
                      "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjbGllbnRfaWQiOiJtT0JZdWwxOHF1ZmZyQkR1cTJJQUNLdFZ1TGJVelhJUHllNVMzYnE1IiwiaWF0IjoxNzM3NjI3MjQ2LCJpZCI6ImY4YWViOGNlLTc3NTctNDZiMi1hMWE4LWE2YWU3OTQ2YzFlYiIsImFjY2Vzc190b2tlbiI6IjkxZThhYjVhNTEyMjVhOWNhZjk1NGU4MzE4YTMyNzkzNjE4MGM0OTQiLCJpc3MiOiJibGFzdHJ0In0.8WsYdQ0MrCSjhRTuT_tZLkh4S9z8_iYJ0hDh8ywkY3Q"
                    },
                    "reward_item_balances_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/reward-item-balances/"
                    },
                    "blocked_profile_ids_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/"
                    },
                    "reward_item_credit_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/reward-item-credits/"
                    },
                    "nickname": {
                      "type": "string",
                      "example": "test"
                    },
                    "reward_item_debit_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/reward-item-debits/"
                    },
                    "block_profile_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/"
                    },
                    "reward_item_transfer_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/reward-item-transfers/"
                    },
                    "badge_progress_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/badge-progress/"
                    },
                    "custom_data": {},
                    "badges_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/badges/"
                    },
                    "points": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "badges": {
                      "type": "array"
                    },
                    "reported_count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "subscribe_channel": {
                      "type": "string",
                      "example": "profile.f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb"
                    },
                    "id": {
                      "type": "string",
                      "example": "f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb"
                    },
                    "chat_room_memberships_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/f8aeb8ce-7757-46b2-a1a8-a6ae7946c1eb/chat-room-memberships/"
                    },
                    "chat_room_invitations_url_template": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/?client_id={client_id}&invited_profile_id={profile_id}"
                    },
                    "blocked_profiles_template_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"detail\": \"profile with custom_id 'example' already exists.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "profile with custom_id 'example' already exists."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get Profile by Custom ID",
        "description": "Get a user profile by its custom ID",
        "operationId": "get-profile-by-custom-id",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "The client ID of the application the profile was created in",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "custom_id",
            "in": "path",
            "description": "The custom ID associated with the profile",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"badges\": [],\n  \"id\": \"cf827079-fdca-49b9-a775-f24198496d5e\",\n  \"custom_id\": \"example-custom-id\",\n  \"subscribe_channel\": \"profile.cf827079-fdca-49b9-a775-f24198496d5e\",\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/\",\n  \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/chat-room-memberships/\",\n  \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\",\n  \"client_id\": \"N8mzx8CUQWzTXBkKrKIXtvh4NY3dztltjxncM68c\",\n  \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/reward-item-balances/\",\n  \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/reward-item-credits/\",\n  \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/reward-item-debits/\",\n  \"custom_data\": null,\n  \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/reward-item-transfers/\",\n  \"chat_room_invitations_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/?client_id={client_id}&invited_profile_id={profile_id}\",\n  \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/badges/\",\n  \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/badge-progress/\",\n  \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n  \"blocked_profile_ids_url\": \"https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/\",\n  \"points\": 0,\n  \"reported_count\": 0,\n  \"created_at\": \"2019-09-30T15:59:44.933696Z\",\n  \"nickname\": \"Swift Bear\",\n   \"attributes\": [\n    {\n      \"key\": \"team_name\",\n      \"value\": \"All Stars\"\n    }\n   ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "badges": {
                      "type": "array"
                    },
                    "id": {
                      "type": "string",
                      "example": "cf827079-fdca-49b9-a775-f24198496d5e"
                    },
                    "custom_id": {
                      "type": "string",
                      "example": "example-custom-id"
                    },
                    "subscribe_channel": {
                      "type": "string",
                      "example": "profile.cf827079-fdca-49b9-a775-f24198496d5e"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/"
                    },
                    "chat_room_memberships_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/chat-room-memberships/"
                    },
                    "blocked_profiles_template_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}"
                    },
                    "client_id": {
                      "type": "string",
                      "example": "N8mzx8CUQWzTXBkKrKIXtvh4NY3dztltjxncM68c"
                    },
                    "reward_item_balances_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/reward-item-balances/"
                    },
                    "reward_item_credit_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/reward-item-credits/"
                    },
                    "reward_item_debit_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/reward-item-debits/"
                    },
                    "custom_data": {},
                    "reward_item_transfer_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/reward-item-transfers/"
                    },
                    "chat_room_invitations_url_template": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/chat-room-invitations/?client_id={client_id}&invited_profile_id={profile_id}"
                    },
                    "badges_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/badges/"
                    },
                    "badge_progress_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cf827079-fdca-49b9-a775-f24198496d5e/badge-progress/"
                    },
                    "block_profile_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/"
                    },
                    "blocked_profile_ids_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/"
                    },
                    "points": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "reported_count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2019-09-30T15:59:44.933696Z"
                    },
                    "nickname": {
                      "type": "string",
                      "example": "Swift Bear"
                    },
                    "attributes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "team_name"
                          },
                          "value": {
                            "type": "string",
                            "example": "All Stars"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/profiles/{id}/prizeout-session/": {
      "post": {
        "summary": "Prizeout User Session",
        "description": "",
        "operationId": "prizeout-user-session",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of profile",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer <access-token>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "country",
                  "region",
                  "year_of_birth"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "year_of_birth": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"session_id\": \"fdf7f8bf-6d26-45cc-82ba-2211b0b67b84\",\n    \"profile_id\": \"6fa4e248-e214-43e8-9214-8ec790dcb9c6\",\n    \"email\": \"abcd@gmail.com\",\n    \"created_at\": \"2022-11-04T09:01:17.352135Z\",\n    \"session_timeout\": \"P0DT00H30M00S\",\n    \"firstname\": \"AK\",\n    \"lastname\": \"KA\",\n    \"gender\": \"male\",\n    \"year_of_birth\": 1999,\n    \"country\": \"US\",\n    \"region\": \"MA\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "example": "fdf7f8bf-6d26-45cc-82ba-2211b0b67b84"
                    },
                    "profile_id": {
                      "type": "string",
                      "example": "6fa4e248-e214-43e8-9214-8ec790dcb9c6"
                    },
                    "email": {
                      "type": "string",
                      "example": "abcd@gmail.com"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-11-04T09:01:17.352135Z"
                    },
                    "session_timeout": {
                      "type": "string",
                      "example": "P0DT00H30M00S"
                    },
                    "firstname": {
                      "type": "string",
                      "example": "AK"
                    },
                    "lastname": {
                      "type": "string",
                      "example": "KA"
                    },
                    "gender": {
                      "type": "string",
                      "example": "male"
                    },
                    "year_of_birth": {
                      "type": "integer",
                      "example": 1999,
                      "default": 0
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "region": {
                      "type": "string",
                      "example": "MA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"email\": [\n        \"This field is required.\"\n    ],\n    \"year_of_birth\": [\n        \"This field is required.\"\n    ],\n    \"country\": [\n        \"This field is required.\"\n    ],\n    \"region\": [\n        \"This field is required.\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    },
                    "year_of_birth": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    },
                    "country": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    },
                    "region": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/profile-relationship-types/": {
      "get": {
        "summary": "List Relationship Types",
        "description": "",
        "operationId": "list-relationship-types",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "The Application's Client ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"count\": 1,\n  \"next\": null,\n  \"previous\": null,\n  \"results\": [\n    {\n      \"id\": \"1da7c4c8-6e42-4d50-8d32-aa0be0bd0933\",\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/1da7c4c8-6e42-4d50-8d32-aa0be0bd0933/\",\n      \"created_at\": \"2023-02-21T14:43:30.325594Z\",\n      \"client_id\": \"BpwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP\",\n      \"name\": \"Follow\",\n      \"key\": \"follow\"\n    }\n  ]\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "next": {},
                    "previous": {},
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "1da7c4c8-6e42-4d50-8d32-aa0be0bd0933"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/1da7c4c8-6e42-4d50-8d32-aa0be0bd0933/"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2023-02-21T14:43:30.325594Z"
                          },
                          "client_id": {
                            "type": "string",
                            "example": "BpwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP"
                          },
                          "name": {
                            "type": "string",
                            "example": "Follow"
                          },
                          "key": {
                            "type": "string",
                            "example": "follow"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"client_id\": [\n    \"This field is required.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create a Relationship Type",
        "description": "",
        "operationId": "create-a-relationship-type",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "name",
                  "key"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "The Application's Client ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The human-readable name of the relationship type.  Example: \"Follow\""
                  },
                  "key": {
                    "type": "string",
                    "description": "The key of the relationship type.  The key must be unique within the application.  Example: `follow`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"client_id\": \"BpwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP\",\n  \"created_at\": \"2023-02-21T14:43:30.325594Z\",\n  \"id\": \"1da7c4c8-6e42-4d50-8d32-aa0be0bd0933\",\n  \"key\": \"follow\",\n  \"name\": \"Follow\",\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/1da7c4c8-6e42-4d50-8d32-aa0be0bd0933/\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "string",
                      "example": "BpwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-02-21T14:43:30.325594Z"
                    },
                    "id": {
                      "type": "string",
                      "example": "1da7c4c8-6e42-4d50-8d32-aa0be0bd0933"
                    },
                    "key": {
                      "type": "string",
                      "example": "follow"
                    },
                    "name": {
                      "type": "string",
                      "example": "Follow"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/1da7c4c8-6e42-4d50-8d32-aa0be0bd0933/"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"key\": [\n    \"This field is required.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"detail\": \"relationship type with key already exists.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "relationship type with key already exists."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/profile-relationships/": {
      "post": {
        "summary": "Create a Profile Relationship",
        "description": "",
        "operationId": "create-a-profile-relationship",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "relationship_type_key",
                  "from_profile_id",
                  "to_profile_id"
                ],
                "properties": {
                  "relationship_type_key": {
                    "type": "string",
                    "description": "The `key` of the Relationship Type.  Example: `follow`"
                  },
                  "from_profile_id": {
                    "type": "string",
                    "description": "The ID of the user profile on the `from` side of the relationship.  When called with a Profile Access Token, this field must be the ID of the calling user."
                  },
                  "to_profile_id": {
                    "type": "string",
                    "description": "The ID of the user profile on the `to` side of the relationship."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"created_at\": \"2023-02-21T15:49:15.694898Z\",\n  \"from_profile\": {\n    \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badge-progress/\",\n    \"badges\": [],\n    \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badges/\",\n    \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n    \"blocked_profile_ids_url\": \"https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/\",\n    \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\",\n    \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/chat-room-memberships/\",\n    \"created_at\": \"2022-04-22T10:28:08Z\",\n    \"custom_data\": \"\",\n    \"custom_id\": null,\n    \"earned_badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=cb4a1bc8-fa5a-41e8-8add-ae48116ae788\",\n    \"id\": \"cb4a1bc8-fa5a-41e8-8add-ae48116ae788\",\n    \"leaderboard_views_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboard-views/\",\n    \"leaderboards_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboards/\",\n    \"nickname\": \"Loyal Champion\",\n    \"points\": 0,\n    \"reported_count\": 0,\n    \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-balances/\",\n    \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-credits/\",\n    \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-debits/\",\n    \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-transfers/\",\n    \"subscribe_channel\": \"profile.cb4a1bc8-fa5a-41e8-8add-ae48116ae788\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/\"\n  },\n  \"id\": \"5b3ba1d6-de13-4615-a344-6f3cdb7621e0\",\n  \"relationship_type\": {\n    \"client_id\": \"ApwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP\",\n    \"created_at\": \"2023-02-21T14:43:30.325594Z\",\n    \"id\": \"7da7c4c8-6e42-4d50-8d32-aa0be0bd0933\",\n    \"key\": \"follow\",\n    \"name\": \"Follow\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/7da7c4c8-6e42-4d50-8d32-aa0be0bd0933/\"\n  },\n  \"to_profile\": {\n    \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badge-progress/\",\n    \"badges\": [],\n    \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badges/\",\n    \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n    \"blocked_profile_ids_url\": \"https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/\",\n    \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\",\n    \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/chat-room-memberships/\",\n    \"created_at\": \"2021-05-12T02:49:52Z\",\n    \"custom_data\": null,\n    \"custom_id\": null,\n    \"earned_badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=c8b1d0e0-8e90-4094-b74a-1b4888002352\",\n    \"id\": \"c8b1d0e0-8e90-4094-b74a-1b4888002352\",\n    \"leaderboard_views_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboard-views/\",\n    \"leaderboards_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboards/\",\n    \"nickname\": \"Snarky Shark\",\n    \"points\": 0,\n    \"reported_count\": 0,\n    \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-balances/\",\n    \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-credits/\",\n    \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-debits/\",\n    \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-transfers/\",\n    \"subscribe_channel\": \"profile.c8b1d0e0-8e90-4094-b74a-1b4888002352\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/\"\n  },\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-relationships/5b3ba1d6-de13-4615-a344-6f3cdb7621e0/\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string",
                      "example": "2023-02-21T15:49:15.694898Z"
                    },
                    "from_profile": {
                      "type": "object",
                      "properties": {
                        "badge_progress_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badge-progress/"
                        },
                        "badges": {
                          "type": "array"
                        },
                        "badges_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badges/"
                        },
                        "block_profile_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/"
                        },
                        "blocked_profile_ids_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/"
                        },
                        "blocked_profiles_template_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}"
                        },
                        "chat_room_memberships_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/chat-room-memberships/"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2022-04-22T10:28:08Z"
                        },
                        "custom_data": {
                          "type": "string",
                          "example": ""
                        },
                        "custom_id": {},
                        "earned_badges_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=cb4a1bc8-fa5a-41e8-8add-ae48116ae788"
                        },
                        "id": {
                          "type": "string",
                          "example": "cb4a1bc8-fa5a-41e8-8add-ae48116ae788"
                        },
                        "leaderboard_views_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboard-views/"
                        },
                        "leaderboards_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboards/"
                        },
                        "nickname": {
                          "type": "string",
                          "example": "Loyal Champion"
                        },
                        "points": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "reported_count": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "reward_item_balances_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-balances/"
                        },
                        "reward_item_credit_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-credits/"
                        },
                        "reward_item_debit_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-debits/"
                        },
                        "reward_item_transfer_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-transfers/"
                        },
                        "subscribe_channel": {
                          "type": "string",
                          "example": "profile.cb4a1bc8-fa5a-41e8-8add-ae48116ae788"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/"
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "5b3ba1d6-de13-4615-a344-6f3cdb7621e0"
                    },
                    "relationship_type": {
                      "type": "object",
                      "properties": {
                        "client_id": {
                          "type": "string",
                          "example": "ApwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2023-02-21T14:43:30.325594Z"
                        },
                        "id": {
                          "type": "string",
                          "example": "7da7c4c8-6e42-4d50-8d32-aa0be0bd0933"
                        },
                        "key": {
                          "type": "string",
                          "example": "follow"
                        },
                        "name": {
                          "type": "string",
                          "example": "Follow"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/7da7c4c8-6e42-4d50-8d32-aa0be0bd0933/"
                        }
                      }
                    },
                    "to_profile": {
                      "type": "object",
                      "properties": {
                        "badge_progress_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badge-progress/"
                        },
                        "badges": {
                          "type": "array"
                        },
                        "badges_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badges/"
                        },
                        "block_profile_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/"
                        },
                        "blocked_profile_ids_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/"
                        },
                        "blocked_profiles_template_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}"
                        },
                        "chat_room_memberships_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/chat-room-memberships/"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2021-05-12T02:49:52Z"
                        },
                        "custom_data": {},
                        "custom_id": {},
                        "earned_badges_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=c8b1d0e0-8e90-4094-b74a-1b4888002352"
                        },
                        "id": {
                          "type": "string",
                          "example": "c8b1d0e0-8e90-4094-b74a-1b4888002352"
                        },
                        "leaderboard_views_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboard-views/"
                        },
                        "leaderboards_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboards/"
                        },
                        "nickname": {
                          "type": "string",
                          "example": "Snarky Shark"
                        },
                        "points": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "reported_count": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "reward_item_balances_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-balances/"
                        },
                        "reward_item_credit_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-credits/"
                        },
                        "reward_item_debit_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-debits/"
                        },
                        "reward_item_transfer_url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-transfers/"
                        },
                        "subscribe_channel": {
                          "type": "string",
                          "example": "profile.c8b1d0e0-8e90-4094-b74a-1b4888002352"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/"
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/profile-relationships/5b3ba1d6-de13-4615-a344-6f3cdb7621e0/"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"to_profile_id\": [\n    \"This field is required.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "to_profile_id": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"detail\": \"relationship already exists.\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "detail": {
                          "type": "string",
                          "example": "from_profile and to_profile cannot be the same."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "detail": {
                          "type": "string",
                          "example": "relationship already exists."
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "List Profile Relationships",
        "description": "",
        "operationId": "list-profile-relationships",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "The Application's Client ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relationship_type_key",
            "in": "query",
            "description": "The `key` of the Relationship Type.  Example: `follow`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_profile_id",
            "in": "query",
            "description": "The ID of the user profile on the \"from\" side of the relationship.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_profile_id",
            "in": "query",
            "description": "The ID of the user profile on the \"to\" side of the relationship.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filter for relationships created since this ISO-8601 date/time.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Filter for relationships created until this ISO-8601 date/time.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "By default, results are returned ordered by `created_at` in ascending order.  Change to `-created_at` to receive most recent results first.",
            "schema": {
              "type": "string",
              "default": "created_at"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"count\": 2,\n  \"next\": null,\n  \"previous\": null,\n  \"results\": [\n    {\n      \"id\": \"d659c88f-0edf-47d7-882a-8d6184c76126\",\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-relationships/d659c88f-0edf-47d7-882a-8d6184c76126/\",\n      \"created_at\": \"2023-02-21T15:44:58.204862Z\",\n      \"relationship_type\": {\n        \"id\": \"7da7c4c8-6e42-4d50-8d32-aa0be0bd0933\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/7da7c4c8-6e42-4d50-8d32-aa0be0bd0933/\",\n        \"created_at\": \"2023-02-21T14:43:30.325594Z\",\n        \"client_id\": \"ApwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP\",\n        \"name\": \"Follow\",\n        \"key\": \"follow\"\n      },\n      \"from_profile\": {\n        \"id\": \"c8b1d0e0-8e90-4094-b74a-1b4888002352\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/\",\n        \"created_at\": \"2021-05-12T02:49:52Z\",\n        \"nickname\": \"User c2c679c3-e8ef-4d2d-9859-b83db3b4464b\",\n        \"custom_id\": null,\n        \"custom_data\": null,\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badge-progress/\",\n        \"subscribe_channel\": \"profile.c8b1d0e0-8e90-4094-b74a-1b4888002352\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/chat-room-memberships/\",\n        \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-credits/\",\n        \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-debits/\",\n        \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-balances/\",\n        \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-transfers/\",\n        \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n        \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\",\n        \"blocked_profile_ids_url\": \"https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/\",\n        \"leaderboards_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboards/\",\n        \"leaderboard_views_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboard-views/\",\n        \"earned_badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=c8b1d0e0-8e90-4094-b74a-1b4888002352\"\n      },\n      \"to_profile\": {\n        \"id\": \"cb4a1bc8-fa5a-41e8-8add-ae48116ae788\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/\",\n        \"created_at\": \"2022-04-22T10:28:08Z\",\n        \"nickname\": \"Loyal Champion\",\n        \"custom_id\": null,\n        \"custom_data\": \"\",\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badge-progress/\",\n        \"subscribe_channel\": \"profile.cb4a1bc8-fa5a-41e8-8add-ae48116ae788\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/chat-room-memberships/\",\n        \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-credits/\",\n        \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-debits/\",\n        \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-balances/\",\n        \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-transfers/\",\n        \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n        \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\",\n        \"blocked_profile_ids_url\": \"https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/\",\n        \"leaderboards_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboards/\",\n        \"leaderboard_views_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboard-views/\",\n        \"earned_badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=cb4a1bc8-fa5a-41e8-8add-ae48116ae788\"\n      }\n    },\n    {\n      \"id\": \"5b3ba1d6-de13-4615-a344-6f3cdb7621e0\",\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-relationships/5b3ba1d6-de13-4615-a344-6f3cdb7621e0/\",\n      \"created_at\": \"2023-02-21T15:49:15.694898Z\",\n      \"relationship_type\": {\n        \"id\": \"7da7c4c8-6e42-4d50-8d32-aa0be0bd0933\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/7da7c4c8-6e42-4d50-8d32-aa0be0bd0933/\",\n        \"created_at\": \"2023-02-21T14:43:30.325594Z\",\n        \"client_id\": \"ApwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP\",\n        \"name\": \"Follow\",\n        \"key\": \"follow\"\n      },\n      \"from_profile\": {\n        \"id\": \"cb4a1bc8-fa5a-41e8-8add-ae48116ae788\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/\",\n        \"created_at\": \"2022-04-22T10:28:08Z\",\n        \"nickname\": \"Loyal Champion\",\n        \"custom_id\": null,\n        \"custom_data\": \"\",\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badge-progress/\",\n        \"subscribe_channel\": \"profile.cb4a1bc8-fa5a-41e8-8add-ae48116ae788\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/chat-room-memberships/\",\n        \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-credits/\",\n        \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-debits/\",\n        \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-balances/\",\n        \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-transfers/\",\n        \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n        \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\",\n        \"blocked_profile_ids_url\": \"https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/\",\n        \"leaderboards_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboards/\",\n        \"leaderboard_views_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboard-views/\",\n        \"earned_badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=cb4a1bc8-fa5a-41e8-8add-ae48116ae788\"\n      },\n      \"to_profile\": {\n        \"id\": \"c8b1d0e0-8e90-4094-b74a-1b4888002352\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/\",\n        \"created_at\": \"2021-05-12T02:49:52Z\",\n        \"nickname\": \"User c2c679c3-e8ef-4d2d-9859-b83db3b4464b\",\n        \"custom_id\": null,\n        \"custom_data\": null,\n        \"points\": 0,\n        \"badges\": [],\n        \"badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badges/\",\n        \"badge_progress_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badge-progress/\",\n        \"subscribe_channel\": \"profile.c8b1d0e0-8e90-4094-b74a-1b4888002352\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/chat-room-memberships/\",\n        \"reward_item_credit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-credits/\",\n        \"reward_item_debit_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-debits/\",\n        \"reward_item_balances_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-balances/\",\n        \"reward_item_transfer_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-transfers/\",\n        \"block_profile_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/\",\n        \"blocked_profiles_template_url\": \"https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}\",\n        \"blocked_profile_ids_url\": \"https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/\",\n        \"leaderboards_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboards/\",\n        \"leaderboard_views_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboard-views/\",\n        \"earned_badges_url\": \"https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=c8b1d0e0-8e90-4094-b74a-1b4888002352\"\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "next": {},
                    "previous": {},
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "d659c88f-0edf-47d7-882a-8d6184c76126"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/profile-relationships/d659c88f-0edf-47d7-882a-8d6184c76126/"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2023-02-21T15:44:58.204862Z"
                          },
                          "relationship_type": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "7da7c4c8-6e42-4d50-8d32-aa0be0bd0933"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profile-relationship-types/7da7c4c8-6e42-4d50-8d32-aa0be0bd0933/"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2023-02-21T14:43:30.325594Z"
                              },
                              "client_id": {
                                "type": "string",
                                "example": "ApwNvZVpqAwHdWGxmdOde5W4ehMqqRkbuRPfu9OP"
                              },
                              "name": {
                                "type": "string",
                                "example": "Follow"
                              },
                              "key": {
                                "type": "string",
                                "example": "follow"
                              }
                            }
                          },
                          "from_profile": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "c8b1d0e0-8e90-4094-b74a-1b4888002352"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2021-05-12T02:49:52Z"
                              },
                              "nickname": {
                                "type": "string",
                                "example": "User c2c679c3-e8ef-4d2d-9859-b83db3b4464b"
                              },
                              "custom_id": {},
                              "custom_data": {},
                              "points": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "badges": {
                                "type": "array"
                              },
                              "badges_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badges/"
                              },
                              "badge_progress_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/badge-progress/"
                              },
                              "subscribe_channel": {
                                "type": "string",
                                "example": "profile.c8b1d0e0-8e90-4094-b74a-1b4888002352"
                              },
                              "reported_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "chat_room_memberships_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/chat-room-memberships/"
                              },
                              "reward_item_credit_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-credits/"
                              },
                              "reward_item_debit_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-debits/"
                              },
                              "reward_item_balances_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-balances/"
                              },
                              "reward_item_transfer_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/reward-item-transfers/"
                              },
                              "block_profile_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/"
                              },
                              "blocked_profiles_template_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}"
                              },
                              "blocked_profile_ids_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/"
                              },
                              "leaderboards_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboards/"
                              },
                              "leaderboard_views_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/c8b1d0e0-8e90-4094-b74a-1b4888002352/leaderboard-views/"
                              },
                              "earned_badges_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=c8b1d0e0-8e90-4094-b74a-1b4888002352"
                              }
                            }
                          },
                          "to_profile": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "cb4a1bc8-fa5a-41e8-8add-ae48116ae788"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2022-04-22T10:28:08Z"
                              },
                              "nickname": {
                                "type": "string",
                                "example": "Loyal Champion"
                              },
                              "custom_id": {},
                              "custom_data": {
                                "type": "string",
                                "example": ""
                              },
                              "points": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "badges": {
                                "type": "array"
                              },
                              "badges_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badges/"
                              },
                              "badge_progress_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/badge-progress/"
                              },
                              "subscribe_channel": {
                                "type": "string",
                                "example": "profile.cb4a1bc8-fa5a-41e8-8add-ae48116ae788"
                              },
                              "reported_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "chat_room_memberships_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/chat-room-memberships/"
                              },
                              "reward_item_credit_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-credits/"
                              },
                              "reward_item_debit_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-debits/"
                              },
                              "reward_item_balances_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-balances/"
                              },
                              "reward_item_transfer_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/reward-item-transfers/"
                              },
                              "block_profile_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/"
                              },
                              "blocked_profiles_template_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profile-blocks/?blocked_profile_id={blocked_profile_id}"
                              },
                              "blocked_profile_ids_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/blocked-profile-ids/"
                              },
                              "leaderboards_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboards/"
                              },
                              "leaderboard_views_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/profiles/cb4a1bc8-fa5a-41e8-8add-ae48116ae788/leaderboard-views/"
                              },
                              "earned_badges_url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/earned-badges/?profile_id=cb4a1bc8-fa5a-41e8-8add-ae48116ae788"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"client_id\": [\n    \"This field is required.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/applications/{client_id}/profile-groups/ (COPY)": {
      "post": {
        "summary": "Create a Group",
        "description": "",
        "operationId": "create-a-group",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the Group"
                  },
                  "attributes": {
                    "type": "array",
                    "description": "Add optional attributes to the group",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"21fd0075-853f-49f4-a790-52c92e08d4cb\",\n    \"name\": \"Test Group\",\n    \"is_active\": true,\n    \"description\": \"Group for testing\",\n    \"profile_count\": 0,\n    \"created_at\": \"2025-01-05T15:16:15.137935Z\",\n    \"attributes\": [\n        {\n            \"key\": \"group_key_1\",\n            \"value\": \"01\"\n        },\n        {\n            \"key\": \"group_key_2\",\n            \"value\": \"test\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "21fd0075-853f-49f4-a790-52c92e08d4cb"
                    },
                    "name": {
                      "type": "string",
                      "example": "Test Group"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "description": {
                      "type": "string",
                      "example": "Group for testing"
                    },
                    "profile_count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-01-05T15:16:15.137935Z"
                    },
                    "attributes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "group_key_1"
                          },
                          "value": {
                            "type": "string",
                            "example": "01"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/applications/{client_id}/profile-groups/{group_id}/": {
      "get": {
        "summary": "Get Profile Group Detail",
        "description": "",
        "operationId": "get-profile-group-detail",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "group_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"4ecc2732-4ffc-4d70-832d-db09c2be36c2\",\n    \"name\": \"Test Group\",\n    \"is_active\": true,\n    \"description\": \"Group for testing\",\n    \"profile_count\": 0,\n    \"created_at\": \"2025-01-05T15:18:44.001306Z\",\n    \"attributes\": [\n        {\n            \"key\": \"group_key_1\",\n            \"value\": \"01\"\n        },\n        {\n            \"key\": \"group_key_2\",\n            \"value\": \"test\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "4ecc2732-4ffc-4d70-832d-db09c2be36c2"
                    },
                    "name": {
                      "type": "string",
                      "example": "Test Group"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "description": {
                      "type": "string",
                      "example": "Group for testing"
                    },
                    "profile_count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-01-05T15:18:44.001306Z"
                    },
                    "attributes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "group_key_1"
                          },
                          "value": {
                            "type": "string",
                            "example": "01"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"detail\": \"Not found.\",\n    \"error_code\": \"not_found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Not found."
                    },
                    "error_code": {
                      "type": "string",
                      "example": "not_found"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update Group",
        "description": "",
        "operationId": "update-profile-group",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "group_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the Group"
                  },
                  "attributes": {
                    "type": "array",
                    "description": "Add optional attributes to the group",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"4ecc2732-4ffc-4d70-832d-db09c2be36c2\",\n    \"name\": \"Test Group Updated\",\n    \"is_active\": true,\n    \"description\": \"Group for testing\",\n    \"profile_count\": 0,\n    \"created_at\": \"2025-01-05T15:18:44.001306Z\",\n    \"attributes\": [\n        {\n            \"key\": \"group_key_1\",\n            \"value\": \"01\"\n        },\n        {\n            \"key\": \"group_key_2\",\n            \"value\": \"test\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "4ecc2732-4ffc-4d70-832d-db09c2be36c2"
                    },
                    "name": {
                      "type": "string",
                      "example": "Test Group Updated"
                    },
                    "is_active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "description": {
                      "type": "string",
                      "example": "Group for testing"
                    },
                    "profile_count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2025-01-05T15:18:44.001306Z"
                    },
                    "attributes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "group_key_1"
                          },
                          "value": {
                            "type": "string",
                            "example": "01"
                          }
                        }
                      }
                    }
[...]
