{"openapi":"3.1.0","info":{"title":"football-live-action","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/automation-football-live-action"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/":{"post":{"summary":"Create Live Action","description":"","operationId":"create-live-action","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["program_id","match_id"],"properties":{"program_id":{"type":"string","description":"ID of the program to create the automation for"},"match_id":{"type":"string","description":"Match ID from OPTA"},"automation_actions":{"type":"array","items":{"properties":{"action_type":{"type":"string","description":"name of the action to be assigned"},"enabled":{"type":"boolean","description":"action should be active or not"},"widget_text":{"type":"string","description":"The prompt or question for the prediction to be made"},"widget_options":{"type":"array","items":{"properties":{"description":{"type":"string","description":"The text associated with the prediction option"}},"type":"object"}}},"required":["action_type","enabled"],"type":"object"}},"status":{"type":"boolean","description":"to active live action automation"},"match_scheduled_at":{"type":"string","description":"The UTC time that the automation will start","format":"date"},"sponsor_ids":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n    \"match_id\": \"q58ty222o3okfne2bqrfrml0\",\n    \"widget_timeout\": \"P0DT00H00M30S\",\n    \"status\": false,\n    \"widget_title\": \"MatchInsights\",\n    \"enabled_by\": {\n        \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"match_scheduled_at\": null,\n    \"automation_status\": \"scheduled\",\n    \"automatedactions\": [\n        {\n            \"id\": \"252a06f1-641a-40b8-b183-c0eb92e7c54b\",\n            \"action\": \"goal\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.262332Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.262555Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"44a20f41-9267-45cf-aa59-69823ad7712a\",\n            \"action\": \"yellow_card\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.264945Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.265113Z\",\n            \"text_poll\": {\n                \"id\": \"8eb5058e-b7b6-42f0-b5d6-5d8fce86499a\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.284220Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Will the {{cardType}} to {{playerName}} for {{cardReason}} impact the game?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"7998156c-4444-4b1b-bbfa-95319779cc20\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/options/7998156c-4444-4b1b-bbfa-95319779cc20/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjR2VGhNblVrRGR5dHVLak1ONS1qYkpRQ2ZJY0dIQlhab29iSUctNHNHU1hQWklzYWYwMkhPekh3OEFlbnd1X2tGazBnN0pDdkVYQTZNTk5NN2xPd3BZZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.wBJnI4o6qXVLVYPLYfL0rpyS-q3RQO9dDafXzavoQGs/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"8bb6d076-90d4-463c-bbb0-2bb22efee55c\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/options/8bb6d076-90d4-463c-bbb0-2bb22efee55c/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRJZnpyaWt3cUJTLUl6LUR5VkJqWVN5TWdWTGRWc25TNFJpcjVmOUVYOUVTcDhQbUpYLWdzYzcyelJDOW51amtubHNxdzZkT0lROU5JZmxPcGt4RTZ3UT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.CiUOUzNDEsZql-xl3brgsCvlmQoW0u_FSs9qQ2mTMEs/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=8eb5058e-b7b6-42f0-b5d6-5d8fce86499a\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"d33e54a8-e135-4e3d-91b1-d770f0702fb1\",\n            \"action\": \"match_start\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.344123Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.344252Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"d8beb2f8-0081-40e0-8810-862973ab0627\",\n            \"action\": \"match_half\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.346456Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.346580Z\",\n            \"text_poll\": {\n                \"id\": \"2f69b1ed-542f-414c-a2a9-240ec2539d17\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.355169Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Did you enjoy the first half?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"f376531a-8400-4a43-8fbc-33d9fe115ecb\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/options/f376531a-8400-4a43-8fbc-33d9fe115ecb/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRET21ocHBKMWtoVlJXbzJ0YlFWN1RfckUwanRnQjRWNkhPS05laEFzVkdRME5Fa2JVUWptNG02VzBCVl9XREtWVFgxcVRBc2dSYW83dldtTkFDTDJmdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.WGAiMPiJVNew_PM8Efuz4Gsn2cwlkbWmLOvS93ef69A/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"08482d61-f7d0-4960-9ff6-3cb4b761bdd1\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/options/08482d61-f7d0-4960-9ff6-3cb4b761bdd1/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRyTlhmM3MwZEs0clJycWRKanJ6TkRDM01qNVduY3NvZEh4MUFxSkk5R2w4ZGZnQkVDRkwzUXlrUmpGekFhbVRBVmstU0ZzdEhyb3NJdjZ2dGdiWXhNdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.LdH-ZRnqxqKqdp5wAuw6JGiPT58xshO2inKxHql0jJo/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=2f69b1ed-542f-414c-a2a9-240ec2539d17\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"1470624b-53f7-4ac7-8c91-6b24d1f8c11a\",\n            \"action\": \"substitution\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.406625Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.406753Z\",\n            \"text_poll\": {\n                \"id\": \"e1f36553-a2d0-44c5-a704-8dc18bf4c07f\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.414714Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Was the manager right to replace {{playerOffName}} with {{playerOnName}}?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"0d4631b3-a3ea-4701-bdb4-f7e5b561e677\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/options/0d4631b3-a3ea-4701-bdb4-f7e5b561e677/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRXMEN2N3pjcTAxZ19RdVhFREQ3RjY4MGFKMGZWM2JhZ29wUk5DeDZtT1huRDhPaXZQT2JlOW9ZZGszVHpaaVlNcS1tWkxzU3Vsc24wLWxWNEFGRjJRUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.WcizciaizdPLb6lwy6Mqwy_n1M_bOB7k1NGxTzUa3_4/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"4cbe64b8-04e6-4be3-bbb9-737bf36364b3\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/options/4cbe64b8-04e6-4be3-bbb9-737bf36364b3/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjR3V1dLLUJndmFUeGRyYVBYS0lPbEtTbGhlNk1yelZjZjdFcHNCYlVSc2FfaW1QRXJjanRXR19pTVFjbGlpUEZJbFpGNEdYaW5rUTMxVEx6SllRd3AwUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.4vrJ6NDQSamIYCQYte_uIqnX5PUoROXwOEB6jEw10XA/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=e1f36553-a2d0-44c5-a704-8dc18bf4c07f\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"55404424-6d6e-451b-a5fa-3c2bf14b1a75\",\n            \"action\": \"shot\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.468103Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.468396Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"6e6c1fe9-c9f4-47b6-a701-50bd99bbcdb6\",\n            \"action\": \"foul\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.470546Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.470672Z\",\n            \"text_poll\": {\n                \"id\": \"27a33337-c886-4b15-9512-ea3fb07f1305\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.479707Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Do you support the referee's decision?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"24132208-2674-46bd-9d99-ee6a41ebc6be\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/options/24132208-2674-46bd-9d99-ee6a41ebc6be/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjQ0aVpsb3FSeUFpOXdySzdGcUtRYjJkX29UQmx3RkE1eENmVVpxQ0hoazBFdnBFUW8zWmtUdzBQcUdHRmxsS09sZ2hMR012Y19qNWtLYmdLRU8zbExPQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.cJRcHTgpMua-03FJfjzZdrpzjlz5j9UmE5xwo7a1z0I/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"c2a10269-958d-4623-a470-0e267871554f\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/options/c2a10269-958d-4623-a470-0e267871554f/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRLSlVUV3pFWG1pQ1FWSW9TSzRxcTR0Y0toN2VPNzBnVGRlWEtfS1VQR2E2NHdQZkdaUXNsZUFjNHIwLWY0NXR0V3FrRi1VWlJac1F4THJPVTlpQWxqdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.auKtwPuE2bW39TH7-g72f8P2XIdyIkvvqW1HysLD8uw/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=27a33337-c886-4b15-9512-ea3fb07f1305\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"match_id":{"type":"string","example":"q58ty222o3okfne2bqrfrml0"},"widget_timeout":{"type":"string","example":"P0DT00H00M30S"},"status":{"type":"boolean","example":false,"default":true},"widget_title":{"type":"string","example":"MatchInsights"},"enabled_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"match_scheduled_at":{},"automation_status":{"type":"string","example":"scheduled"},"automatedactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"252a06f1-641a-40b8-b183-c0eb92e7c54b"},"action":{"type":"string","example":"goal"},"status":{"type":"string","example":"pending"},"widget_kind":{"type":"string","example":""},"widget_uuid":{},"automation_partner_id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"is_active":{"type":"boolean","example":true,"default":true},"created_at":{"type":"string","example":"2024-01-17T12:00:56.262332Z"},"updated_at":{"type":"string","example":"2024-01-17T12:00:56.262555Z"},"text_poll":{}}}}}}}}}},"deprecated":false}},"/{automation_id}/":{"patch":{"summary":"Update Live Action","description":"","operationId":"update-live-action","parameters":[{"name":"automation_id","in":"path","description":"Football Live Action Automation ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["program_id"],"properties":{"program_id":{"type":"string","description":"ID of the program to update the prediction for"},"match_id":{"type":"string","description":"Match ID from OPTA"},"automation_actions":{"type":"array","items":{"properties":{"action_type":{"type":"string","description":"name of the action to be assigned"},"enabled":{"type":"boolean","description":"action should be active or not"},"widget_text":{"type":"string","description":"The prompt or question for the prediction to be made"},"widget_options":{"type":"array","items":{"properties":{"description":{"type":"string","description":"The text associated with the prediction option"}},"type":"object"}}},"required":["action_type","enabled"],"type":"object"}},"status":{"type":"boolean","description":"to active live action automation"},"match_scheduled_at":{"type":"string","description":"The UTC time that the automation will start","format":"date"},"sponsor_ids":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n    \"match_id\": \"q58ty222o3okfne2bqrfrml0\",\n    \"widget_timeout\": \"P0DT00H00M30S\",\n    \"status\": false,\n    \"widget_title\": \"MatchInsights\",\n    \"enabled_by\": {\n        \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"match_scheduled_at\": null,\n    \"automation_status\": \"scheduled\",\n    \"automatedactions\": [\n        {\n            \"id\": \"252a06f1-641a-40b8-b183-c0eb92e7c54b\",\n            \"action\": \"goal\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.262332Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.262555Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"44a20f41-9267-45cf-aa59-69823ad7712a\",\n            \"action\": \"yellow_card\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.264945Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.265113Z\",\n            \"text_poll\": {\n                \"id\": \"8eb5058e-b7b6-42f0-b5d6-5d8fce86499a\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.284220Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Will the {{cardType}} to {{playerName}} for {{cardReason}} impact the game?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"7998156c-4444-4b1b-bbfa-95319779cc20\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/options/7998156c-4444-4b1b-bbfa-95319779cc20/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjR2VGhNblVrRGR5dHVLak1ONS1qYkpRQ2ZJY0dIQlhab29iSUctNHNHU1hQWklzYWYwMkhPekh3OEFlbnd1X2tGazBnN0pDdkVYQTZNTk5NN2xPd3BZZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.wBJnI4o6qXVLVYPLYfL0rpyS-q3RQO9dDafXzavoQGs/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"8bb6d076-90d4-463c-bbb0-2bb22efee55c\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/options/8bb6d076-90d4-463c-bbb0-2bb22efee55c/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRJZnpyaWt3cUJTLUl6LUR5VkJqWVN5TWdWTGRWc25TNFJpcjVmOUVYOUVTcDhQbUpYLWdzYzcyelJDOW51amtubHNxdzZkT0lROU5JZmxPcGt4RTZ3UT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.CiUOUzNDEsZql-xl3brgsCvlmQoW0u_FSs9qQ2mTMEs/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=8eb5058e-b7b6-42f0-b5d6-5d8fce86499a\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"d33e54a8-e135-4e3d-91b1-d770f0702fb1\",\n            \"action\": \"match_start\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.344123Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.344252Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"d8beb2f8-0081-40e0-8810-862973ab0627\",\n            \"action\": \"match_half\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.346456Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.346580Z\",\n            \"text_poll\": {\n                \"id\": \"2f69b1ed-542f-414c-a2a9-240ec2539d17\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.355169Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Did you enjoy the first half?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"f376531a-8400-4a43-8fbc-33d9fe115ecb\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/options/f376531a-8400-4a43-8fbc-33d9fe115ecb/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRET21ocHBKMWtoVlJXbzJ0YlFWN1RfckUwanRnQjRWNkhPS05laEFzVkdRME5Fa2JVUWptNG02VzBCVl9XREtWVFgxcVRBc2dSYW83dldtTkFDTDJmdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.WGAiMPiJVNew_PM8Efuz4Gsn2cwlkbWmLOvS93ef69A/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"08482d61-f7d0-4960-9ff6-3cb4b761bdd1\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/options/08482d61-f7d0-4960-9ff6-3cb4b761bdd1/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRyTlhmM3MwZEs0clJycWRKanJ6TkRDM01qNVduY3NvZEh4MUFxSkk5R2w4ZGZnQkVDRkwzUXlrUmpGekFhbVRBVmstU0ZzdEhyb3NJdjZ2dGdiWXhNdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.LdH-ZRnqxqKqdp5wAuw6JGiPT58xshO2inKxHql0jJo/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=2f69b1ed-542f-414c-a2a9-240ec2539d17\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"1470624b-53f7-4ac7-8c91-6b24d1f8c11a\",\n            \"action\": \"substitution\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.406625Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.406753Z\",\n            \"text_poll\": {\n                \"id\": \"e1f36553-a2d0-44c5-a704-8dc18bf4c07f\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.414714Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Was the manager right to replace {{playerOffName}} with {{playerOnName}}?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"0d4631b3-a3ea-4701-bdb4-f7e5b561e677\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/options/0d4631b3-a3ea-4701-bdb4-f7e5b561e677/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRXMEN2N3pjcTAxZ19RdVhFREQ3RjY4MGFKMGZWM2JhZ29wUk5DeDZtT1huRDhPaXZQT2JlOW9ZZGszVHpaaVlNcS1tWkxzU3Vsc24wLWxWNEFGRjJRUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.WcizciaizdPLb6lwy6Mqwy_n1M_bOB7k1NGxTzUa3_4/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"4cbe64b8-04e6-4be3-bbb9-737bf36364b3\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/options/4cbe64b8-04e6-4be3-bbb9-737bf36364b3/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjR3V1dLLUJndmFUeGRyYVBYS0lPbEtTbGhlNk1yelZjZjdFcHNCYlVSc2FfaW1QRXJjanRXR19pTVFjbGlpUEZJbFpGNEdYaW5rUTMxVEx6SllRd3AwUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.4vrJ6NDQSamIYCQYte_uIqnX5PUoROXwOEB6jEw10XA/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=e1f36553-a2d0-44c5-a704-8dc18bf4c07f\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"55404424-6d6e-451b-a5fa-3c2bf14b1a75\",\n            \"action\": \"shot\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.468103Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.468396Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"6e6c1fe9-c9f4-47b6-a701-50bd99bbcdb6\",\n            \"action\": \"foul\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.470546Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.470672Z\",\n            \"text_poll\": {\n                \"id\": \"27a33337-c886-4b15-9512-ea3fb07f1305\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.479707Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Do you support the referee's decision?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"24132208-2674-46bd-9d99-ee6a41ebc6be\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/options/24132208-2674-46bd-9d99-ee6a41ebc6be/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjQ0aVpsb3FSeUFpOXdySzdGcUtRYjJkX29UQmx3RkE1eENmVVpxQ0hoazBFdnBFUW8zWmtUdzBQcUdHRmxsS09sZ2hMR012Y19qNWtLYmdLRU8zbExPQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.cJRcHTgpMua-03FJfjzZdrpzjlz5j9UmE5xwo7a1z0I/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"c2a10269-958d-4623-a470-0e267871554f\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/options/c2a10269-958d-4623-a470-0e267871554f/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRLSlVUV3pFWG1pQ1FWSW9TSzRxcTR0Y0toN2VPNzBnVGRlWEtfS1VQR2E2NHdQZkdaUXNsZUFjNHIwLWY0NXR0V3FrRi1VWlJac1F4THJPVTlpQWxqdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.auKtwPuE2bW39TH7-g72f8P2XIdyIkvvqW1HysLD8uw/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=27a33337-c886-4b15-9512-ea3fb07f1305\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"match_id":{"type":"string","example":"q58ty222o3okfne2bqrfrml0"},"widget_timeout":{"type":"string","example":"P0DT00H00M30S"},"status":{"type":"boolean","example":false,"default":true},"widget_title":{"type":"string","example":"MatchInsights"},"enabled_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"match_scheduled_at":{},"automation_status":{"type":"string","example":"scheduled"},"automatedactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"252a06f1-641a-40b8-b183-c0eb92e7c54b"},"action":{"type":"string","example":"goal"},"status":{"type":"string","example":"pending"},"widget_kind":{"type":"string","example":""},"widget_uuid":{},"automation_partner_id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"is_active":{"type":"boolean","example":true,"default":true},"created_at":{"type":"string","example":"2024-01-17T12:00:56.262332Z"},"updated_at":{"type":"string","example":"2024-01-17T12:00:56.262555Z"},"text_poll":{}}}}}}}}}},"deprecated":false},"get":{"summary":"Get Live Action","description":"","operationId":"get-live-action","parameters":[{"name":"automation_id","in":"path","description":"Football Live Action Automation Id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n    \"match_id\": \"q58ty222o3okfne2bqrfrml0\",\n    \"widget_timeout\": \"P0DT00H00M30S\",\n    \"status\": false,\n    \"widget_title\": \"MatchInsights\",\n    \"enabled_by\": {\n        \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"match_scheduled_at\": null,\n    \"automation_status\": \"scheduled\",\n    \"automatedactions\": [\n        {\n            \"id\": \"252a06f1-641a-40b8-b183-c0eb92e7c54b\",\n            \"action\": \"goal\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.262332Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.262555Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"44a20f41-9267-45cf-aa59-69823ad7712a\",\n            \"action\": \"yellow_card\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.264945Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.265113Z\",\n            \"text_poll\": {\n                \"id\": \"8eb5058e-b7b6-42f0-b5d6-5d8fce86499a\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.284220Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Will the {{cardType}} to {{playerName}} for {{cardReason}} impact the game?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"7998156c-4444-4b1b-bbfa-95319779cc20\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/options/7998156c-4444-4b1b-bbfa-95319779cc20/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjR2VGhNblVrRGR5dHVLak1ONS1qYkpRQ2ZJY0dIQlhab29iSUctNHNHU1hQWklzYWYwMkhPekh3OEFlbnd1X2tGazBnN0pDdkVYQTZNTk5NN2xPd3BZZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.wBJnI4o6qXVLVYPLYfL0rpyS-q3RQO9dDafXzavoQGs/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"8bb6d076-90d4-463c-bbb0-2bb22efee55c\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/options/8bb6d076-90d4-463c-bbb0-2bb22efee55c/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRJZnpyaWt3cUJTLUl6LUR5VkJqWVN5TWdWTGRWc25TNFJpcjVmOUVYOUVTcDhQbUpYLWdzYzcyelJDOW51amtubHNxdzZkT0lROU5JZmxPcGt4RTZ3UT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.CiUOUzNDEsZql-xl3brgsCvlmQoW0u_FSs9qQ2mTMEs/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/8eb5058e-b7b6-42f0-b5d6-5d8fce86499a/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=8eb5058e-b7b6-42f0-b5d6-5d8fce86499a\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"d33e54a8-e135-4e3d-91b1-d770f0702fb1\",\n            \"action\": \"match_start\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.344123Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.344252Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"d8beb2f8-0081-40e0-8810-862973ab0627\",\n            \"action\": \"match_half\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.346456Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.346580Z\",\n            \"text_poll\": {\n                \"id\": \"2f69b1ed-542f-414c-a2a9-240ec2539d17\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.355169Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Did you enjoy the first half?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"f376531a-8400-4a43-8fbc-33d9fe115ecb\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/options/f376531a-8400-4a43-8fbc-33d9fe115ecb/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRET21ocHBKMWtoVlJXbzJ0YlFWN1RfckUwanRnQjRWNkhPS05laEFzVkdRME5Fa2JVUWptNG02VzBCVl9XREtWVFgxcVRBc2dSYW83dldtTkFDTDJmdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.WGAiMPiJVNew_PM8Efuz4Gsn2cwlkbWmLOvS93ef69A/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"08482d61-f7d0-4960-9ff6-3cb4b761bdd1\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/options/08482d61-f7d0-4960-9ff6-3cb4b761bdd1/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRyTlhmM3MwZEs0clJycWRKanJ6TkRDM01qNVduY3NvZEh4MUFxSkk5R2w4ZGZnQkVDRkwzUXlrUmpGekFhbVRBVmstU0ZzdEhyb3NJdjZ2dGdiWXhNdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.LdH-ZRnqxqKqdp5wAuw6JGiPT58xshO2inKxHql0jJo/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/2f69b1ed-542f-414c-a2a9-240ec2539d17/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/2f69b1ed-542f-414c-a2a9-240ec2539d17/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=2f69b1ed-542f-414c-a2a9-240ec2539d17\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"1470624b-53f7-4ac7-8c91-6b24d1f8c11a\",\n            \"action\": \"substitution\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.406625Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.406753Z\",\n            \"text_poll\": {\n                \"id\": \"e1f36553-a2d0-44c5-a704-8dc18bf4c07f\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.414714Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Was the manager right to replace {{playerOffName}} with {{playerOnName}}?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"0d4631b3-a3ea-4701-bdb4-f7e5b561e677\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/options/0d4631b3-a3ea-4701-bdb4-f7e5b561e677/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRXMEN2N3pjcTAxZ19RdVhFREQ3RjY4MGFKMGZWM2JhZ29wUk5DeDZtT1huRDhPaXZQT2JlOW9ZZGszVHpaaVlNcS1tWkxzU3Vsc24wLWxWNEFGRjJRUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.WcizciaizdPLb6lwy6Mqwy_n1M_bOB7k1NGxTzUa3_4/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"4cbe64b8-04e6-4be3-bbb9-737bf36364b3\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/options/4cbe64b8-04e6-4be3-bbb9-737bf36364b3/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjR3V1dLLUJndmFUeGRyYVBYS0lPbEtTbGhlNk1yelZjZjdFcHNCYlVSc2FfaW1QRXJjanRXR19pTVFjbGlpUEZJbFpGNEdYaW5rUTMxVEx6SllRd3AwUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.4vrJ6NDQSamIYCQYte_uIqnX5PUoROXwOEB6jEw10XA/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/e1f36553-a2d0-44c5-a704-8dc18bf4c07f/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=e1f36553-a2d0-44c5-a704-8dc18bf4c07f\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        },\n        {\n            \"id\": \"55404424-6d6e-451b-a5fa-3c2bf14b1a75\",\n            \"action\": \"shot\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.468103Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.468396Z\",\n            \"text_poll\": null\n        },\n        {\n            \"id\": \"6e6c1fe9-c9f4-47b6-a701-50bd99bbcdb6\",\n            \"action\": \"foul\",\n            \"status\": \"pending\",\n            \"widget_kind\": \"\",\n            \"widget_uuid\": null,\n            \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n            \"is_active\": true,\n            \"created_at\": \"2024-01-17T12:00:56.470546Z\",\n            \"updated_at\": \"2024-01-17T12:00:56.470672Z\",\n            \"text_poll\": {\n                \"id\": \"27a33337-c886-4b15-9512-ea3fb07f1305\",\n                \"pubnub_enabled\": true,\n                \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/\",\n                \"kind\": \"text-poll\",\n                \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n                \"created_at\": \"2024-01-17T12:00:56.479707Z\",\n                \"published_at\": null,\n                \"scheduled_at\": null,\n                \"interactive_until\": null,\n                \"question\": \"Do you support the referee's decision?\",\n                \"timeout\": \"P0DT00H00M30S\",\n                \"options\": [\n                    {\n                        \"id\": \"24132208-2674-46bd-9d99-ee6a41ebc6be\",\n                        \"description\": \"Yes\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/options/24132208-2674-46bd-9d99-ee6a41ebc6be/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjQ0aVpsb3FSeUFpOXdySzdGcUtRYjJkX29UQmx3RkE1eENmVVpxQ0hoazBFdnBFUW8zWmtUdzBQcUdHRmxsS09sZ2hMR012Y19qNWtLYmdLRU8zbExPQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.cJRcHTgpMua-03FJfjzZdrpzjlz5j9UmE5xwo7a1z0I/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    },\n                    {\n                        \"id\": \"c2a10269-958d-4623-a470-0e267871554f\",\n                        \"description\": \"No\",\n                        \"vote_count\": 0,\n                        \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/options/c2a10269-958d-4623-a470-0e267871554f/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4RjRLSlVUV3pFWG1pQ1FWSW9TSzRxcTR0Y0toN2VPNzBnVGRlWEtfS1VQR2E2NHdQZkdaUXNsZUFjNHIwLWY0NXR0V3FrRi1VWlJac1F4THJPVTlpQWxqdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTI4NTZ9.auKtwPuE2bW39TH7-g72f8P2XIdyIkvvqW1HysLD8uw/\",\n                        \"translations\": {},\n                        \"translatable_fields\": [\n                            \"description\"\n                        ]\n                    }\n                ],\n                \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n                \"program_date_time\": null,\n                \"publish_delay\": \"P0DT00H00M00S\",\n                \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/interactions/\",\n                \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/27a33337-c886-4b15-9512-ea3fb07f1305/\",\n                \"impression_count\": 0,\n                \"unique_impression_count\": 0,\n                \"engagement_count\": 0,\n                \"engagement_percent\": \"0.000\",\n                \"status\": \"pending\",\n                \"created_by\": {\n                    \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                    \"name\": null,\n                    \"image_url\": null\n                },\n                \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/27a33337-c886-4b15-9512-ea3fb07f1305/schedule/\",\n                \"rewards_url\": null,\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"question\"\n                ],\n                \"reactions\": [],\n                \"custom_data\": null,\n                \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=27a33337-c886-4b15-9512-ea3fb07f1305\",\n                \"sponsors\": [],\n                \"earnable_rewards\": [\n                    {\n                        \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                        \"reward_item_name\": \"LiveLike Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                        \"reward_item_name\": \"Tarbooza\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 500\n                    },\n                    {\n                        \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                        \"reward_item_name\": \"SeptemberQAItem\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000\n                    },\n                    {\n                        \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                        \"reward_item_name\": \"Indexaris Points\",\n                        \"reward_action_key\": \"poll-voted\",\n                        \"reward_item_amount\": 1000000\n                    }\n                ],\n                \"widget_attributes\": [],\n                \"playback_time_ms\": null\n            }\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"match_id":{"type":"string","example":"q58ty222o3okfne2bqrfrml0"},"widget_timeout":{"type":"string","example":"P0DT00H00M30S"},"status":{"type":"boolean","example":false,"default":true},"widget_title":{"type":"string","example":"MatchInsights"},"enabled_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"match_scheduled_at":{},"automation_status":{"type":"string","example":"scheduled"},"automatedactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"252a06f1-641a-40b8-b183-c0eb92e7c54b"},"action":{"type":"string","example":"goal"},"status":{"type":"string","example":"pending"},"widget_kind":{"type":"string","example":""},"widget_uuid":{},"automation_partner_id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"is_active":{"type":"boolean","example":true,"default":true},"created_at":{"type":"string","example":"2024-01-17T12:00:56.262332Z"},"updated_at":{"type":"string","example":"2024-01-17T12:00:56.262555Z"},"text_poll":{}}}}}}}}}},"deprecated":false,"security":[]},"delete":{"summary":"Delete Live Action","description":"","operationId":"delete-live-action","responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}