{"openapi":"3.1.0","info":{"title":"football-live-match-actions","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/automation-match-action"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/":{"post":{"summary":"Create Match Action","description":"","operationId":"create-match-action","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["program_id","automation_partner_id","action"],"properties":{"program_id":{"type":"string","description":"ID of the program to create the action for"},"automation_partner_id":{"type":"string","description":"ID of the Football Live Action Widget automation"},"action":{"type":"string","description":"name of the action to be created"},"is_active":{"type":"boolean","description":"action should be active or not","default":true},"widget_text":{"type":"string","description":"The prompt or question for the prediction to be made"},"widget_options":{"type":"array","items":{"properties":{"description":{"type":"string","description":"The text associated with the prediction option"}},"type":"object"}},"sponsor_ids":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"0c4df5c3-818d-4c95-9661-678a9d55633e\",\n    \"action\": \"red_card\",\n    \"status\": \"pending\",\n    \"widget_kind\": \"\",\n    \"widget_uuid\": null,\n    \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n    \"is_active\": true,\n    \"created_at\": \"2024-01-17T12:03:30.294173Z\",\n    \"updated_at\": \"2024-01-17T12:03:30.294370Z\",\n    \"text_poll\": {\n        \"id\": \"797665c0-179d-45c8-acfc-46b99f1d1e75\",\n        \"pubnub_enabled\": true,\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/\",\n        \"kind\": \"text-poll\",\n        \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n        \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n        \"created_at\": \"2024-01-17T12:03:30.232146Z\",\n        \"published_at\": null,\n        \"scheduled_at\": null,\n        \"interactive_until\": null,\n        \"question\": \"What do you think about the {{cardType}} for {{cardReason}}?\",\n        \"timeout\": \"P0DT00H00M30S\",\n        \"options\": [\n            {\n                \"id\": \"ac862d95-70d0-45de-9931-fcdbb9bd79d9\",\n                \"description\": \"Option 1\",\n                \"vote_count\": 0,\n                \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/ac862d95-70d0-45de-9931-fcdbb9bd79d9/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMtZV90SWVla3B2V293QlpPMEpqVUgtR25ObkdXZE5tWDlLZFJ4Y3VwQ2Z2OWphUTlhZ0RIOW8tX25GX0V1UHY5UjJLUkhPVkpvRXFYVUhZMkQ5UnMzUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.Bq76x4SD0hcUW46E44Htm5gHMVzNLo1qsK8tkobpaVQ/\",\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"description\"\n                ]\n            },\n            {\n                \"id\": \"b4aed0c3-be1d-48b4-9ab0-959e5b852b2f\",\n                \"description\": \"Option 2\",\n                \"vote_count\": 0,\n                \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/b4aed0c3-be1d-48b4-9ab0-959e5b852b2f/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMxSDd2Q3dpRURKREd5eUFaeFpjV25tc0E2RDZJWThWOXAxVWRGdzhuOE9uUUZMc2JjelBsY0luWnN3cFR2aDEtaXFTU0pZVkoxbGdGX19lQTdsLXYwUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.L1bwZwCn1vPJ1HhgB8Ln2yF2yL3xvOEYrpuv9rNH0UU/\",\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"description\"\n                ]\n            }\n        ],\n        \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n        \"program_date_time\": null,\n        \"publish_delay\": \"P0DT00H00M00S\",\n        \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/interactions/\",\n        \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/\",\n        \"impression_count\": 0,\n        \"unique_impression_count\": 0,\n        \"engagement_count\": 0,\n        \"engagement_percent\": \"0.000\",\n        \"status\": \"pending\",\n        \"created_by\": {\n            \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n            \"name\": null,\n            \"image_url\": null\n        },\n        \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/schedule/\",\n        \"rewards_url\": null,\n        \"translations\": {},\n        \"translatable_fields\": [\n            \"question\"\n        ],\n        \"reactions\": [],\n        \"custom_data\": null,\n        \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=797665c0-179d-45c8-acfc-46b99f1d1e75\",\n        \"sponsors\": [],\n        \"earnable_rewards\": [\n            {\n                \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                \"reward_item_name\": \"LiveLike Points\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000\n            },\n            {\n                \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                \"reward_item_name\": \"Tarbooza\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 500\n            },\n            {\n                \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                \"reward_item_name\": \"SeptemberQAItem\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000\n            },\n            {\n                \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                \"reward_item_name\": \"Indexaris Points\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000000\n            }\n        ],\n        \"widget_attributes\": [],\n        \"playback_time_ms\": null\n    }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"0c4df5c3-818d-4c95-9661-678a9d55633e"},"action":{"type":"string","example":"red_card"},"status":{"type":"string","example":"pending"},"widget_kind":{"type":"string","example":""},"widget_uuid":{},"automation_partner_id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"is_active":{"type":"boolean","example":true,"default":true},"created_at":{"type":"string","example":"2024-01-17T12:03:30.294173Z"},"updated_at":{"type":"string","example":"2024-01-17T12:03:30.294370Z"},"text_poll":{"type":"object","properties":{"id":{"type":"string","example":"797665c0-179d-45c8-acfc-46b99f1d1e75"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/"},"kind":{"type":"string","example":"text-poll"},"program_id":{"type":"string","example":"09d93835-ee52-4757-976c-ea09d6a5798c"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"created_at":{"type":"string","example":"2024-01-17T12:03:30.232146Z"},"published_at":{},"scheduled_at":{},"interactive_until":{},"question":{"type":"string","example":"What do you think about the {{cardType}} for {{cardReason}}?"},"timeout":{"type":"string","example":"P0DT00H00M30S"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ac862d95-70d0-45de-9931-fcdbb9bd79d9"},"description":{"type":"string","example":"Option 1"},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/ac862d95-70d0-45de-9931-fcdbb9bd79d9/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMtZV90SWVla3B2V293QlpPMEpqVUgtR25ObkdXZE5tWDlLZFJ4Y3VwQ2Z2OWphUTlhZ0RIOW8tX25GX0V1UHY5UjJLUkhPVkpvRXFYVUhZMkQ5UnMzUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.Bq76x4SD0hcUW46E44Htm5gHMVzNLo1qsK8tkobpaVQ/"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"subscribe_channel":{"type":"string","example":"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{"type":"integer","example":0,"default":0},"engagement_percent":{"type":"string","example":"0.000"},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"question"}},"reactions":{"type":"array"},"custom_data":{},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=797665c0-179d-45c8-acfc-46b99f1d1e75"},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array","items":{"type":"object","properties":{"reward_item_id":{"type":"string","example":"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0"},"reward_item_name":{"type":"string","example":"LiveLike Points"},"reward_action_key":{"type":"string","example":"poll-voted"},"reward_item_amount":{"type":"integer","example":1000,"default":0}}}},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}}}}}}},"deprecated":false}},"/{action_id}/":{"patch":{"summary":"Update Match Action","description":"","operationId":"update-match-action","parameters":[{"name":"action_id","in":"path","description":"Football Live Action Id","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["program_id"],"properties":{"program_id":{"type":"string","description":"ID of the program to update the action for"},"is_active":{"type":"boolean","description":"action should be active or not"},"widget_text":{"type":"string","description":"The prompt or question for the prediction to be made"},"widget_options":{"type":"array","items":{"properties":{"description":{"type":"string","description":"The text associated with the prediction option"}},"type":"object"}},"sponsor_ids":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"0c4df5c3-818d-4c95-9661-678a9d55633e\",\n    \"action\": \"red_card\",\n    \"status\": \"pending\",\n    \"widget_kind\": \"\",\n    \"widget_uuid\": null,\n    \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n    \"is_active\": true,\n    \"created_at\": \"2024-01-17T12:03:30.294173Z\",\n    \"updated_at\": \"2024-01-17T12:03:30.294370Z\",\n    \"text_poll\": {\n        \"id\": \"797665c0-179d-45c8-acfc-46b99f1d1e75\",\n        \"pubnub_enabled\": true,\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/\",\n        \"kind\": \"text-poll\",\n        \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n        \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n        \"created_at\": \"2024-01-17T12:03:30.232146Z\",\n        \"published_at\": null,\n        \"scheduled_at\": null,\n        \"interactive_until\": null,\n        \"question\": \"What do you think about the {{cardType}} for {{cardReason}}?\",\n        \"timeout\": \"P0DT00H00M30S\",\n        \"options\": [\n            {\n                \"id\": \"ac862d95-70d0-45de-9931-fcdbb9bd79d9\",\n                \"description\": \"Option 1\",\n                \"vote_count\": 0,\n                \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/ac862d95-70d0-45de-9931-fcdbb9bd79d9/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMtZV90SWVla3B2V293QlpPMEpqVUgtR25ObkdXZE5tWDlLZFJ4Y3VwQ2Z2OWphUTlhZ0RIOW8tX25GX0V1UHY5UjJLUkhPVkpvRXFYVUhZMkQ5UnMzUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.Bq76x4SD0hcUW46E44Htm5gHMVzNLo1qsK8tkobpaVQ/\",\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"description\"\n                ]\n            },\n            {\n                \"id\": \"b4aed0c3-be1d-48b4-9ab0-959e5b852b2f\",\n                \"description\": \"Option 2\",\n                \"vote_count\": 0,\n                \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/b4aed0c3-be1d-48b4-9ab0-959e5b852b2f/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMxSDd2Q3dpRURKREd5eUFaeFpjV25tc0E2RDZJWThWOXAxVWRGdzhuOE9uUUZMc2JjelBsY0luWnN3cFR2aDEtaXFTU0pZVkoxbGdGX19lQTdsLXYwUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.L1bwZwCn1vPJ1HhgB8Ln2yF2yL3xvOEYrpuv9rNH0UU/\",\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"description\"\n                ]\n            }\n        ],\n        \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n        \"program_date_time\": null,\n        \"publish_delay\": \"P0DT00H00M00S\",\n        \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/interactions/\",\n        \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/\",\n        \"impression_count\": 0,\n        \"unique_impression_count\": 0,\n        \"engagement_count\": 0,\n        \"engagement_percent\": \"0.000\",\n        \"status\": \"pending\",\n        \"created_by\": {\n            \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n            \"name\": null,\n            \"image_url\": null\n        },\n        \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/schedule/\",\n        \"rewards_url\": null,\n        \"translations\": {},\n        \"translatable_fields\": [\n            \"question\"\n        ],\n        \"reactions\": [],\n        \"custom_data\": null,\n        \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=797665c0-179d-45c8-acfc-46b99f1d1e75\",\n        \"sponsors\": [],\n        \"earnable_rewards\": [\n            {\n                \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                \"reward_item_name\": \"LiveLike Points\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000\n            },\n            {\n                \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                \"reward_item_name\": \"Tarbooza\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 500\n            },\n            {\n                \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                \"reward_item_name\": \"SeptemberQAItem\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000\n            },\n            {\n                \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                \"reward_item_name\": \"Indexaris Points\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000000\n            }\n        ],\n        \"widget_attributes\": [],\n        \"playback_time_ms\": null\n    }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"0c4df5c3-818d-4c95-9661-678a9d55633e"},"action":{"type":"string","example":"red_card"},"status":{"type":"string","example":"pending"},"widget_kind":{"type":"string","example":""},"widget_uuid":{},"automation_partner_id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"is_active":{"type":"boolean","example":true,"default":true},"created_at":{"type":"string","example":"2024-01-17T12:03:30.294173Z"},"updated_at":{"type":"string","example":"2024-01-17T12:03:30.294370Z"},"text_poll":{"type":"object","properties":{"id":{"type":"string","example":"797665c0-179d-45c8-acfc-46b99f1d1e75"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/"},"kind":{"type":"string","example":"text-poll"},"program_id":{"type":"string","example":"09d93835-ee52-4757-976c-ea09d6a5798c"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"created_at":{"type":"string","example":"2024-01-17T12:03:30.232146Z"},"published_at":{},"scheduled_at":{},"interactive_until":{},"question":{"type":"string","example":"What do you think about the {{cardType}} for {{cardReason}}?"},"timeout":{"type":"string","example":"P0DT00H00M30S"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ac862d95-70d0-45de-9931-fcdbb9bd79d9"},"description":{"type":"string","example":"Option 1"},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/ac862d95-70d0-45de-9931-fcdbb9bd79d9/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMtZV90SWVla3B2V293QlpPMEpqVUgtR25ObkdXZE5tWDlLZFJ4Y3VwQ2Z2OWphUTlhZ0RIOW8tX25GX0V1UHY5UjJLUkhPVkpvRXFYVUhZMkQ5UnMzUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.Bq76x4SD0hcUW46E44Htm5gHMVzNLo1qsK8tkobpaVQ/"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"subscribe_channel":{"type":"string","example":"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{"type":"integer","example":0,"default":0},"engagement_percent":{"type":"string","example":"0.000"},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"question"}},"reactions":{"type":"array"},"custom_data":{},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=797665c0-179d-45c8-acfc-46b99f1d1e75"},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array","items":{"type":"object","properties":{"reward_item_id":{"type":"string","example":"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0"},"reward_item_name":{"type":"string","example":"LiveLike Points"},"reward_action_key":{"type":"string","example":"poll-voted"},"reward_item_amount":{"type":"integer","example":1000,"default":0}}}},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}}}}}}},"deprecated":false},"get":{"summary":"Get Match Action","description":"","operationId":"get-match-action","parameters":[{"name":"action_id","in":"path","description":"Football Live Action Id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"0c4df5c3-818d-4c95-9661-678a9d55633e\",\n    \"action\": \"red_card\",\n    \"status\": \"pending\",\n    \"widget_kind\": \"\",\n    \"widget_uuid\": null,\n    \"automation_partner_id\": \"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b\",\n    \"is_active\": true,\n    \"created_at\": \"2024-01-17T12:03:30.294173Z\",\n    \"updated_at\": \"2024-01-17T12:03:30.294370Z\",\n    \"text_poll\": {\n        \"id\": \"797665c0-179d-45c8-acfc-46b99f1d1e75\",\n        \"pubnub_enabled\": true,\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/\",\n        \"kind\": \"text-poll\",\n        \"program_id\": \"09d93835-ee52-4757-976c-ea09d6a5798c\",\n        \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n        \"created_at\": \"2024-01-17T12:03:30.232146Z\",\n        \"published_at\": null,\n        \"scheduled_at\": null,\n        \"interactive_until\": null,\n        \"question\": \"What do you think about the {{cardType}} for {{cardReason}}?\",\n        \"timeout\": \"P0DT00H00M30S\",\n        \"options\": [\n            {\n                \"id\": \"ac862d95-70d0-45de-9931-fcdbb9bd79d9\",\n                \"description\": \"Option 1\",\n                \"vote_count\": 0,\n                \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/ac862d95-70d0-45de-9931-fcdbb9bd79d9/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMtZV90SWVla3B2V293QlpPMEpqVUgtR25ObkdXZE5tWDlLZFJ4Y3VwQ2Z2OWphUTlhZ0RIOW8tX25GX0V1UHY5UjJLUkhPVkpvRXFYVUhZMkQ5UnMzUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.Bq76x4SD0hcUW46E44Htm5gHMVzNLo1qsK8tkobpaVQ/\",\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"description\"\n                ]\n            },\n            {\n                \"id\": \"b4aed0c3-be1d-48b4-9ab0-959e5b852b2f\",\n                \"description\": \"Option 2\",\n                \"vote_count\": 0,\n                \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/b4aed0c3-be1d-48b4-9ab0-959e5b852b2f/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMxSDd2Q3dpRURKREd5eUFaeFpjV25tc0E2RDZJWThWOXAxVWRGdzhuOE9uUUZMc2JjelBsY0luWnN3cFR2aDEtaXFTU0pZVkoxbGdGX19lQTdsLXYwUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.L1bwZwCn1vPJ1HhgB8Ln2yF2yL3xvOEYrpuv9rNH0UU/\",\n                \"translations\": {},\n                \"translatable_fields\": [\n                    \"description\"\n                ]\n            }\n        ],\n        \"subscribe_channel\": \"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c\",\n        \"program_date_time\": null,\n        \"publish_delay\": \"P0DT00H00M00S\",\n        \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/interactions/\",\n        \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/\",\n        \"impression_count\": 0,\n        \"unique_impression_count\": 0,\n        \"engagement_count\": 0,\n        \"engagement_percent\": \"0.000\",\n        \"status\": \"pending\",\n        \"created_by\": {\n            \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n            \"name\": null,\n            \"image_url\": null\n        },\n        \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/schedule/\",\n        \"rewards_url\": null,\n        \"translations\": {},\n        \"translatable_fields\": [\n            \"question\"\n        ],\n        \"reactions\": [],\n        \"custom_data\": null,\n        \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=797665c0-179d-45c8-acfc-46b99f1d1e75\",\n        \"sponsors\": [],\n        \"earnable_rewards\": [\n            {\n                \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n                \"reward_item_name\": \"LiveLike Points\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000\n            },\n            {\n                \"reward_item_id\": \"053091d9-84cd-43c7-8c21-ddea5814ba8b\",\n                \"reward_item_name\": \"Tarbooza\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 500\n            },\n            {\n                \"reward_item_id\": \"de4787a6-2930-4afd-b3ca-e82b9a8fdcd9\",\n                \"reward_item_name\": \"SeptemberQAItem\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000\n            },\n            {\n                \"reward_item_id\": \"69a811fc-acf0-46c2-a605-714fad2bd4e3\",\n                \"reward_item_name\": \"Indexaris Points\",\n                \"reward_action_key\": \"poll-voted\",\n                \"reward_item_amount\": 1000000\n            }\n        ],\n        \"widget_attributes\": [],\n        \"playback_time_ms\": null\n    }\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"0c4df5c3-818d-4c95-9661-678a9d55633e"},"action":{"type":"string","example":"red_card"},"status":{"type":"string","example":"pending"},"widget_kind":{"type":"string","example":""},"widget_uuid":{},"automation_partner_id":{"type":"string","example":"d2e2b794-8d8d-4411-89c7-cf93a5c9f49b"},"is_active":{"type":"boolean","example":true,"default":true},"created_at":{"type":"string","example":"2024-01-17T12:03:30.294173Z"},"updated_at":{"type":"string","example":"2024-01-17T12:03:30.294370Z"},"text_poll":{"type":"object","properties":{"id":{"type":"string","example":"797665c0-179d-45c8-acfc-46b99f1d1e75"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/"},"kind":{"type":"string","example":"text-poll"},"program_id":{"type":"string","example":"09d93835-ee52-4757-976c-ea09d6a5798c"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"created_at":{"type":"string","example":"2024-01-17T12:03:30.232146Z"},"published_at":{},"scheduled_at":{},"interactive_until":{},"question":{"type":"string","example":"What do you think about the {{cardType}} for {{cardReason}}?"},"timeout":{"type":"string","example":"P0DT00H00M30S"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ac862d95-70d0-45de-9931-fcdbb9bd79d9"},"description":{"type":"string","example":"Option 1"},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/options/ac862d95-70d0-45de-9931-fcdbb9bd79d9/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbHA4SVMtZV90SWVla3B2V293QlpPMEpqVUgtR25ObkdXZE5tWDlLZFJ4Y3VwQ2Z2OWphUTlhZ0RIOW8tX25GX0V1UHY5UjJLUkhPVkpvRXFYVUhZMkQ5UnMzUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDU0OTMwMTB9.Bq76x4SD0hcUW46E44Htm5gHMVzNLo1qsK8tkobpaVQ/"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"subscribe_channel":{"type":"string","example":"program.widget.09d93835-ee52-4757-976c-ea09d6a5798c"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-poll/797665c0-179d-45c8-acfc-46b99f1d1e75/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{"type":"integer","example":0,"default":0},"engagement_percent":{"type":"string","example":"0.000"},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-polls/797665c0-179d-45c8-acfc-46b99f1d1e75/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"question"}},"reactions":{"type":"array"},"custom_data":{},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_poll_id=797665c0-179d-45c8-acfc-46b99f1d1e75"},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array","items":{"type":"object","properties":{"reward_item_id":{"type":"string","example":"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0"},"reward_item_name":{"type":"string","example":"LiveLike Points"},"reward_action_key":{"type":"string","example":"poll-voted"},"reward_item_amount":{"type":"integer","example":1000,"default":0}}}},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}}}}}}},"deprecated":false,"security":[]},"delete":{"summary":"Delete Match Action","description":"","operationId":"delete-match-action","responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}