{"openapi":"3.1.0","info":{"title":"image-predictions","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/image-predictions"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/{prediction_id}/":{"get":{"summary":"Get Image Prediction","description":"","operationId":"get-image-prediction","parameters":[{"name":"prediction_id","in":"path","description":"The ID of the prediction to get","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"client_id\": \"UJQCf1jWIhKmQpOYdhe6H56Uc4Xp50b1zdVaOowO\",\n  \"confirmation_message\": \"Alright! Stay tuned to see the result.\",\n  \"created_at\": \"2021-09-22T19:44:17.149472Z\",\n  \"created_by\": {\n    \"id\": \"1bf5b2ff-d82b-4400-b4eb-38a8d7bf538c\",\n    \"image_url\": null,\n    \"name\": null\n  },\n  \"custom_data\": null,\n  \"engagement_count\": 0,\n  \"engagement_percent\": \"0.000\",\n  \"follow_up_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/\",\n  \"follow_ups\": [\n    {\n      \"claim_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interaction-claims/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/claims/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VwbTJUVDBfNUFPaGFlUEpQR0VxeVhWTXA2V3hCOTNuQWEwbUVkSjByc29oaXZFNVVUaVdCN3ZmY05YVFladmYzWi1TdjRBb2k3Y3R1alBIcUFhT2FMWFNZQXZQckM3WGs4LVNoaURGWmJ3bl9ObF85N3Q1dzVUZGNZMktReXpJVTJqNDBvRXdaSGFLSW9vRDZOUU1xVTRQYkVkdzkwUXNqWlpkQ1YtaHN4ZXNsSkQ4SGFLTUpqWXNPQ25YQU9iLWkiLCJpc3MiOiJibGFzdCIsImlhdCI6MTYzMjMzOTg1N30.3ackVeJZFhPj9nLm8npJkeolTNfQJU1e7W8z9Rah8CI/\",\n      \"client_id\": \"UJQCf1jWIhKmQpOYdhe6H56Uc4Xp50b1zdVaOowO\",\n      \"correct_option_id\": \"b6cabc61-dc5d-49f3-b517-f6699f12abd7\",\n      \"created_at\": \"2021-09-22T19:44:17.258136Z\",\n      \"created_by\": {\n        \"id\": \"1bf5b2ff-d82b-4400-b4eb-38a8d7bf538c\",\n        \"image_url\": null,\n        \"name\": null\n      },\n      \"custom_data\": null,\n      \"engagement_count\": null,\n      \"engagement_percent\": null,\n      \"id\": \"6767ab32-cfbc-4886-99dd-219e2a84e453\",\n      \"image_prediction_id\": \"d645028b-6244-4e0b-acc5-f120a4171d83\",\n      \"image_prediction_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/\",\n      \"impression_count\": 1,\n      \"impression_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-impressions/image-prediction-follow-up/6767ab32-cfbc-4886-99dd-219e2a84e453/\",\n      \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/interactions/\",\n      \"interactive_until\": null,\n      \"kind\": \"image-prediction-follow-up\",\n      \"options\": [\n        {\n          \"description\": \"Seattle Seahawks\",\n          \"id\": \"b6cabc61-dc5d-49f3-b517-f6699f12abd7\",\n          \"image_url\": \"https://cf-blast-storage.livelikecdn.com/assets/a7bba33c-7dd6-4402-bf06-63fb41979601.jpg\",\n          \"is_correct\": true,\n          \"translatable_fields\": [\n            \"description\"\n          ],\n          \"translations\": {},\n          \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/\",\n          \"vote_count\": 0,\n          \"vote_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VPNXRFMGpDWFdmX01jRmtFZjRhMlQ2eVNvYlVUNmVNZ2kzZ3BKZVBkRHRCcTlPSDRhOC1yMTN2d2FLVFcxU2FpeDRaN3l4QWZ5bXltcGpycm1MOUgzdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.2BDp51JuxLaf-1y5AtV8zcl9Vi5j4HNCPs4vkYHYHHo/\"\n        },\n        {\n          \"description\": \"Denver Broncos\",\n          \"id\": \"8950c5bf-75d6-4597-b90d-6edddafdc038\",\n          \"image_url\": \"https://cf-blast-storage.livelikecdn.com/assets/99062bae-a1cb-4476-9ae0-62bfc2aa5ef2.jpg\",\n          \"is_correct\": false,\n          \"translatable_fields\": [\n            \"description\"\n          ],\n          \"translations\": {},\n          \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/8950c5bf-75d6-4597-b90d-6edddafdc038/\",\n          \"vote_count\": 0,\n          \"vote_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/8950c5bf-75d6-4597-b90d-6edddafdc038/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3UtNFdRU1lNUXp6S0JwUGliSy1iYkl3emlWT2JTcVFKazMzUVhSVjRVdVdTdGJYM3hSREp2cVE3dXZFbWNoMlJleWxoeExvOFE1WVBmbUc5R0FLZVdxdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.sy6Rgi9LeE1C-QxDkKCsYw9BsVjqSQx4hK8Y2dV8rfk/\"\n        }\n      ],\n      \"program_date_time\": null,\n      \"program_id\": \"075a1d11-1489-4dd0-b7c4-a7642f5f517f\",\n      \"publish_delay\": \"P0DT00H00M00S\",\n      \"published_at\": \"2021-09-22T19:44:35.996953Z\",\n      \"question\": \"Which team will score a touchdown first?\",\n      \"reactions\": [],\n      \"rewards_url\": null,\n      \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/schedule/\",\n      \"scheduled_at\": \"2021-09-22T19:44:35.789548Z\",\n      \"sponsors\": [],\n      \"status\": \"published\",\n      \"subscribe_channel\": \"program.widget.d645028b-6244-4e0b-acc5-f120a4171d83\",\n      \"timeout\": \"P0DT00H00M30S\",\n      \"translatable_fields\": [],\n      \"translations\": {},\n      \"unique_impression_count\": 1,\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/\",\n      \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?image_prediction_id=d645028b-6244-4e0b-acc5-f120a4171d83\"\n    }\n  ],\n  \"id\": \"d645028b-6244-4e0b-acc5-f120a4171d83\",\n  \"impression_count\": 1,\n  \"impression_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-impressions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/\",\n  \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/interactions/\",\n  \"interactive_until\":\"2022-01-18T18:53:56.510Z\",\n  \"kind\": \"image-prediction\",\n  \"options\": [\n    {\n      \"description\": \"Seattle Seahawks\",\n      \"id\": \"b6cabc61-dc5d-49f3-b517-f6699f12abd7\",\n      \"image_url\": \"https://cf-blast-storage.livelikecdn.com/assets/a7bba33c-7dd6-4402-bf06-63fb41979601.jpg\",\n      \"is_correct\": true,\n      \"translatable_fields\": [\n        \"description\"\n      ],\n      \"translations\": {},\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/\",\n      \"vote_count\": 0,\n      \"vote_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VoOWZRQmlfblVRMUFtS1BmUjJvZnNCVWEzUl9URnhmb3VBVzdIbTJPNzBtVFJVSWZEdzdDUnFycm80bm5kSjI4MjVQa3VXdUVSZ3N5RjRLdjZOUVJuZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.0DQVv2t9Qfy4baLIBB9U9Hwh9OoD1yRt4d9WOphtGo8/\"\n    },\n    {\n      \"description\": \"Denver Broncos\",\n      \"id\": \"8950c5bf-75d6-4597-b90d-6edddafdc038\",\n      \"image_url\": \"https://cf-blast-storage.livelikecdn.com/assets/99062bae-a1cb-4476-9ae0-62bfc2aa5ef2.jpg\",\n      \"is_correct\": false,\n      \"translatable_fields\": [\n        \"description\"\n      ],\n      \"translations\": {},\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/8950c5bf-75d6-4597-b90d-6edddafdc038/\",\n      \"vote_count\": 0,\n      \"vote_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/8950c5bf-75d6-4597-b90d-6edddafdc038/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3U2aGI4SnAtZjBJYjFfQlZPWkpUS1NnaGthUldOLUpma0FoMGJiMi1JLXpEUk5LNVFVOFNXYnU2Ymt4Yll2endXbUtYTGJPWVBMZm5QLTdNVWM4amZIQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.XgKCj6MuDCzk1j7EQusfNaLGyiP6-orSr-2dx2gcXF0/\"\n    }\n  ],\n  \"program_date_time\": null,\n  \"program_id\": \"075a1d11-1489-4dd0-b7c4-a7642f5f517f\",\n  \"publish_delay\": \"P0DT00H00M00S\",\n  \"published_at\": \"2021-09-22T19:44:17.741784Z\",\n  \"question\": \"Which team will score a touchdown first?\",\n  \"reactions\": [],\n  \"rewards_url\": null,\n  \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/schedule/\",\n  \"scheduled_at\": \"2021-09-22T19:44:17.611117Z\",\n  \"sponsors\": [],\n  \"status\": \"published\",\n  \"subscribe_channel\": \"program.widget.d645028b-6244-4e0b-acc5-f120a4171d83\",\n  \"timeout\": \"P0DT00H00M30S\",\n  \"translatable_fields\": [\n    \"question\",\n    \"confirmation_message\"\n  ],\n  \"translations\": {},\n  \"unique_impression_count\": 1,\n  \"playback_time_ms\": null,\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/\",\n  \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?image_prediction_id=d645028b-6244-4e0b-acc5-f120a4171d83\"\n}"}},"schema":{"type":"object","properties":{"client_id":{"type":"string","example":"UJQCf1jWIhKmQpOYdhe6H56Uc4Xp50b1zdVaOowO"},"confirmation_message":{"type":"string","example":"Alright! Stay tuned to see the result."},"created_at":{"type":"string","example":"2021-09-22T19:44:17.149472Z"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"1bf5b2ff-d82b-4400-b4eb-38a8d7bf538c"},"image_url":{},"name":{}}},"custom_data":{},"engagement_count":{"type":"integer","example":0,"default":0},"engagement_percent":{"type":"string","example":"0.000"},"follow_up_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/"},"follow_ups":{"type":"array","items":{"type":"object","properties":{"claim_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interaction-claims/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/claims/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VwbTJUVDBfNUFPaGFlUEpQR0VxeVhWTXA2V3hCOTNuQWEwbUVkSjByc29oaXZFNVVUaVdCN3ZmY05YVFladmYzWi1TdjRBb2k3Y3R1alBIcUFhT2FMWFNZQXZQckM3WGs4LVNoaURGWmJ3bl9ObF85N3Q1dzVUZGNZMktReXpJVTJqNDBvRXdaSGFLSW9vRDZOUU1xVTRQYkVkdzkwUXNqWlpkQ1YtaHN4ZXNsSkQ4SGFLTUpqWXNPQ25YQU9iLWkiLCJpc3MiOiJibGFzdCIsImlhdCI6MTYzMjMzOTg1N30.3ackVeJZFhPj9nLm8npJkeolTNfQJU1e7W8z9Rah8CI/"},"client_id":{"type":"string","example":"UJQCf1jWIhKmQpOYdhe6H56Uc4Xp50b1zdVaOowO"},"correct_option_id":{"type":"string","example":"b6cabc61-dc5d-49f3-b517-f6699f12abd7"},"created_at":{"type":"string","example":"2021-09-22T19:44:17.258136Z"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"1bf5b2ff-d82b-4400-b4eb-38a8d7bf538c"},"image_url":{},"name":{}}},"custom_data":{},"engagement_count":{},"engagement_percent":{},"id":{"type":"string","example":"6767ab32-cfbc-4886-99dd-219e2a84e453"},"image_prediction_id":{"type":"string","example":"d645028b-6244-4e0b-acc5-f120a4171d83"},"image_prediction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/"},"impression_count":{"type":"integer","example":1,"default":0},"impression_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-impressions/image-prediction-follow-up/6767ab32-cfbc-4886-99dd-219e2a84e453/"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/interactions/"},"interactive_until":{},"kind":{"type":"string","example":"image-prediction-follow-up"},"options":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string","example":"Seattle Seahawks"},"id":{"type":"string","example":"b6cabc61-dc5d-49f3-b517-f6699f12abd7"},"image_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/assets/a7bba33c-7dd6-4402-bf06-63fb41979601.jpg"},"is_correct":{"type":"boolean","example":true,"default":true},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}},"translations":{"type":"object","properties":{}},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/"},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VPNXRFMGpDWFdmX01jRmtFZjRhMlQ2eVNvYlVUNmVNZ2kzZ3BKZVBkRHRCcTlPSDRhOC1yMTN2d2FLVFcxU2FpeDRaN3l4QWZ5bXltcGpycm1MOUgzdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.2BDp51JuxLaf-1y5AtV8zcl9Vi5j4HNCPs4vkYHYHHo/"}}}},"program_date_time":{},"program_id":{"type":"string","example":"075a1d11-1489-4dd0-b7c4-a7642f5f517f"},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"published_at":{"type":"string","example":"2021-09-22T19:44:35.996953Z"},"question":{"type":"string","example":"Which team will score a touchdown first?"},"reactions":{"type":"array"},"rewards_url":{},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/schedule/"},"scheduled_at":{"type":"string","example":"2021-09-22T19:44:35.789548Z"},"sponsors":{"type":"array"},"status":{"type":"string","example":"published"},"subscribe_channel":{"type":"string","example":"program.widget.d645028b-6244-4e0b-acc5-f120a4171d83"},"timeout":{"type":"string","example":"P0DT00H00M30S"},"translatable_fields":{"type":"array"},"translations":{"type":"object","properties":{}},"unique_impression_count":{"type":"integer","example":1,"default":0},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?image_prediction_id=d645028b-6244-4e0b-acc5-f120a4171d83"}}}},"id":{"type":"string","example":"d645028b-6244-4e0b-acc5-f120a4171d83"},"impression_count":{"type":"integer","example":1,"default":0},"impression_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-impressions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/interactions/"},"interactive_until":{"type":"string","example":"2022-01-18T18:53:56.510Z"},"kind":{"type":"string","example":"image-prediction"},"options":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string","example":"Seattle Seahawks"},"id":{"type":"string","example":"b6cabc61-dc5d-49f3-b517-f6699f12abd7"},"image_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/assets/a7bba33c-7dd6-4402-bf06-63fb41979601.jpg"},"is_correct":{"type":"boolean","example":true,"default":true},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}},"translations":{"type":"object","properties":{}},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/"},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VoOWZRQmlfblVRMUFtS1BmUjJvZnNCVWEzUl9URnhmb3VBVzdIbTJPNzBtVFJVSWZEdzdDUnFycm80bm5kSjI4MjVQa3VXdUVSZ3N5RjRLdjZOUVJuZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.0DQVv2t9Qfy4baLIBB9U9Hwh9OoD1yRt4d9WOphtGo8/"}}}},"program_date_time":{},"program_id":{"type":"string","example":"075a1d11-1489-4dd0-b7c4-a7642f5f517f"},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"published_at":{"type":"string","example":"2021-09-22T19:44:17.741784Z"},"question":{"type":"string","example":"Which team will score a touchdown first?"},"reactions":{"type":"array"},"rewards_url":{},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/schedule/"},"scheduled_at":{"type":"string","example":"2021-09-22T19:44:17.611117Z"},"sponsors":{"type":"array"},"status":{"type":"string","example":"published"},"subscribe_channel":{"type":"string","example":"program.widget.d645028b-6244-4e0b-acc5-f120a4171d83"},"timeout":{"type":"string","example":"P0DT00H00M30S"},"translatable_fields":{"type":"array","items":{"type":"string","example":"question"}},"translations":{"type":"object","properties":{}},"unique_impression_count":{"type":"integer","example":1,"default":0},"playback_time_ms":{},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?image_prediction_id=d645028b-6244-4e0b-acc5-f120a4171d83"}}}}}}},"deprecated":false,"security":[]}},"/":{"post":{"summary":"Create Image Prediction","description":"","operationId":"create-image-prediction","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["question","options","confirmation_message","program_id"],"properties":{"question":{"type":"string","description":"The prompt or question for the prediction to be made"},"options":{"type":"array","description":"List of options for this prediction, min 2 and max 4","items":{"properties":{"description":{"type":"string","description":"The text associated with the prediction option"},"image_url":{"type":"string","description":"The URL of the image associated with the option"}},"type":"object"}},"confirmation_message":{"type":"string","description":"The message shown to someone after they vote for their prediction"},"program_id":{"type":"string","description":"ID of the program to create the prediction for"},"interactive_until":{"type":"string","description":"The UTC time that the widget will stop accepting interactions","format":"date"},"playback_time_ms":{"type":"integer","description":"Video playback time in milliseconds","format":"int32"},"custom_data":{"type":"string"},"widget_attributes":{"type":"array","items":{"properties":{"key":{"type":"string"},"value":{"type":"string"}},"type":"object"}},"sponsor_ids":{"type":"array","description":"Links the ```sponsors``` with this Image Prediction. Note that only valid sponsor_ids will be linked to a Image Prediction.","items":{"type":"string"}}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"client_id\": \"UJQCf1jWIhKmQpOYdhe6H56Uc4Xp50b1zdVaOowO\",\n  \"confirmation_message\": \"Alright! Stay tuned to see the result.\",\n  \"created_at\": \"2021-09-22T19:44:17.149472Z\",\n  \"created_by\": {\n    \"id\": \"1bf5b2ff-d82b-4400-b4eb-38a8d7bf538c\",\n    \"image_url\": null,\n    \"name\": null\n  },\n  \"custom_data\": null,\n  \"engagement_count\": 0,\n  \"engagement_percent\": \"0.000\",\n  \"follow_up_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/\",\n  \"follow_ups\": [\n    {\n      \"claim_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interaction-claims/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/claims/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VwbTJUVDBfNUFPaGFlUEpQR0VxeVhWTXA2V3hCOTNuQWEwbUVkSjByc29oaXZFNVVUaVdCN3ZmY05YVFladmYzWi1TdjRBb2k3Y3R1alBIcUFhT2FMWFNZQXZQckM3WGs4LVNoaURGWmJ3bl9ObF85N3Q1dzVUZGNZMktReXpJVTJqNDBvRXdaSGFLSW9vRDZOUU1xVTRQYkVkdzkwUXNqWlpkQ1YtaHN4ZXNsSkQ4SGFLTUpqWXNPQ25YQU9iLWkiLCJpc3MiOiJibGFzdCIsImlhdCI6MTYzMjMzOTg1N30.3ackVeJZFhPj9nLm8npJkeolTNfQJU1e7W8z9Rah8CI/\",\n      \"client_id\": \"UJQCf1jWIhKmQpOYdhe6H56Uc4Xp50b1zdVaOowO\",\n      \"correct_option_id\": \"b6cabc61-dc5d-49f3-b517-f6699f12abd7\",\n      \"created_at\": \"2021-09-22T19:44:17.258136Z\",\n      \"created_by\": {\n        \"id\": \"1bf5b2ff-d82b-4400-b4eb-38a8d7bf538c\",\n        \"image_url\": null,\n        \"name\": null\n      },\n      \"custom_data\": null,\n      \"engagement_count\": null,\n      \"engagement_percent\": null,\n      \"id\": \"6767ab32-cfbc-4886-99dd-219e2a84e453\",\n      \"image_prediction_id\": \"d645028b-6244-4e0b-acc5-f120a4171d83\",\n      \"image_prediction_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/\",\n      \"impression_count\": 1,\n      \"impression_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-impressions/image-prediction-follow-up/6767ab32-cfbc-4886-99dd-219e2a84e453/\",\n      \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/interactions/\",\n      \"interactive_until\": null,\n      \"kind\": \"image-prediction-follow-up\",\n      \"options\": [\n        {\n          \"description\": \"Seattle Seahawks\",\n          \"id\": \"b6cabc61-dc5d-49f3-b517-f6699f12abd7\",\n          \"image_url\": \"https://cf-blast-storage.livelikecdn.com/assets/a7bba33c-7dd6-4402-bf06-63fb41979601.jpg\",\n          \"is_correct\": true,\n          \"translatable_fields\": [\n            \"description\"\n          ],\n          \"translations\": {},\n          \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/\",\n          \"vote_count\": 0,\n          \"vote_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VPNXRFMGpDWFdmX01jRmtFZjRhMlQ2eVNvYlVUNmVNZ2kzZ3BKZVBkRHRCcTlPSDRhOC1yMTN2d2FLVFcxU2FpeDRaN3l4QWZ5bXltcGpycm1MOUgzdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.2BDp51JuxLaf-1y5AtV8zcl9Vi5j4HNCPs4vkYHYHHo/\"\n        },\n        {\n          \"description\": \"Denver Broncos\",\n          \"id\": \"8950c5bf-75d6-4597-b90d-6edddafdc038\",\n          \"image_url\": \"https://cf-blast-storage.livelikecdn.com/assets/99062bae-a1cb-4476-9ae0-62bfc2aa5ef2.jpg\",\n          \"is_correct\": false,\n          \"translatable_fields\": [\n            \"description\"\n          ],\n          \"translations\": {},\n          \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/8950c5bf-75d6-4597-b90d-6edddafdc038/\",\n          \"vote_count\": 0,\n          \"vote_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/8950c5bf-75d6-4597-b90d-6edddafdc038/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3UtNFdRU1lNUXp6S0JwUGliSy1iYkl3emlWT2JTcVFKazMzUVhSVjRVdVdTdGJYM3hSREp2cVE3dXZFbWNoMlJleWxoeExvOFE1WVBmbUc5R0FLZVdxdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.sy6Rgi9LeE1C-QxDkKCsYw9BsVjqSQx4hK8Y2dV8rfk/\"\n        }\n      ],\n      \"program_date_time\": null,\n      \"program_id\": \"075a1d11-1489-4dd0-b7c4-a7642f5f517f\",\n      \"publish_delay\": \"P0DT00H00M00S\",\n      \"published_at\": \"2021-09-22T19:44:35.996953Z\",\n      \"question\": \"Which team will score a touchdown first?\",\n      \"reactions\": [],\n      \"rewards_url\": null,\n      \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/schedule/\",\n      \"scheduled_at\": \"2021-09-22T19:44:35.789548Z\",\n      \"sponsors\": [],\n      \"status\": \"published\",\n      \"subscribe_channel\": \"program.widget.d645028b-6244-4e0b-acc5-f120a4171d83\",\n      \"timeout\": \"P0DT00H00M30S\",\n      \"translatable_fields\": [],\n      \"translations\": {},\n      \"unique_impression_count\": 1,\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/\",\n      \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?image_prediction_id=d645028b-6244-4e0b-acc5-f120a4171d83\"\n    }\n  ],\n  \"id\": \"d645028b-6244-4e0b-acc5-f120a4171d83\",\n  \"impression_count\": 1,\n  \"impression_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-impressions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/\",\n  \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/interactions/\",\n  \"interactive_until\":\"2022-01-18T18:53:56.510Z\",\n  \"kind\": \"image-prediction\",\n  \"options\": [\n    {\n      \"description\": \"Seattle Seahawks\",\n      \"id\": \"b6cabc61-dc5d-49f3-b517-f6699f12abd7\",\n      \"image_url\": \"https://cf-blast-storage.livelikecdn.com/assets/a7bba33c-7dd6-4402-bf06-63fb41979601.jpg\",\n      \"is_correct\": true,\n      \"translatable_fields\": [\n        \"description\"\n      ],\n      \"translations\": {},\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/\",\n      \"vote_count\": 0,\n      \"vote_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VoOWZRQmlfblVRMUFtS1BmUjJvZnNCVWEzUl9URnhmb3VBVzdIbTJPNzBtVFJVSWZEdzdDUnFycm80bm5kSjI4MjVQa3VXdUVSZ3N5RjRLdjZOUVJuZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.0DQVv2t9Qfy4baLIBB9U9Hwh9OoD1yRt4d9WOphtGo8/\"\n    },\n    {\n      \"description\": \"Denver Broncos\",\n      \"id\": \"8950c5bf-75d6-4597-b90d-6edddafdc038\",\n      \"image_url\": \"https://cf-blast-storage.livelikecdn.com/assets/99062bae-a1cb-4476-9ae0-62bfc2aa5ef2.jpg\",\n      \"is_correct\": false,\n      \"translatable_fields\": [\n        \"description\"\n      ],\n      \"translations\": {},\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/8950c5bf-75d6-4597-b90d-6edddafdc038/\",\n      \"vote_count\": 0,\n      \"vote_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/8950c5bf-75d6-4597-b90d-6edddafdc038/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3U2aGI4SnAtZjBJYjFfQlZPWkpUS1NnaGthUldOLUpma0FoMGJiMi1JLXpEUk5LNVFVOFNXYnU2Ymt4Yll2endXbUtYTGJPWVBMZm5QLTdNVWM4amZIQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.XgKCj6MuDCzk1j7EQusfNaLGyiP6-orSr-2dx2gcXF0/\"\n    }\n  ],\n  \"program_date_time\": null,\n  \"program_id\": \"075a1d11-1489-4dd0-b7c4-a7642f5f517f\",\n  \"publish_delay\": \"P0DT00H00M00S\",\n  \"published_at\": \"2021-09-22T19:44:17.741784Z\",\n  \"question\": \"Which team will score a touchdown first?\",\n  \"reactions\": [],\n  \"rewards_url\": null,\n  \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/schedule/\",\n  \"scheduled_at\": \"2021-09-22T19:44:17.611117Z\",\n  \"sponsors\": [],\n  \"status\": \"published\",\n  \"subscribe_channel\": \"program.widget.d645028b-6244-4e0b-acc5-f120a4171d83\",\n  \"timeout\": \"P0DT00H00M30S\",\n  \"translatable_fields\": [\n    \"question\",\n    \"confirmation_message\"\n  ],\n  \"translations\": {},\n  \"unique_impression_count\": 1,\n  \"playback_time_ms\": null,\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/\",\n  \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?image_prediction_id=d645028b-6244-4e0b-acc5-f120a4171d83\"\n}"}},"schema":{"type":"object","properties":{"client_id":{"type":"string","example":"UJQCf1jWIhKmQpOYdhe6H56Uc4Xp50b1zdVaOowO"},"confirmation_message":{"type":"string","example":"Alright! Stay tuned to see the result."},"created_at":{"type":"string","example":"2021-09-22T19:44:17.149472Z"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"1bf5b2ff-d82b-4400-b4eb-38a8d7bf538c"},"image_url":{},"name":{}}},"custom_data":{},"engagement_count":{"type":"integer","example":0,"default":0},"engagement_percent":{"type":"string","example":"0.000"},"follow_up_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/"},"follow_ups":{"type":"array","items":{"type":"object","properties":{"claim_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interaction-claims/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/claims/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VwbTJUVDBfNUFPaGFlUEpQR0VxeVhWTXA2V3hCOTNuQWEwbUVkSjByc29oaXZFNVVUaVdCN3ZmY05YVFladmYzWi1TdjRBb2k3Y3R1alBIcUFhT2FMWFNZQXZQckM3WGs4LVNoaURGWmJ3bl9ObF85N3Q1dzVUZGNZMktReXpJVTJqNDBvRXdaSGFLSW9vRDZOUU1xVTRQYkVkdzkwUXNqWlpkQ1YtaHN4ZXNsSkQ4SGFLTUpqWXNPQ25YQU9iLWkiLCJpc3MiOiJibGFzdCIsImlhdCI6MTYzMjMzOTg1N30.3ackVeJZFhPj9nLm8npJkeolTNfQJU1e7W8z9Rah8CI/"},"client_id":{"type":"string","example":"UJQCf1jWIhKmQpOYdhe6H56Uc4Xp50b1zdVaOowO"},"correct_option_id":{"type":"string","example":"b6cabc61-dc5d-49f3-b517-f6699f12abd7"},"created_at":{"type":"string","example":"2021-09-22T19:44:17.258136Z"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"1bf5b2ff-d82b-4400-b4eb-38a8d7bf538c"},"image_url":{},"name":{}}},"custom_data":{},"engagement_count":{},"engagement_percent":{},"id":{"type":"string","example":"6767ab32-cfbc-4886-99dd-219e2a84e453"},"image_prediction_id":{"type":"string","example":"d645028b-6244-4e0b-acc5-f120a4171d83"},"image_prediction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/"},"impression_count":{"type":"integer","example":1,"default":0},"impression_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-impressions/image-prediction-follow-up/6767ab32-cfbc-4886-99dd-219e2a84e453/"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/interactions/"},"interactive_until":{},"kind":{"type":"string","example":"image-prediction-follow-up"},"options":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string","example":"Seattle Seahawks"},"id":{"type":"string","example":"b6cabc61-dc5d-49f3-b517-f6699f12abd7"},"image_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/assets/a7bba33c-7dd6-4402-bf06-63fb41979601.jpg"},"is_correct":{"type":"boolean","example":true,"default":true},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}},"translations":{"type":"object","properties":{}},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/"},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VPNXRFMGpDWFdmX01jRmtFZjRhMlQ2eVNvYlVUNmVNZ2kzZ3BKZVBkRHRCcTlPSDRhOC1yMTN2d2FLVFcxU2FpeDRaN3l4QWZ5bXltcGpycm1MOUgzdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.2BDp51JuxLaf-1y5AtV8zcl9Vi5j4HNCPs4vkYHYHHo/"}}}},"program_date_time":{},"program_id":{"type":"string","example":"075a1d11-1489-4dd0-b7c4-a7642f5f517f"},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"published_at":{"type":"string","example":"2021-09-22T19:44:35.996953Z"},"question":{"type":"string","example":"Which team will score a touchdown first?"},"reactions":{"type":"array"},"rewards_url":{},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/schedule/"},"scheduled_at":{"type":"string","example":"2021-09-22T19:44:35.789548Z"},"sponsors":{"type":"array"},"status":{"type":"string","example":"published"},"subscribe_channel":{"type":"string","example":"program.widget.d645028b-6244-4e0b-acc5-f120a4171d83"},"timeout":{"type":"string","example":"P0DT00H00M30S"},"translatable_fields":{"type":"array"},"translations":{"type":"object","properties":{}},"unique_impression_count":{"type":"integer","example":1,"default":0},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-follow-ups/6767ab32-cfbc-4886-99dd-219e2a84e453/"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?image_prediction_id=d645028b-6244-4e0b-acc5-f120a4171d83"}}}},"id":{"type":"string","example":"d645028b-6244-4e0b-acc5-f120a4171d83"},"impression_count":{"type":"integer","example":1,"default":0},"impression_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-impressions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/interactions/"},"interactive_until":{"type":"string","example":"2022-01-18T18:53:56.510Z"},"kind":{"type":"string","example":"image-prediction"},"options":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string","example":"Seattle Seahawks"},"id":{"type":"string","example":"b6cabc61-dc5d-49f3-b517-f6699f12abd7"},"image_url":{"type":"string","example":"https://cf-blast-storage.livelikecdn.com/assets/a7bba33c-7dd6-4402-bf06-63fb41979601.jpg"},"is_correct":{"type":"boolean","example":true,"default":true},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}},"translations":{"type":"object","properties":{}},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-prediction-options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/"},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blastrt-prod-us-east-1.livelikecdn.com/api/v1/widget-interactions/image-prediction/d645028b-6244-4e0b-acc5-f120a4171d83/options/b6cabc61-dc5d-49f3-b517-f6699f12abd7/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCaFM0a3VoOWZRQmlfblVRMUFtS1BmUjJvZnNCVWEzUl9URnhmb3VBVzdIbTJPNzBtVFJVSWZEdzdDUnFycm80bm5kSjI4MjVQa3VXdUVSZ3N5RjRLdjZOUVJuZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2MzIzNDAyNzB9.0DQVv2t9Qfy4baLIBB9U9Hwh9OoD1yRt4d9WOphtGo8/"}}}},"program_date_time":{},"program_id":{"type":"string","example":"075a1d11-1489-4dd0-b7c4-a7642f5f517f"},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"published_at":{"type":"string","example":"2021-09-22T19:44:17.741784Z"},"question":{"type":"string","example":"Which team will score a touchdown first?"},"reactions":{"type":"array"},"rewards_url":{},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/schedule/"},"scheduled_at":{"type":"string","example":"2021-09-22T19:44:17.611117Z"},"sponsors":{"type":"array"},"status":{"type":"string","example":"published"},"subscribe_channel":{"type":"string","example":"program.widget.d645028b-6244-4e0b-acc5-f120a4171d83"},"timeout":{"type":"string","example":"P0DT00H00M30S"},"translatable_fields":{"type":"array","items":{"type":"string","example":"question"}},"translations":{"type":"object","properties":{}},"unique_impression_count":{"type":"integer","example":1,"default":0},"playback_time_ms":{},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/image-predictions/d645028b-6244-4e0b-acc5-f120a4171d83/"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?image_prediction_id=d645028b-6244-4e0b-acc5-f120a4171d83"}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}