openapi: 3.0.3
info:
  title: Insights
  description: >
    Manage Insights Reports (periodic HTML/PDF analytics reports) for an
    Application, along with report tags and threaded producer comments.
  version: 1.0.0
servers:
  - url: https://producer.livelikecdn.com/api/v1
    description: Production
tags:
  - name: Reports
  - name: Comments
paths:
  /applications/{client_id}/insights-reports/:
    parameters:
      - $ref: '#/components/parameters/ClientId'
    get:
      tags:
        - Reports
      summary: List reports
      description: >
        Returns all Insights Reports for the Application, sorted pinned-first,
        then by `order`, then by `created_at` (unless overridden with
        `ordering`).
      operationId: listInsightsReports
      parameters:
        - name: is_active
          in: query
          schema:
            type: boolean
        - name: is_pinned
          in: query
          schema:
            type: boolean
        - name: published_on_after
          in: query
          description: Only reports published on/after this date
          schema:
            type: string
            format: date
        - name: published_on_before
          in: query
          description: Only reports published on/before this date
          schema:
            type: string
            format: date
        - name: tags
          in: query
          description: >-
            Comma-separated tag labels; matches reports with any matching tag
            (case-insensitive)
          schema:
            type: string
        - name: ordering
          in: query
          description: >-
            One of `order`, `created_at`, `published_on`. Prefix with `-` for
            descending.
          schema:
            type: string
            enum:
              - order
              - '-order'
              - created_at
              - '-created_at'
              - published_on
              - '-published_on'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReportList'
        '400':
          description: Invalid date filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
    post:
      tags:
        - Reports
      summary: Create report
      operationId: createInsightsReport
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReportWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ReportWrite'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: >-
            Validation error (bad file extension, file too large, or other field
            errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
  /applications/{client_id}/insights-reports/{report_id}/:
    parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/ReportId'
    get:
      tags:
        - Reports
      summary: Retrieve report
      operationId: getInsightsReport
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
    patch:
      tags:
        - Reports
      summary: Update report (partial)
      description: >
        Omit `tags` to leave existing tags untouched. Include `tags` (even `[]`)
        to replace all existing tags with the given list.
      operationId: partialUpdateInsightsReport
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReportWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ReportWrite'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
    put:
      tags:
        - Reports
      summary: Update report (full)
      description: >
        Omit `tags` to leave existing tags untouched. Include `tags` (even `[]`)
        to replace all existing tags with the given list.
      operationId: updateInsightsReport
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReportWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/ReportWrite'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
    delete:
      tags:
        - Reports
      summary: Delete report
      operationId: deleteInsightsReport
      responses:
        '204':
          description: No Content
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
  /applications/{client_id}/insights-reports/{report_id}/comments/:
    parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/ReportId'
    get:
      tags:
        - Comments
      summary: List comments
      description: >
        Returns top-level comments for the report, each with its `replies`
        nested inline (one level of threading only).
      operationId: listInsightsReportComments
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCommentList'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
    post:
      tags:
        - Comments
      summary: Create comment
      description: >
        `parent_id` must reference an existing top-level comment on the same
        report. Replying to a reply, or referencing a comment on a different
        report, returns 400. `author_label` and `is_staff_reply` are set
        server-side from the authenticated user.
      operationId: createInsightsReportComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentWrite'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: >-
            Invalid parent_id (references a reply, or a comment on a different
            report)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
  /applications/{client_id}/insights-reports/{report_id}/comments/{comment_id}/:
    parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/ReportId'
      - $ref: '#/components/parameters/CommentId'
    get:
      tags:
        - Comments
      summary: Retrieve comment
      operationId: getInsightsReportComment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
    patch:
      tags:
        - Comments
      summary: Update comment (partial)
      description: >
        Only `text` may be modified — any other field in the payload is ignored.
        Only the comment's original author may edit it.
      operationId: partialUpdateInsightsReportComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '403':
          description: Not the comment's original author
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
    put:
      tags:
        - Comments
      summary: Update comment (full)
      description: >
        Only `text` may be modified — any other field in the payload is ignored.
        Only the comment's original author may edit it.
      operationId: updateInsightsReportComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '403':
          description: Not the comment's original author
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
    delete:
      tags:
        - Comments
      summary: Delete comment
      description: Only the comment's original author may delete it.
      operationId: deleteInsightsReportComment
      responses:
        '204':
          description: No Content
        '403':
          description: Not the comment's original author
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - jwtAuth: []
        - clientJwtAuth: []
        - producerAccessToken: []
        - sessionAuth: []
        - personalApiToken: []
components:
  parameters:
    ClientId:
      name: client_id
      in: path
      required: true
      description: The Application's client ID
      schema:
        type: string
    ReportId:
      name: report_id
      in: path
      required: true
      description: Report UUID
      schema:
        type: string
        format: uuid
    CommentId:
      name: comment_id
      in: path
      required: true
      description: Comment UUID
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        minimum: 1
    PageSize:
      name: page_size
      in: query
      description: Results per page
      schema:
        type: integer
        default: 20
  responses:
    Forbidden:
      description: >-
        Authenticated but not authorized (not a producer of the Application, or
        not the comment's author)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: >-
        Application/report/comment not found, or Insights not enabled for the
        Application
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Tag:
      type: object
      properties:
        label:
          type: string
          maxLength: 50
        color:
          type: string
          enum:
            - teal
            - yellow
            - green
            - red
            - purple
            - blue
            - grey
          default: blue
        order:
          type: integer
          default: 0
      required:
        - label
    Report:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        client_id:
          type: string
          readOnly: true
          description: The owning Application's client ID
        title:
          type: string
          maxLength: 200
        description:
          type: string
        period:
          type: string
          maxLength: 100
          description: Free-text display label, e.g. "May - June 2026"
        published_on:
          type: string
          format: date
          description: Defaults to creation date if not provided
        report_file:
          type: string
          format: uri
          description: Publicly accessible URL to the .html/.pdf report content
        is_active:
          type: boolean
          default: true
          description: Inactive reports are hidden from the client-facing view
        is_pinned:
          type: boolean
          default: false
          description: Pinned reports sort first
        order:
          type: integer
          default: 0
          description: Manual sort key
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - client_id
        - title
    ReportWrite:
      type: object
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          default: ''
        period:
          type: string
          maxLength: 100
        published_on:
          type: string
          format: date
        report_file:
          type: string
          format: binary
          description: >-
            Must end in .html or .pdf. Max size default 10 MB
            (server-configurable).
        is_active:
          type: boolean
          default: true
        is_pinned:
          type: boolean
          default: false
        order:
          type: integer
          default: 0
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          default: []
      required:
        - title
    PaginatedReportList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          format: uri
          nullable: true
        previous:
          type: string
          format: uri
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Report'
    Comment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        parent_id:
          type: string
          format: uuid
          nullable: true
          description: The parent comment, if this is a reply
        author_label:
          type: string
          readOnly: true
          description: Display name of the comment's author, set server-side
        is_staff_reply:
          type: boolean
          readOnly: true
          description: true if authored by a LiveLike team member
        text:
          type: string
        is_deleted:
          type: boolean
          readOnly: true
          description: Reserved for soft-delete; not currently settable via this API
        is_edited:
          type: boolean
          readOnly: true
          description: Set automatically when the author edits text
        replies:
          type: array
          description: Always empty for a reply (only one level of nesting)
          items:
            $ref: '#/components/schemas/Comment'
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - text
    CommentWrite:
      type: object
      properties:
        text:
          type: string
        parent_id:
          type: string
          format: uuid
          nullable: true
          description: >-
            ID of an existing top-level comment on the same report to reply to.
            Omit/null for a top-level comment.
      required:
        - text
    CommentUpdate:
      type: object
      properties:
        text:
          type: string
      required:
        - text
    PaginatedCommentList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          format: uri
          nullable: true
        previous:
          type: string
          format: uri
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
    Error:
      type: object
      properties:
        detail:
          type: string
    ValidationError:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
      description: Maps field name to a list of error messages
  securitySchemes:
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: LiveLike JWT
    clientJwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Client JWT
    producerAccessToken:
      type: apiKey
      in: header
      name: Authorization
      description: Producer access token
    sessionAuth:
      type: apiKey
      in: cookie
      name: sessionid
      description: Django session cookie
    personalApiToken:
      type: apiKey
      in: header
      name: Authorization
      description: Personal API token
x-readme: {}
