{"openapi":"3.1.0","info":{"title":"leaderboard-views","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/":{"post":{"summary":"Create a Leaderboard View","description":"","operationId":"create-a-leaderboard-view","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["leaderboard_id"],"properties":{"leaderboard_id":{"type":"string","description":"The ID of the Leaderboard for which to create the view"},"name":{"type":"string","description":"Optional name to assign to the view."},"profile_ids":{"type":"array","description":"The initial set of Profile IDs to add to the view","items":{"type":"string"}}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"8f24038e-c137-4190-a34f-dfd990a348d7\",\n  \"name\": \"North America\",\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/8f24038e-c137-4190-a34f-dfd990a348d7/\",\n  \"leaderboard_id\": \"68baf816-53de-4a8b-a3d3-efb7a47c59c0\",\n  \"profiles_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/8f24038e-c137-4190-a34f-dfd990a348d7/profiles/\",\n}"}}}}}},"deprecated":false}},"/{id}/":{"put":{"summary":"Replace Profiles in a View","description":"Existing Profiles not in this set will be removed.","operationId":"replace-profiles-in-a-view","parameters":[{"name":"id","in":"path","description":"The Leaderboard View ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"profile_ids":{"type":"array","description":"The IDs of the Profiles that are now assigned to this view.  An empty list will remove all existing Profiles.  The Profiles do not have to already exist as entries on the Leaderboard.","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"8f24038e-c137-4190-a34f-dfd990a348d7\",\n  \"name\": \"North America\",\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/8f24038e-c137-4190-a34f-dfd990a348d7/\",\n  \"leaderboard_id\": \"68baf816-53de-4a8b-a3d3-efb7a47c59c0\",\n  \"profiles_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/8f24038e-c137-4190-a34f-dfd990a348d7/profiles/\",\n}"}}}}}},"deprecated":false},"patch":{"summary":"Add Profiles to a Leaderboard View","description":"Existing Profiles in the view will be preserved.","operationId":"add-profiles-to-a-leaderboard-view","parameters":[{"name":"id","in":"path","description":"The Leaderboard View ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["profile_ids"],"properties":{"profile_ids":{"type":"array","description":"One or more Profile IDs to add to the Leaderboard View.  The Profiles do not have to already exist as entries on the Leaderboard.","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"id\": \"8f24038e-c137-4190-a34f-dfd990a348d7\",\n  \"name\": \"North America\",\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/8f24038e-c137-4190-a34f-dfd990a348d7/\",\n  \"leaderboard_id\": \"68baf816-53de-4a8b-a3d3-efb7a47c59c0\",\n  \"profiles_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/8f24038e-c137-4190-a34f-dfd990a348d7/profiles/\",\n}"}}}}}},"deprecated":false},"delete":{"summary":"Delete a Leaderboard View","description":"","operationId":"delete-a-leaderboard-view","parameters":[{"name":"id","in":"path","description":"The Leaderboard View ID","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{id}/profiles/{profile_id}/":{"delete":{"summary":"Delete a Profile from a Leaderboard View","description":"Remove a single Profile from a Leaderboard View","operationId":"delete-a-profile-from-a-leaderboard-view","parameters":[{"name":"id","in":"path","description":"The ID of the Leaderboard View","schema":{"type":"string"},"required":true},{"name":"profile_id","in":"path","description":"The ID of the Profile to delete from the Leaderboard View","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{id}/profiles/":{"get":{"summary":"List Profiles for a Leaderboard View","description":"Existing Profiles not in this set will be removed.","operationId":"list-profiles-for-a-leaderboard-view","parameters":[{"name":"id","in":"path","description":"The Leaderboard View ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 1,\n  \"next\": null,\n  \"previous\": null,\n  \"results\": [\n    {\n      \"id\": \"5c92f58f-f987-4269-8a32-83efa6693999\",\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-room-memberships/5c92f58f-f987-4269-8a32-83efa6693999/\",\n      \"profile\": {\n        \"id\": \"26b0cae1-3890-486c-b6c0-0b36005c76d6\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/26b0cae1-3890-486c-b6c0-0b36005c76d6/\",\n        \"created_at\": \"2020-04-16T23:15:07.550000Z\",\n        \"nickname\": \"Wise Bee\",\n        \"subscribe_channel\": \"profile.26b0cae1-3890-486c-b6c0-0b36005c76d6\",\n        \"reported_count\": 0,\n        \"chat_room_memberships_url\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/26b0cae1-3890-486c-b6c0-0b36005c76d6/chat-room-memberships/\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"count":{"type":"integer","example":1,"default":0},"next":{},"previous":{},"results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"5c92f58f-f987-4269-8a32-83efa6693999"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/chat-room-memberships/5c92f58f-f987-4269-8a32-83efa6693999/"},"profile":{"type":"object","properties":{"id":{"type":"string","example":"26b0cae1-3890-486c-b6c0-0b36005c76d6"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/26b0cae1-3890-486c-b6c0-0b36005c76d6/"},"created_at":{"type":"string","example":"2020-04-16T23:15:07.550000Z"},"nickname":{"type":"string","example":"Wise Bee"},"subscribe_channel":{"type":"string","example":"profile.26b0cae1-3890-486c-b6c0-0b36005c76d6"},"reported_count":{"type":"integer","example":0,"default":0},"chat_room_memberships_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/26b0cae1-3890-486c-b6c0-0b36005c76d6/chat-room-memberships/"}}}}}}}}}}}},"deprecated":false}},"/#":{"get":{"summary":"List Views for a Leaderboard","description":"","operationId":"list-views-for-a-leaderboard","parameters":[{"name":"leaderboard_id","in":"query","description":"The Leaderboard ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"count\": 1,\n   \"next\": null,\n   \"previous\": null,\n    \"results\": [\n        {\n            \"id\": \"8f24038e-c137-4190-a34f-dfd990a348d7\",\n            \"name\": \"North America\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/8f24038e-c137-4190-a34f-dfd990a348d7/\",\n            \"leaderboard_id\": \"68baf816-53de-4a8b-a3d3-efb7a47c59c0\",\n            \"profiles_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/8f24038e-c137-4190-a34f-dfd990a348d7/profiles/\",\n        }\n    ]\n}"}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}