{"openapi":"3.1.0","info":{"title":"leaderboards","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/leaderboards"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/{id}/":{"get":{"summary":"Get Leaderboard Details","description":"Getting leaderboard details can be achieved by using the request below. Leaderboard details can be useful if you would like to know the name of the leaderboard or the type of reward a user can earn.","operationId":"get-leaderboard-details","parameters":[{"name":"id","in":"path","description":"The leaderboard ID","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"{leaderboard_id}\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboards/{leaderboard_id}/\",\n    \"client_id\": \"{client_id}\",\n    \"name\": \"LiveLike Points Leaders\",\n    \"reward_item\": {\n        \"id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/reward-items/5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0/\",\n        \"client_id\": \"client_id\",\n        \"name\": \"LiveLike Points\"\n    },\n    \"attributes\":[]\n    \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n    \"is_locked\": false,\n    \"entries_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/{leaderboard_id}/entries\",\n    \"entry_detail_url_template\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/{leaderboard_id}/entries/{profile_id}\"\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[]},"patch":{"summary":"Update a Leaderboard","description":"","operationId":"update-leaderboard","parameters":[{"name":"id","in":"path","description":"The leaderboard ID","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The descriptive name of the leaderboard"},"is_locked":{"type":"boolean","description":"Whether or not scores will update in the leaderboard"},"attributes":{"type":"array","items":{"properties":{"key":{"type":"string"},"value":{"type":"string"}},"required":["key","value"],"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"{leaderboard_id}\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboards/{leaderboard_id}/\",\n    \"client_id\": \"{client_id}\",\n    \"name\": \"LiveLike Points Leaders\",\n    \"reward_item\": {\n        \"id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/reward-items/5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0/\",\n        \"client_id\": \"client_id\",\n        \"name\": \"LiveLike Points\"\n    },\n    \"attributes\":[\n      {\n        \"key\": \"key1\",\n        \"value\": \"value1\"\n      }\n    ]\n    \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n    \"is_locked\": false,\n    \"entries_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/{leaderboard_id}/entries\",\n    \"entry_detail_url_template\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/{leaderboard_id}/entries/{profile_id}\"\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[]}},"/":{"get":{"summary":"List Leaderboards","description":"","operationId":"list-leaderboards","parameters":[{"name":"client_id","in":"query","description":"Filter results by client ID","schema":{"type":"string"}},{"name":"program_id","in":"query","description":"Filter results by linked program IDs","schema":{"type":"string"}},{"name":"attributes","in":"query","description":"Filter result by attributes, should be passed as attributes=key:value","schema":{"type":"string"}},{"name":"is_locked","in":"query","description":"Filter result by whether a leaderboard is locked or not.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"count\": 1,\n  \"next\": null,\n  \"previous\": null,\n  \"results\": [\n    {\n      \"id\": \"example-leaderboard-1\",\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboards/example-leaderboard-1/\",\n      \"client_id\": \"example-app-1\",\n      \"name\": \"LiveLike Points Leaders\",\n      \"reward_item\": {\n          \"id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n          \"url\": \"https://cf-blast.livelikecdn.com/api/v1/reward-items/5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0/\",\n          \"client_id\": \"example-app-1\",\n          \"name\": \"LiveLike Points\"\n      },\n      \"attributes\":[\n        {\n          \"key\": \"key1\",\n          \"value\": \"value1\"\n        }\n      ]\n      \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n      \"is_locked\": false,\n      \"entries_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/{leaderboard_id}/entries\",\n      \"entry_detail_url_template\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/{leaderboard_id}/entries/{profile_id}\"\n    }\n\t]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"post":{"summary":"Create Leaderboard","description":"","operationId":"create-leaderboard","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"reward_item_id":{"type":"string"},"client_id":{"type":"string"},"attributes":{"type":"array","items":{"properties":{"key":{"type":"string"},"value":{"type":"string"}},"required":["key","value"],"type":"object"}},"custom_id":{"type":"string","description":"Custom Identifier for leaderboard"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"name\": \"new leaderboard\",\n  \"reward_item_id\": \"d4ea39c8-2530-410a-b770-212368d2fd45\",\n  \"client_id\": \"lom9db0XtQUhOZQq1vz8QPfSpiyyxppiUVGMcAje\",\n  \"attributes\":[\n        {\n          \"key\": \"key1\",\n          \"value\": \"value1\"\n        }\n      ]\n}"}},"schema":{"type":"object","properties":{"name":{"type":"string","example":"new leaderboard"},"reward_item_id":{"type":"string","example":"d4ea39c8-2530-410a-b770-212368d2fd45"},"client_id":{"type":"string","example":"lom9db0XtQUhOZQq1vz8QPfSpiyyxppiUVGMcAje"},"attributes":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","example":"key1"},"value":{"type":"string","example":"value1"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/leaderboard-by-custom-id/{custom-id}/":{"patch":{"summary":"Update a Leaderboard by custom-id","description":"","operationId":"update-a-leaderboard-copy","parameters":[{"name":"custom-id","in":"path","description":"Unique Custom Id mapped in your system","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The descriptive name of the leaderboard"},"is_locked":{"type":"boolean","description":"Whether or not scores will update in the leaderboard"},"attributes":{"type":"array","items":{"properties":{"key":{"type":"string"},"value":{"type":"string"}},"required":["key","value"],"type":"object"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"{leaderboard_id}\",\n    \"custom_id\": \"custom-id1\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboards/{leaderboard_id}/\",\n    \"client_id\": \"{client_id}\",\n    \"name\": \"LiveLike Points Leaders\",\n    \"reward_item\": {\n        \"id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/reward-items/5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0/\",\n        \"client_id\": \"client_id\",\n        \"name\": \"LiveLike Points\"\n    },\n    \"attributes\":[\n      {\n        \"key\": \"key1\",\n        \"value\": \"value1\"\n      }\n    ]\n    \"reward_item_id\": \"5e1016ef-9cf8-450f-9ad6-5e3996f1cbb0\",\n    \"is_locked\": false,\n    \"entries_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/{leaderboard_id}/entries\",\n    \"entry_detail_url_template\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/{leaderboard_id}/entries/{profile_id}\"\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[]}},"/{id}/entries/":{"get":{"summary":"List Leaderboard Entries","description":"A user that competes is considered a leaderboard entry. Retrieving leaderboard entries returns a paginated list of twenty leaderboard entry objects at maximum.","operationId":"getting-leaderboard-entries","parameters":[{"name":"id","in":"path","description":"Leaderboard Id","schema":{"type":"string"},"required":true},{"name":"profile_id","in":"query","description":"Query entries for the given Profile IDs.  Multiple parameters can be provided.","schema":{"type":"array","items":{"type":"string"}}},{"name":"view_id","in":"query","description":"Query entries for the give Leaderboard View ID.  Multiple parameters can be provided.","schema":{"type":"array","items":{"type":"string"}}},{"name":"page_size","in":"query","description":"The number of entries per page.  Default is 20, max is 100.","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"previous\": null,\n    \"count\": 171,\n    \"next\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/leaderboards/70bf764a-dce4-4c17-9529-a305c3b404f3/entries?start=20\",\n    \"results\": [\n        {\n            \"percentile_rank\": \"0.000\",\n            \"profile_id\": \"5429272d-4ba9-42e9-b26e-0cd13c138546\",\n            \"rank\": 1,\n            \"score\": 87955,\n            \"profile_nickname\": \"Ben\",\n            \"profile\": {\n                \"nickname\": \"Ben\",\n                \"created_at\": \"2020-05-23T17:27:08.408000+00:00\",\n                \"id\": \"5429272d-4ba9-42e9-b26e-0cd13c138546\",\n                \"subscribe_channel\": \"profile.5429272d-4ba9-42e9-b26e-0cd13c138546\",\n                \"chat_room_memberships_url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/profiles/J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf/5429272d-4ba9-42e9-b26e-0cd13c138546/chat-room-memberships\",\n                \"url\": \"https://blastrt-prod-us-east-1.livelikecdn.com/services/profiles/J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf/5429272d-4ba9-42e9-b26e-0cd13c138546\",\n                \"reported_count\": 0,\n                \"custom_data\": null,\n                \"badges\": [],\n                \"points\": 0\n            }\n         }\n        }\n    ]\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[]}},"/{id}/entries/{profile_id}/":{"get":{"summary":"Get Leaderboard Entry Detail","description":"","operationId":"get-leaderboard-entry-detail","parameters":[{"name":"id","in":"path","description":"Leaderboard Id","schema":{"type":"string"},"required":true},{"name":"profile_id","in":"path","description":"Profile Id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"rank\":1,\n  \"percentile_rank\":\"0.000\",\n  \"score\":200,\n  \"profile_id\":\"c05ca-45fd-4459-891f-937885473b\",\n  \"profile_nickname\":\"Tricky Scorer\",\n  \"profile\":{\n    \"id\":\"c55d5ca-45fd-4459-891f-9378853c473b\",\n     \"url\":\"https://livelike.com/services/profiles/Jru/5ca-jk\",\n     \"created_at\":\"2020-07-02T14:42:59.627300Z\",\n     \"nickname\":\"Tricky Scorer\",\n     \"custom_data\":\"userdata: NULL\",\n     \"subscribe_channel\":\"profile.c0ca-45fd-459-891f-937473b\",\n     \"reported_count\":0,\n     \"chat_room_memberships_url\":\"https://blastrt-dev-us-east-1.livelikecdn.com/services/profiles/JsOcFru/c05dc473b/chat-room-memberships\"\n  }\n}"}},"schema":{"type":"object","properties":{"rank":{"type":"integer","example":1,"default":0},"percentile_rank":{"type":"string","example":"0.000"},"score":{"type":"integer","example":200,"default":0},"profile_id":{"type":"string","example":"c05ca-45fd-4459-891f-937885473b"},"profile_nickname":{"type":"string","example":"Tricky Scorer"},"profile":{"type":"object","properties":{"id":{"type":"string","example":"c55d5ca-45fd-4459-891f-9378853c473b"},"url":{"type":"string","example":"https://livelike.com/services/profiles/Jru/5ca-jk"},"created_at":{"type":"string","example":"2020-07-02T14:42:59.627300Z"},"nickname":{"type":"string","example":"Tricky Scorer"},"custom_data":{"type":"string","example":"userdata: NULL"},"subscribe_channel":{"type":"string","example":"profile.c0ca-45fd-459-891f-937473b"},"reported_count":{"type":"integer","example":0,"default":0},"chat_room_memberships_url":{"type":"string","example":"https://blastrt-dev-us-east-1.livelikecdn.com/services/profiles/JsOcFru/c05dc473b/chat-room-memberships"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[]}},"/{leaderboard_id}/leaderboard-views/":{"get":{"summary":"List all leaderboard views in a Leaderboard","description":"","operationId":"list-all-leaderboard-views-in-a-leaderboard","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"previous\": null,\n    \"results\": [\n        {\n            \"id\": \"f797af0b-2b30-4e63-98ae-63d4a657bbd9\",\n            \"profiles_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/f797af0b-2b30-4e63-98ae-63d4a657bbd9/profiles/\",\n            \"name\": \"Test View 1\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/f797af0b-2b30-4e63-98ae-63d4a657bbd9/\",\n            \"entries_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboards/3727d057-93fc-4e9b-b6b9-1987917b0908/entries/?view_id=f797af0b-2b30-4e63-98ae-63d4a657bbd9\",\n            \"total_reward_item_amount\": 862,\n            \"leaderboard_id\": \"3727d057-93fc-4e9b-b6b9-1987917b0908\"\n        },\n        {\n            \"id\": \"3802dbfe-e92e-41b2-afed-d6aed87bd685\",\n            \"profiles_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/3802dbfe-e92e-41b2-afed-d6aed87bd685/profiles/\",\n            \"name\": \"Test View 2\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/3802dbfe-e92e-41b2-afed-d6aed87bd685/\",\n            \"entries_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaderboards/3727d057-93fc-4e9b-b6b9-1987917b0908/entries/?view_id=3802dbfe-e92e-41b2-afed-d6aed87bd685\",\n            \"total_reward_item_amount\": 110,\n            \"leaderboard_id\": \"3727d057-93fc-4e9b-b6b9-1987917b0908\"\n        }\n    ],\n    \"count\": 2,\n    \"next\": null\n}"}},"schema":{"type":"object","properties":{"previous":{},"results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"f797af0b-2b30-4e63-98ae-63d4a657bbd9"},"profiles_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/f797af0b-2b30-4e63-98ae-63d4a657bbd9/profiles/"},"name":{"type":"string","example":"Test View 1"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/leaderboard-views/f797af0b-2b30-4e63-98ae-63d4a657bbd9/"},"entries_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/leaderboards/3727d057-93fc-4e9b-b6b9-1987917b0908/entries/?view_id=f797af0b-2b30-4e63-98ae-63d4a657bbd9"},"total_reward_item_amount":{"type":"integer","example":862,"default":0},"leaderboard_id":{"type":"string","example":"3727d057-93fc-4e9b-b6b9-1987917b0908"}}}},"count":{"type":"integer","example":2,"default":0},"next":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}