{
  "openapi": "3.1.0",
  "info": {
    "version": "1.1.0",
    "title": "LiveLike Analytics API",
    "description": "The LiveLike Analytics API gives you direct access to the data behind your LiveLike dashboards. It runs on top of [metabase.livelikecdn.com](https://metabase.livelikecdn.com), so the structure will feel familiar if you've worked with Metabase before.\n\n## Core Concepts\n\n### Collections\nA Collection is a folder. It holds Cards, Dashboards, and Documents, and can be nested inside other Collections. Everything belongs to exactly one Collection. The root Collection (id `\"root\"`) sits at the top of the tree.\n\n### Cards\nA Card is a saved query with a chart. Each Card runs against one database, written in either raw SQL (`query_type: \"native\"`) or built with the query builder (`query_type: \"query\"`), and displays as a specific chart type — `scalar`, `table`, `bar`, `line`, `pie`, etc. Cards have filter slots (template-tag parameters) you fill in when downloading data.\n\n### Dashboards\nA Dashboard is a set of Cards on a canvas. Each Card placed on a Dashboard is called a Dashcard — it has its own `id` (`dashcard_id`) separate from the underlying Card's `id` (`card_id`). Dashboards can have filters that fan out to multiple Dashcards at once. To download data from a Dashboard Card you need three IDs: `dashboard_id`, `dashcard_id`, and `card_id`.\n\n## Authentication\nEvery request needs an API key in the `x-api-key` header. Keys are scoped to specific Collections — requests outside that scope return `403 Forbidden`.\n\n## Typical flow\n1. **Find your Collection** — `GET /api/collection/tree` to browse the folder structure.\n2. **List what's inside** — `GET /api/collection/{id}/items` to see the Cards and Dashboards in it.\n3. **Check filters** — `GET /api/card/{id}` or `GET /api/dashboard/{id}` to see what parameters a Card or Dashboard takes.\n4. **Download** — `POST /api/card/{id}/query/{format}` or `POST /api/dashboard/{dashboard_id}/dashcard/{dashcard_id}/card/{card_id}/query/{format}` with filter values in the body."
  },
  "servers": [
    {
      "url": "https://metabase.livelikecdn.com",
      "description": "LiveLike Metabase instance"
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Collections are folders that hold Cards, Dashboards, and Documents. They can be nested to any depth.\n\n- Every Card and Dashboard belongs to exactly one Collection.\n- The root Collection has `id: \"root\"` (a string, not an integer).\n- The `location` field gives the full folder path, e.g. `\"/11/74/\"` means this Collection is inside 74, which is inside 11.\n- Your API key only sees Collections it has been granted access to.\n- Items with `is_personal: true` are individual user folders — skip these when looking for shared analytics content.\n- Use `/api/collection/tree` for the full nested hierarchy. Use `/api/collection/` for a flat list. Use `/api/collection/{id}/items` to see what's inside a specific Collection."
    },
    {
      "name": "Cards",
      "description": "A Card is a single saved query with a chart. Every chart on a Dashboard and every standalone report you can download is backed by a Card.\n\n- `query_type`: `\"native\"` = raw SQL, `\"query\"` = built with the query builder.\n- `display`: the chart type — `scalar`, `table`, `bar`, `line`, `pie`, `row`, `area`, `combo`, `funnel`, `object`, etc.\n- `parameters`: the filter slots on the Card. Pass values for these when downloading.\n- `result_metadata`: the output columns. The `display_name` of each column is the key you'll get in JSON export rows.\n- `database_id`: `3` = blast-prod PostgreSQL, `2` = Redshift analytics.\n- `fully_parameterized: true` means all filters have defaults and the Card runs without you passing anything. If `false`, check `parameters[]` for entries where `required: true` and no `default` is set — those must be supplied or the download will fail."
    },
    {
      "name": "Dashboards",
      "description": "A Dashboard is a canvas of Cards, giving you a single view across multiple metrics with shared filter controls.\n\n- A Dashboard holds one or more Dashcards — each one is a Card placed on the canvas.\n- A Dashcard has two IDs: `id` (the `dashcard_id`, specific to this placement) and `card_id` (the underlying Card). You need both to download data via the Dashboard Card download endpoint.\n- `parameters` on the Dashboard are the filter controls — things like a date range or a client selector. Some filter which rows are returned (e.g. `client_id`, `date_range`); others change the aggregation grain (e.g. an `interval` filter switching between `day`, `week`, `month`).\n- `parameter_mappings` on each Dashcard shows how a dashboard filter maps to a template tag on that Card.\n- `tabs`: present when the Dashboard uses a tabbed layout; each tab holds a subset of Dashcards.\n- Always call `GET /api/dashboard/{id}` first — you need the `dashcard_id` and `card_id` from that response before hitting the download endpoint."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your API key from LiveLike. It's scoped to specific Collections — requests to content outside its scope return `403 Forbidden`."
      }
    },
    "schemas": {
      "Collection": {
        "type": "object",
        "description": "Metadata for a single Collection (folder). Use the `id` to list its contents via `GET /api/collection/{id}/items`.",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "description": "The Collection ID. Regular collections use integers; the root collection uses the string `\"root\"`. Pass this as `collection_id` in follow-up requests."
          },
          "name": {
            "type": "string",
            "description": "The Collection's display name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description. Null if not set."
          },
          "slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL-safe version of the name. Null for the root Collection."
          },
          "location": {
            "type": "string",
            "description": "Folder path from root. `\"/\"` = direct child of root. `\"/11/74/\"` = inside Collection 74, which is inside 11."
          },
          "is_personal": {
            "type": "boolean",
            "description": "`true` for a user's personal folder. These aren't relevant for shared analytics — filter them out."
          },
          "archived": {
            "type": "boolean",
            "description": "`true` if archived (soft-deleted). Archived Collections are excluded from normal listings."
          },
          "entity_id": {
            "type": "string",
            "description": "A stable UUID that doesn't change on rename or move. Safe for long-lived references."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the Collection was created, in ISO 8601 format."
          }
        }
      },
      "CollectionTree": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Collection"
          },
          {
            "type": "object",
            "properties": {
              "children": {
                "type": "array",
                "description": "The sub-collections nested inside this one. Only present in the `/api/collection/tree` response. An empty array means there are no sub-collections.",
                "items": {
                  "$ref": "#/components/schemas/CollectionTree"
                }
              }
            }
          }
        ]
      },
      "CollectionItem": {
        "type": "object",
        "description": "A single item inside a Collection — either a Card, a Dashboard, or a Document.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The item's ID. For cards this is `card_id`; for dashboards this is `dashboard_id`."
          },
          "name": {
            "type": "string",
            "description": "The display name of the item."
          },
          "model": {
            "type": "string",
            "enum": [
              "card",
              "dashboard",
              "document"
            ],
            "description": "Item type: `\"card\"` = saved query, `\"dashboard\"` = dashboard canvas, `\"document\"` = text notebook."
          },
          "display": {
            "type": [
              "string",
              "null"
            ],
            "description": "Chart type for Cards. Null for Dashboards and Documents."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description. Null if not set."
          },
          "collection_id": {
            "type": "integer",
            "description": "ID of the Collection this item belongs to."
          },
          "database_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Database the Card queries. Null for Dashboards and Documents. `2` = Redshift, `3` = blast-prod PostgreSQL."
          },
          "entity_id": {
            "type": "string",
            "description": "Stable UUID — doesn't change on rename or move."
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Last time this item was viewed or run. Null if never used."
          },
          "fully_parameterized": {
            "type": "boolean",
            "description": "Cards only: `true` = all filters have defaults, safe to call with `parameters: []`. `false` = at least one filter has no default — check `parameters[]` before downloading. Always `false` for Dashboards; ignore it there."
          }
        }
      },
      "CollectionItemsResponse": {
        "type": "object",
        "description": "The paginated response you get back from `GET /api/collection/{id}/items`.",
        "properties": {
          "total": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Total number of matching items across all pages. Can be null when the Collection is empty."
          },
          "data": {
            "type": "array",
            "description": "The items on the current page.",
            "items": {
              "$ref": "#/components/schemas/CollectionItem"
            }
          },
          "models": {
            "type": "array",
            "description": "Which item types are included in this response, e.g. `[\"card\", \"dashboard\"]`.",
            "items": {
              "type": "string"
            }
          },
          "limit": {
            "type": "integer",
            "description": "How many items per page were requested."
          },
          "offset": {
            "type": "integer",
            "description": "The zero-based starting position used for this page."
          }
        }
      },
      "TemplateTagParameter": {
        "type": "object",
        "description": "A filter slot on a Card. Maps to a `{{variable_name}}` placeholder in SQL or a filter widget in the query builder.",
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID of this parameter."
          },
          "name": {
            "type": "string",
            "description": "Internal name — matches `{{variable_name}}` in the SQL. Use this in `target` arrays when querying."
          },
          "display_name": {
            "type": "string",
            "description": "Label shown in the UI."
          },
          "type": {
            "type": "string",
            "description": "Data type: `\"text\"`, `\"number\"`, `\"date\"`, `\"dimension\"`, `\"card\"`, or `\"snippet\"`."
          },
          "required": {
            "type": "boolean",
            "description": "`true` means you must include this parameter in the download request body. If `required` is `true` and no `default` is set, calling the download endpoint without it will return a `400 Bad Request` or trigger a `500` query error. Always check this field before calling the download endpoint."
          },
          "default": {
            "description": "Default value when nothing is passed. When set, the Card runs without that parameter."
          }
        }
      },
      "ResultMetadataColumn": {
        "type": "object",
        "description": "Metadata for a single output column in the Card's query results.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Raw column name from the query."
          },
          "display_name": {
            "type": "string",
            "description": "Column header in the UI — and the exact key in JSON export rows."
          },
          "base_type": {
            "type": "string",
            "description": "Column data type, e.g. `\"type/Text\"`, `\"type/Integer\"`, `\"type/DateTime\"`."
          },
          "semantic_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional semantic label, e.g. `\"type/PK\"`, `\"type/FK\"`. Null if not set."
          }
        }
      },
      "CardMetadata": {
        "type": "object",
        "description": "Metadata for a Card — no query is run. Use this to check what filters a Card needs and what columns it returns before hitting the download endpoint.\n\nIf `fully_parameterized` is `false`, look through `parameters[]` for entries where `required: true` and no `default` — those must be included in the download request body.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The Card's ID."
          },
          "name": {
            "type": "string",
            "description": "Card display name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the Card measures. Null if not set."
          },
          "display": {
            "type": "string",
            "description": "Chart type."
          },
          "query_type": {
            "type": "string",
            "enum": [
              "native",
              "query"
            ],
            "description": "`\"native\"` = raw SQL. `\"query\"` = built with the query builder."
          },
          "collection_id": {
            "type": "integer",
            "description": "Collection this Card belongs to."
          },
          "database_id": {
            "type": "integer",
            "description": "Database this Card queries. `2` = Redshift, `3` = blast-prod PostgreSQL."
          },
          "entity_id": {
            "type": "string",
            "description": "Stable UUID — survives renames and moves."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the Card was created, in ISO 8601 format."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the Card's query or settings were last changed, in ISO 8601 format."
          },
          "parameters": {
            "type": "array",
            "description": "Filter slots on this Card. Pass values for these in the download request body. Empty array = no filters.",
            "items": {
              "$ref": "#/components/schemas/TemplateTagParameter"
            }
          },
          "result_metadata": {
            "type": "array",
            "description": "Output columns from the last successful run. `display_name` is the key in JSON export rows.",
            "items": {
              "$ref": "#/components/schemas/ResultMetadataColumn"
            }
          }
        }
      },
      "DashboardParameter": {
        "type": "object",
        "description": "A filter at the Dashboard level — e.g. a date range or client selector. Values passed here flow to all wired Dashcards via `parameter_mappings`.\n\nNot all filters narrow rows — some change the aggregation grain (e.g. an `interval` filter with values `day`, `week`, `month`). Check `slug` and `type` to understand what a filter does.",
        "properties": {
          "id": {
            "type": "string",
            "description": "UUID of this filter."
          },
          "name": {
            "type": "string",
            "description": "Filter label."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe filter identifier."
          },
          "type": {
            "type": "string",
            "description": "Filter type. Common values: `\"category\"`, `\"string/=\"`, `\"date/single\"`, `\"date/range\"`, `\"number/=\"`."
          },
          "default": {
            "description": "Default value when nothing is passed."
          }
        }
      },
      "ParameterMapping": {
        "type": "object",
        "description": "Links a dashboard filter to a template tag on a Dashcard. Metabase uses this to inject the filter value into the Card's query.",
        "properties": {
          "parameter_id": {
            "type": "string",
            "description": "UUID of the dashboard filter driving this mapping."
          },
          "card_id": {
            "type": "integer",
            "description": "Card this mapping applies to."
          },
          "target": {
            "type": "array",
            "description": "Points to the template tag on the Card, e.g. `[\"variable\", [\"template-tag\", \"client_id\"]]`."
          }
        }
      },
      "DashboardCard": {
        "type": "object",
        "description": "A Card placed on a Dashboard canvas (Dashcard). Has its own `id` (`dashcard_id`) separate from the underlying `card_id`. You need both for the download endpoint.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Dashcard ID — specific to this Card placement on the Dashboard. Pass as `dashcard_id` in the download endpoint."
          },
          "card_id": {
            "type": "integer",
            "description": "Card ID — the underlying Card. Pass as `card_id` in the download endpoint."
          },
          "dashboard_id": {
            "type": "integer",
            "description": "Dashboard this Dashcard belongs to."
          },
          "card": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CardMetadata"
              }
            ],
            "description": "Embedded Card metadata — `name`, `display`, `parameters`, `result_metadata`."
          },
          "parameter_mappings": {
            "type": "array",
            "description": "How dashboard filters map to this Card's template tags. Empty array = no dashboard filters wired to this Dashcard.",
            "items": {
              "$ref": "#/components/schemas/ParameterMapping"
            }
          }
        }
      },
      "DashboardTab": {
        "type": "object",
        "description": "A tab in a tabbed Dashboard.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Tab ID."
          },
          "name": {
            "type": "string",
            "description": "Tab name."
          },
          "position": {
            "type": "integer",
            "description": "Position in the tab bar (zero-indexed)."
          }
        }
      },
      "Dashboard": {
        "type": "object",
        "description": "Full Dashboard metadata including all Dashcards and filters. Call this before downloading — you need `dashcard_id` and `card_id` from `dashcards[]`.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Dashboard ID."
          },
          "name": {
            "type": "string",
            "description": "Dashboard display name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the Dashboard shows. Null if not set."
          },
          "collection_id": {
            "type": "integer",
            "description": "Collection this Dashboard belongs to."
          },
          "entity_id": {
            "type": "string",
            "description": "Stable UUID — survives renames and moves."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the Dashboard was created, in ISO 8601 format."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the Dashboard layout or settings were last changed, in ISO 8601 format."
          },
          "parameters": {
            "type": "array",
            "description": "Dashboard-level filters. Pass values here to filter all wired Dashcards at once. Some filters narrow rows (client, date); others change aggregation grain (e.g. interval: `day`/`week`/`month`).",
            "items": {
              "$ref": "#/components/schemas/DashboardParameter"
            }
          },
          "tabs": {
            "type": "array",
            "description": "Tabs in a tabbed Dashboard. Empty array = single pane with no tabs.",
            "items": {
              "$ref": "#/components/schemas/DashboardTab"
            }
          },
          "dashcards": {
            "type": "array",
            "description": "All Cards on this Dashboard. Each entry has the `dashcard_id` and `card_id` needed for the download endpoint.",
            "items": {
              "$ref": "#/components/schemas/DashboardCard"
            }
          }
        }
      },
      "QueryFilterParameter": {
        "type": "object",
        "description": "A filter value for a Card's template tag. Add one per filter slot you want to set.",
        "required": [
          "type",
          "target",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Filter type. `\"category\"` for text tags. Other common values: `\"number/=\"`, `\"date/single\"`, `\"date/range\"`.",
            "example": "category"
          },
          "target": {
            "type": "array",
            "description": "Points to the template tag. Format: `[\"variable\", [\"template-tag\", \"<tag_name>\"]]` — `<tag_name>` matches the `name` in the Card's `parameters` array.",
            "example": [
              "variable",
              [
                "template-tag",
                "client_id"
              ]
            ]
          },
          "value": {
            "type": "string",
            "description": "The value to inject.",
            "example": "YOUR_CLIENT_ID"
          }
        }
      },
      "QueryRequestBody": {
        "type": "object",
        "description": "Request body for download endpoints.",
        "required": [
          "parameters"
        ],
        "properties": {
          "parameters": {
            "type": "array",
            "description": "Filter values to apply. Pass `[]` if the Card has no required filters or you're using defaults. Add one entry per filter you want to set. Omitting a `required: true` parameter with no `default` returns a `400` or `500`.",
            "items": {
              "$ref": "#/components/schemas/QueryFilterParameter"
            }
          }
        }
      },
      "ExportJsonRow": {
        "type": "object",
        "description": "One row from a JSON export. Keys are the `display_name` values from `result_metadata`. Value types vary by column.",
        "additionalProperties": true,
        "example": {
          "Total Programs": 42,
          "Application ID": "abc123",
          "Created At": "2025-03-15T10:00:00Z"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/collection/": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List All Collections",
        "description": "Returns a flat list of all Collections your API key has access to. Use the `id` values to list what's inside with `GET /api/collection/{id}/items`.\n\nUse `/api/collection/tree` instead when you need the full nested hierarchy in one call.\n\n> **Note:** The root Collection has `id: \"root\"` (a string). All others use integer IDs.\n\n> **Tip:** Filter out items where `is_personal: true` — these are individual user folders, not shared analytics content.",
        "operationId": "get_collections",
        "responses": {
          "200": {
            "description": "A flat array of Collections visible to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Collection"
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "Two collections — root and a top-level analytics collection",
                    "value": [
                      {
                        "id": "root",
                        "name": "Our analytics",
                        "is_personal": false,
                        "location": null,
                        "archived": false
                      },
                      {
                        "id": 11,
                        "name": "Livelike Analytics Dashboard",
                        "slug": "livelike_analytics_dashboard",
                        "description": null,
                        "is_personal": false,
                        "archived": false,
                        "location": "/",
                        "created_at": "2025-01-15T08:24:54.114487Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          }
        }
      }
    },
    "/api/collection/tree": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get Collection Tree",
        "description": "Returns the full Collection hierarchy as a nested tree. Each Collection has a `children` array containing its sub-collections recursively.\n\nUseful for building navigation or finding a deeply nested Collection by name without having to reconstruct the tree from `location` paths.\n\n> **Tip:** `entity_id` stays stable across renames and moves — safer to store than `id` or `slug`.",
        "operationId": "get_collection_tree",
        "responses": {
          "200": {
            "description": "An array of top-level Collections, each with a recursive `children` array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CollectionTree"
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "Top-level collection with one nested sub-collection",
                    "value": [
                      {
                        "id": 11,
                        "name": "Livelike Analytics Dashboard",
                        "slug": "livelike_analytics_dashboard",
                        "description": null,
                        "is_personal": false,
                        "archived": false,
                        "location": "/",
                        "children": [
                          {
                            "id": 71,
                            "name": "Dashboard - Feature wise",
                            "slug": "dashboard___feature_wise",
                            "location": "/11/",
                            "children": []
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          }
        }
      }
    },
    "/api/collection/{collection_id}/items": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List Collection Items",
        "description": "Lists the Cards, Dashboards, and Documents inside a Collection. Use `models` to filter by type, and `limit`/`offset` to page through large Collections.\n\n- Cards (`model: \"card\"`) → use `id` as `card_id` in `GET /api/card/{id}` and the Card download endpoint.\n- Dashboards (`model: \"dashboard\"`) → use `id` as `dashboard_id` in `GET /api/dashboard/{id}` and the Dashboard download endpoint.\n\n> **Note:** `total` can be null when the Collection is empty. Check `data.length` instead.",
        "operationId": "get_collection_items",
        "parameters": [
          {
            "in": "path",
            "name": "collection_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "An integer Collection ID from `GET /api/collection/` or `GET /api/collection/tree`. Don't pass the string `\"root\"` here — you need an actual integer ID."
          },
          {
            "in": "query",
            "name": "models",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "card",
                "dashboard",
                "document"
              ]
            },
            "description": "Filter by item type. Repeat to include multiple: `?models=card&models=dashboard`. Leave it out to get everything."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50
            },
            "description": "Max items per page. Defaults to 50."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Where to start in the list (zero-based). Use with `limit` to page through: second page = `offset=50`, third = `offset=100`, and so on."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of items in the Collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItemsResponse"
                },
                "examples": {
                  "OK": {
                    "summary": "Mixed cards and dashboard in a collection",
                    "value": {
                      "total": 54,
                      "models": [
                        "card",
                        "dashboard"
                      ],
                      "limit": 3,
                      "offset": 0,
                      "data": [
                        {
                          "id": 1884,
                          "name": "Auto Opt-In for Quests enabled",
                          "model": "card",
                          "display": "scalar",
                          "description": null,
                          "collection_id": 337,
                          "database_id": 3,
                          "fully_parameterized": true
                        },
                        {
                          "id": 343,
                          "name": "Arcade Games",
                          "model": "dashboard",
                          "display": null,
                          "description": null,
                          "collection_id": 337,
                          "database_id": null,
                          "fully_parameterized": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Collection."
          },
          "404": {
            "description": "Collection not found."
          }
        }
      }
    },
    "/api/card/{card_id}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get Card Metadata",
        "description": "Returns the full metadata for a Card without running the query. Call this before downloading to check what filters are needed and what columns come back.\n\n- `parameters` — filter slots and whether they're required.\n- `result_metadata` — output columns; use `display_name` as the key in JSON exports.\n- `fully_parameterized` — `true` means you can call the download endpoint with `parameters: []`. If `false`, check `parameters[]` for entries where `required: true` and no `default` — those must be passed or the download fails.\n\n> **Tip:** `display_name` values in `result_metadata` are the exact keys in JSON export rows.",
        "operationId": "get_card",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Card ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"card\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "Full Card metadata including parameters and result_metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardMetadata"
                },
                "examples": {
                  "ScalarCard": {
                    "summary": "Scalar card with no required parameters",
                    "value": {
                      "id": 1884,
                      "name": "Auto Opt-In for Quests enabled",
                      "description": null,
                      "display": "scalar",
                      "query_type": "native",
                      "collection_id": 337,
                      "database_id": 3,
                      "parameters": [],
                      "result_metadata": [
                        {
                          "name": "count",
                          "display_name": "Count",
                          "base_type": "type/BigInteger"
                        }
                      ],
                      "created_at": "2025-11-12T13:59:40.527664Z",
                      "updated_at": "2025-11-12T13:59:40.527664Z"
                    }
                  },
                  "FilteredTableCard": {
                    "summary": "Table card requiring a client_id filter",
                    "value": {
                      "id": 1596,
                      "name": "Total Distinct Users",
                      "description": "Counts unique user profiles that have interacted with at least one widget.",
                      "display": "table",
                      "query_type": "native",
                      "collection_id": 437,
                      "database_id": 3,
                      "parameters": [
                        {
                          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "name": "client_id",
                          "display_name": "Client ID",
                          "type": "text",
                          "required": true
                        }
                      ],
                      "result_metadata": [
                        {
                          "name": "application_id",
                          "display_name": "Application ID",
                          "base_type": "type/Text"
                        },
                        {
                          "name": "distinct_users",
                          "display_name": "Distinct Users",
                          "base_type": "type/BigInteger"
                        }
                      ],
                      "created_at": "2025-10-21T12:27:55.000000Z",
                      "updated_at": "2026-01-07T10:17:08.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Card."
          },
          "404": {
            "description": "Card not found."
          }
        }
      }
    },
    "/api/card/{card_id}/query/{export_format}": {
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Download Card Data",
        "description": "Runs the Card's query and returns results in the format you choose.\n\nCheck `fully_parameterized` first. If `false`, call `GET /api/card/{id}` and look for `required: true` parameters with no `default` — you must include those in the request body.\n\n**Request body:** `parameters` array with one entry per filter you want to set. Pass `[]` if there are no required filters.\n\n**JSON format:** flat array of objects — keys are `display_name` values from `result_metadata`.\n\n| Format | Use for |\n|--------|----------|\n| `json` | Processing in code |\n| `csv` | Spreadsheets or pipelines |\n| `xlsx` | Excel files for end users |\n\n> This is a `POST`, not a `GET` — filter values go in the request body.",
        "operationId": "post_card_query_export",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Card ID from `GET /api/collection/{id}/items`."
          },
          {
            "in": "path",
            "name": "export_format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json",
                "xlsx"
              ]
            },
            "description": "The format you want back. `csv` → `text/csv`. `json` → `application/json` (flat array of row objects). `xlsx` → Excel spreadsheet (`application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequestBody"
              },
              "examples": {
                "NoFilters": {
                  "summary": "No filters — Card runs with defaults",
                  "value": {
                    "parameters": []
                  }
                },
                "WithClientId": {
                  "summary": "Filter by client_id template tag",
                  "value": {
                    "parameters": [
                      {
                        "type": "category",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      }
                    ]
                  }
                },
                "MultipleFilters": {
                  "summary": "Filter by both client_id and a date range",
                  "value": {
                    "parameters": [
                      {
                        "type": "category",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      },
                      {
                        "type": "date/range",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "created_at"
                          ]
                        ],
                        "value": "2025-01-01~2025-03-31"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results in the format you requested.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "example": "Application ID,Distinct Users\nabc123,4821\ndef456,1203\n"
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportJsonRow"
                  }
                },
                "example": [
                  {
                    "Application ID": "abc123",
                    "Distinct Users": 4821
                  },
                  {
                    "Application ID": "def456",
                    "Distinct Users": 1203
                  }
                ]
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the JSON body is malformed or a required filter parameter is missing from the `parameters` array."
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Card."
          },
          "404": {
            "description": "Card not found."
          },
          "500": {
            "description": "Query failed — the Card's SQL threw a database error. This often means a required template tag parameter was not passed or was set to an invalid value. Check `parameters[]` on the Card and ensure all entries with `required: true` are included."
          }
        }
      }
    },
    "/api/dashboard/{dashboard_id}": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get Dashboard",
        "description": "Returns full Dashboard metadata — all Dashcards, filter controls, and layout. Call this before downloading Dashboard Card data to get the `dashcard_id` and `card_id` you need.\n\n1. Find the Card you want in `dashcards[]` by `card.name`, then note its `id` (dashcard_id) and `card_id`.\n2. Check `parameters` — if filters exist, you can pass values in download requests.\n3. `dashcards[].parameter_mappings` shows which dashboard filter maps to which template tag on each Card.\n4. `tabs` — non-empty means the Dashboard has a tabbed layout.",
        "operationId": "get_dashboard",
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Dashboard ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"dashboard\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard metadata with the full Dashcard list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                },
                "examples": {
                  "OK": {
                    "summary": "Arcade Games dashboard with two dashcards",
                    "value": {
                      "id": 343,
                      "name": "Arcade Games",
                      "description": null,
                      "collection_id": 437,
                      "entity_id": "f3c2e1d0-a9b8-7654-3210-fedcba987654",
                      "created_at": "2025-10-21T12:27:55.14278Z",
                      "updated_at": "2026-01-07T10:17:08.822493Z",
                      "parameters": [],
                      "tabs": [],
                      "dashcards": [
                        {
                          "id": 3535,
                          "card_id": 1596,
                          "dashboard_id": 343,
                          "parameter_mappings": [],
                          "card": {
                            "id": 1596,
                            "name": "Total Distinct Users",
                            "display": "scalar",
                            "collection_id": 437
                          }
                        },
                        {
                          "id": 3540,
                          "card_id": 1601,
                          "dashboard_id": 343,
                          "parameter_mappings": [],
                          "card": {
                            "id": 1601,
                            "name": "Daily Average Users (DAU)",
                            "display": "line",
                            "collection_id": 437
                          }
                        }
                      ]
                    }
                  },
                  "DashboardWithFilters": {
                    "summary": "Dashboard with a client_id filter wired to all dashcards",
                    "value": {
                      "id": 400,
                      "name": "Client Overview",
                      "description": "Cross-feature KPIs scoped to a single client.",
                      "collection_id": 11,
                      "created_at": "2025-06-01T09:00:00.000000Z",
                      "updated_at": "2026-02-14T15:30:00.000000Z",
                      "parameters": [
                        {
                          "id": "d1e2f3a4-b5c6-7890-abcd-1234567890ef",
                          "name": "Client ID",
                          "slug": "client_id",
                          "type": "category"
                        }
                      ],
                      "tabs": [],
                      "dashcards": [
                        {
                          "id": 4100,
                          "card_id": 1700,
                          "dashboard_id": 400,
                          "parameter_mappings": [
                            {
                              "parameter_id": "d1e2f3a4-b5c6-7890-abcd-1234567890ef",
                              "card_id": 1700,
                              "target": [
                                "variable",
                                [
                                  "template-tag",
                                  "client_id"
                                ]
                              ]
                            }
                          ],
                          "card": {
                            "id": 1700,
                            "name": "Widget Impressions",
                            "display": "bar",
                            "collection_id": 11
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Dashboard."
          },
          "404": {
            "description": "Dashboard not found."
          }
        }
      }
    },
    "/api/dashboard/{dashboard_id}/dashcard/{dashcard_id}/card/{card_id}/query/{export_format}": {
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Download Dashboard Card Data",
        "description": "Runs the query for a specific Card inside a Dashboard and returns results in the format you choose. Use this instead of the standalone Card download when the Card is on a Dashboard — it respects the Dashboard's filter wiring.\n\nYou need three IDs from `GET /api/dashboard/{dashboard_id}`:\n- `dashboard_id` — from `GET /api/collection/{id}/items`\n- `dashcard_id` — from `dashcards[].id`\n- `card_id` — from `dashcards[].card_id`\n\nTo apply dashboard filters, build `QueryFilterParameter` entries using the `target` from the Dashcard's `parameter_mappings`.\n\n> This is a `POST`, not a `GET` — filter values go in the request body.",
        "operationId": "post_dashboard_card_query_export",
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Dashboard ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"dashboard\"`."
          },
          {
            "in": "path",
            "name": "dashcard_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Dashcard ID from `GET /api/dashboard/{id}` → `dashcards[].id`. This is the placement ID — not the same as `card_id`."
          },
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Card ID from `GET /api/dashboard/{id}` → `dashcards[].card_id`. This is the underlying question ID."
          },
          {
            "in": "path",
            "name": "export_format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json",
                "xlsx"
              ]
            },
            "description": "The format you want back. `csv` → `text/csv`. `json` → `application/json` (flat array of row objects). `xlsx` → Excel spreadsheet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequestBody"
              },
              "examples": {
                "NoFilters": {
                  "summary": "No filters — Card runs with defaults",
                  "value": {
                    "parameters": []
                  }
                },
                "WithClientId": {
                  "summary": "Filter by client_id template tag",
                  "value": {
                    "parameters": [
                      {
                        "type": "category",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      }
                    ]
                  }
                },
                "MultipleFilters": {
                  "summary": "Filter by client_id and date range",
                  "value": {
                    "parameters": [
                      {
                        "type": "category",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      },
                      {
                        "type": "date/range",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "created_at"
                          ]
                        ],
                        "value": "2025-01-01~2025-03-31"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results in the format you requested.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportJsonRow"
                  }
                },
                "example": [
                  {
                    "Date": "2025-03-01",
                    "DAU": 8421
                  },
                  {
                    "Date": "2025-03-02",
                    "DAU": 9103
                  }
                ]
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the JSON body is malformed or a required filter parameter is missing."
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Dashboard or Card."
          },
          "404": {
            "description": "Dashboard, Dashcard, or Card not found. Double-check all three IDs from `GET /api/dashboard/{id}`."
          },
          "500": {
            "description": "Query failed — the underlying SQL threw a database error. Make sure all required template tag parameters are present and set to valid values."
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "headers": []
  },
  "x-tagGroups": [
    {
      "name": "API Reference",
      "tags": [
        "Collections",
        "Cards",
        "Dashboards"
      ]
    }
  ]
}