{
  "openapi": "3.1.0",
  "info": {
    "version": "1.1.0",
    "title": "LiveLike Analytics API",
    "description": "Access the data behind your LiveLike dashboards via [metabase.livelikecdn.com](https://metabase.livelikecdn.com).\n\nYour collection and its Cards are set up by LiveLike. Use this API to find your Card IDs and download the data.\n\n**Flow:**\n1. `GET /api/collection/{id}/items` — list your Cards\n2. `GET /api/card/{id}` — check if any filters are needed\n3. `POST /api/card/{id}/query/{format}` — download the data\n\n## Authentication\n`x-api-key: YOUR_KEY` on every request."
  },
  "servers": [
    {
      "url": "https://metabase.livelikecdn.com",
      "description": "LiveLike Metabase instance"
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Collections are folders. Use them to find the IDs of your Cards and Dashboards.",
      "x-readme-tag-description": "Collections are folders. Use them to find the IDs of your Cards and Dashboards."
    },
    {
      "name": "Cards",
      "description": "A Card is a single report. Call the metadata endpoint to check what filters it needs, then call the download endpoint to get the data.",
      "x-readme-tag-description": "A Card is a single report. Call the metadata endpoint to check what filters it needs, then call the download endpoint to get the data."
    },
    {
      "name": "Dashboards",
      "description": "A Dashboard groups multiple Cards. Use this to find the individual Card IDs and any shared filters.",
      "x-readme-tag-description": "A Dashboard groups multiple Cards. Use this to find the individual Card IDs and any shared filters."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your API key from LiveLike. It's scoped to specific Collections — requests to content outside its scope return `403 Forbidden`."
      }
    },
    "schemas": {
      "Collection": {
        "type": "object",
        "description": "A folder containing your Cards and Dashboards.",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "description": "Collection ID. The root collection uses `\"root\"`; all others are integers."
          },
          "name": {
            "type": "string",
            "description": "Collection name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description."
          }
        }
      },
      "CollectionItem": {
        "type": "object",
        "description": "A Card or Dashboard inside a Collection.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Item ID. Use as `card_id` or `dashboard_id`."
          },
          "name": {
            "type": "string",
            "description": "Item name."
          },
          "model": {
            "type": "string",
            "enum": [
              "card",
              "dashboard",
              "document"
            ],
            "description": "`\"card\"` = report, `\"dashboard\"` = dashboard."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description."
          },
          "fully_parameterized": {
            "type": "boolean",
            "description": "Cards: `true` = download with `parameters: []`. `false` = check required filters first."
          }
        }
      },
      "CollectionItemsResponse": {
        "type": "object",
        "description": "Paginated list of items in a Collection.",
        "properties": {
          "total": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Total item count. Can be null — use `data.length` instead."
          },
          "data": {
            "type": "array",
            "description": "Items on this page.",
            "items": {
              "$ref": "#/components/schemas/CollectionItem"
            }
          }
        }
      },
      "TemplateTagParameter": {
        "type": "object",
        "description": "A filter slot on a Card.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Internal name — use in `target` arrays."
          },
          "display_name": {
            "type": "string",
            "description": "Label."
          },
          "type": {
            "type": "string",
            "description": "Type: `\"text\"`, `\"number\"`, `\"date\"`."
          },
          "required": {
            "type": "boolean",
            "description": "`true` = must be passed or download fails."
          },
          "default": {
            "description": "Default value. When set, the filter is optional."
          }
        }
      },
      "ResultMetadataColumn": {
        "type": "object",
        "description": "One output column.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Raw column name."
          },
          "display_name": {
            "type": "string",
            "description": "Column label — the key in JSON export rows."
          },
          "base_type": {
            "type": "string",
            "description": "Data type, e.g. `\"type/Text\"`, `\"type/Integer\"`, `\"type/DateTime\"`."
          }
        }
      },
      "CardMetadata": {
        "type": "object",
        "description": "Card metadata. Check `parameters` before downloading.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Card ID."
          },
          "name": {
            "type": "string",
            "description": "Card name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the Card measures."
          },
          "parameters": {
            "type": "array",
            "description": "Filter slots. Empty = no filters needed.",
            "items": {
              "$ref": "#/components/schemas/TemplateTagParameter"
            }
          },
          "result_metadata": {
            "type": "array",
            "description": "Output columns. `display_name` is the key in JSON export rows.",
            "items": {
              "$ref": "#/components/schemas/ResultMetadataColumn"
            }
          }
        }
      },
      "DashboardParameter": {
        "type": "object",
        "description": "A dashboard-level filter. Values passed here apply to all wired Cards.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Filter UUID."
          },
          "name": {
            "type": "string",
            "description": "Filter label."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe identifier."
          },
          "type": {
            "type": "string",
            "description": "Filter type, e.g. `\"category\"`, `\"date/range\"`."
          },
          "default": {
            "description": "Default value."
          }
        }
      },
      "ParameterMapping": {
        "type": "object",
        "description": "Links a dashboard filter to a Card's template tag.",
        "properties": {
          "parameter_id": {
            "type": "string",
            "description": "Dashboard filter UUID."
          },
          "card_id": {
            "type": "integer",
            "description": "Card this applies to."
          },
          "target": {
            "type": "array",
            "description": "Template tag pointer, e.g. `[\"variable\", [\"template-tag\", \"client_id\"]]`."
          }
        }
      },
      "DashboardCard": {
        "type": "object",
        "description": "A Card placed on a Dashboard. Has its own `id` (dashcard_id) separate from `card_id`.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Dashcard ID — pass as `dashcard_id` in the download endpoint."
          },
          "card_id": {
            "type": "integer",
            "description": "Card ID — pass as `card_id` in the download endpoint."
          },
          "card": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CardMetadata"
              }
            ],
            "description": "Card metadata."
          },
          "parameter_mappings": {
            "type": "array",
            "description": "How dashboard filters map to this Card.",
            "items": {
              "$ref": "#/components/schemas/ParameterMapping"
            }
          }
        }
      },
      "DashboardTab": {
        "type": "object",
        "description": "A tab in a tabbed Dashboard.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Tab ID."
          },
          "name": {
            "type": "string",
            "description": "Tab name."
          }
        }
      },
      "Dashboard": {
        "type": "object",
        "description": "Full Dashboard metadata. Call this to get `dashcard_id` and `card_id` before downloading.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Dashboard ID."
          },
          "name": {
            "type": "string",
            "description": "Dashboard name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description."
          },
          "parameters": {
            "type": "array",
            "description": "Dashboard-level filters. Pass values to filter all Cards at once.",
            "items": {
              "$ref": "#/components/schemas/DashboardParameter"
            }
          },
          "tabs": {
            "type": "array",
            "description": "Tabs in a tabbed Dashboard. Empty = single pane.",
            "items": {
              "$ref": "#/components/schemas/DashboardTab"
            }
          },
          "dashcards": {
            "type": "array",
            "description": "Cards on this Dashboard. Each has `id` (dashcard_id) and `card_id`.",
            "items": {
              "$ref": "#/components/schemas/DashboardCard"
            }
          }
        }
      },
      "QueryFilterParameter": {
        "type": "object",
        "description": "A filter value to pass when running a query.",
        "required": [
          "type",
          "target",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "`\"category\"` for text filters. Also `\"date/range\"`, `\"number/=\"`.",
            "example": "category"
          },
          "target": {
            "type": "array",
            "description": "Points to the template tag: `[\"variable\", [\"template-tag\", \"tag_name\"]]`.",
            "example": [
              "variable",
              [
                "template-tag",
                "client_id"
              ]
            ]
          },
          "value": {
            "type": "string",
            "description": "The value to inject.",
            "example": "YOUR_CLIENT_ID"
          }
        }
      },
      "QueryRequestBody": {
        "type": "object",
        "description": "Request body for download endpoints.",
        "required": [
          "parameters"
        ],
        "properties": {
          "parameters": {
            "type": "array",
            "description": "Filter values. Pass `[]` if the Card has no required filters.",
            "items": {
              "$ref": "#/components/schemas/QueryFilterParameter"
            }
          }
        }
      },
      "ExportJsonRow": {
        "type": "object",
        "description": "One row from a JSON export. Keys are `display_name` values from `result_metadata`.",
        "additionalProperties": true,
        "example": {
          "Total Programs": 42,
          "Application ID": "abc123",
          "Created At": "2025-03-15T10:00:00Z"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/collection/": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List All Collections",
        "description": "Lists all Collections your API key can access. If you already have your Collection ID from LiveLike, skip this and go straight to listing items.\n\n> The root Collection has `id: \"root\"`. All others use integer IDs.",
        "operationId": "get_collections",
        "responses": {
          "200": {
            "description": "A flat array of Collections visible to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Collection"
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "Client collection",
                    "value": [
                      {
                        "id": "root",
                        "name": "Our analytics",
                        "description": null
                      },
                      {
                        "id": 1405,
                        "name": "Serie A",
                        "description": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          }
        }
      }
    },
    "/api/collection/{collection_id}/items": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List Collection Items",
        "description": "Lists Cards, Dashboards, and Documents inside a Collection.\n\n- Cards (`model: \"card\"`) → use `id` as `card_id` to download data.\n- Dashboards (`model: \"dashboard\"`) → use `id` to get `dashcard_id` and `card_id`.\n\n> `total` can be null on empty Collections. Use `data.length` instead.",
        "operationId": "get_collection_items",
        "parameters": [
          {
            "in": "path",
            "name": "collection_id",
            "required": true,
            "schema": {},
            "description": "An integer Collection ID from `GET /api/collection/` or `GET /api/collection/tree`. Don't pass the string `\"root\"` here — you need an actual integer ID."
          },
          {
            "in": "query",
            "name": "models",
            "required": false,
            "schema": {
              "enum": [
                "card",
                "dashboard",
                "document"
              ]
            },
            "description": "Filter by item type. Repeat to include multiple: `?models=card&models=dashboard`. Leave it out to get everything."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "minimum": 1,
              "default": 50
            },
            "description": "Max items per page. Defaults to 50."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "minimum": 0,
              "default": 0
            },
            "description": "Where to start in the list (zero-based). Use with `limit` to page through: second page = `offset=50`, third = `offset=100`, and so on."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of items in the Collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItemsResponse"
                },
                "examples": {
                  "OK": {
                    "summary": "Cards and a dashboard in a collection",
                    "value": {
                      "total": 3,
                      "data": [
                        {
                          "id": 3267,
                          "name": "Daily KPIs - Unique Users & Impressions",
                          "model": "card",
                          "description": "Daily aggregated KPIs",
                          "fully_parameterized": true
                        },
                        {
                          "id": 3268,
                          "name": "Widget Engagement",
                          "model": "card",
                          "description": null,
                          "fully_parameterized": false
                        },
                        {
                          "id": 343,
                          "name": "Serie A Overview",
                          "model": "dashboard",
                          "description": null,
                          "fully_parameterized": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Collection."
          },
          "404": {
            "description": "Collection not found."
          }
        }
      }
    },
    "/api/card/{card_id}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get Card Metadata",
        "description": "Returns Card metadata without running the query. Check `fully_parameterized` — if `false`, look for `required: true` parameters with no `default` and include those in your download request.",
        "operationId": "get_card",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {},
            "description": "Card ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"card\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "Full Card metadata including parameters and result_metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardMetadata"
                },
                "examples": {
                  "NoFilters": {
                    "summary": "Card with no required filters",
                    "value": {
                      "id": 3267,
                      "name": "Daily KPIs - Unique Users & Impressions",
                      "description": "Daily aggregated KPIs for Serie A",
                      "parameters": [],
                      "result_metadata": [
                        {
                          "name": "date",
                          "display_name": "date",
                          "base_type": "type/Text"
                        },
                        {
                          "name": "unique_users",
                          "display_name": "unique_users",
                          "base_type": "type/BigInteger"
                        },
                        {
                          "name": "impressions",
                          "display_name": "impressions",
                          "base_type": "type/BigInteger"
                        }
                      ]
                    }
                  },
                  "WithFilters": {
                    "summary": "Card with a required filter",
                    "value": {
                      "id": 3268,
                      "name": "Widget Engagement",
                      "description": null,
                      "parameters": [
                        {
                          "name": "client_id",
                          "display_name": "Client ID",
                          "type": "text",
                          "required": true
                        }
                      ],
                      "result_metadata": [
                        {
                          "name": "widget_type",
                          "display_name": "Widget Type",
                          "base_type": "type/Text"
                        },
                        {
                          "name": "engagement_pct",
                          "display_name": "Engagement %",
                          "base_type": "type/Float"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Card."
          },
          "404": {
            "description": "Card not found."
          }
        }
      }
    },
    "/api/card/{card_id}/query/{export_format}": {
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Download Card Data",
        "description": "Runs the Card and returns data in `csv`, `json`, or `xlsx`.\n\nPass `parameters: []` if there are no required filters. Add a `QueryFilterParameter` entry for each filter you want to set.\n\n> This is a `POST` — filters go in the request body, not the URL.",
        "operationId": "post_card_query_export",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {},
            "description": "Card ID from `GET /api/collection/{id}/items`."
          },
          {
            "in": "path",
            "name": "export_format",
            "required": true,
            "schema": {
              "enum": [
                "csv",
                "json",
                "xlsx"
              ]
            },
            "description": "The format you want back. `csv` → `text/csv`. `json` → `application/json` (flat array of row objects). `xlsx` → Excel spreadsheet (`application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequestBody"
              },
              "examples": {
                "NoFilters": {
                  "summary": "No filters — Card runs with defaults",
                  "value": {
                    "parameters": []
                  }
                },
                "WithClientId": {
                  "summary": "Filter by client_id template tag",
                  "value": {
                    "parameters": [
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      }
                    ]
                  }
                },
                "MultipleFilters": {
                  "summary": "Filter by both client_id and a date range",
                  "value": {
                    "parameters": [
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      },
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "created_at"
                          ]
                        ],
                        "value": "2025-01-01~2025-03-31"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results in the format you requested.",
            "content": {
              "text/csv": {
                "schema": {
                  "format": "binary"
                },
                "example": "Application ID,Distinct Users\nabc123,4821\ndef456,1203\n"
              },
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExportJsonRow"
                  }
                },
                "example": [
                  {
                    "Application ID": "abc123",
                    "Distinct Users": 4821
                  },
                  {
                    "Application ID": "def456",
                    "Distinct Users": 1203
                  }
                ]
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the JSON body is malformed or a required filter parameter is missing from the `parameters` array."
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Card."
          },
          "404": {
            "description": "Card not found."
          },
          "500": {
            "description": "Query failed — the Card's SQL threw a database error. This often means a required template tag parameter was not passed or was set to an invalid value. Check `parameters[]` on the Card and ensure all entries with `required: true` are included."
          }
        }
      }
    },
    "/api/dashboard/{dashboard_id}": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get Dashboard",
        "description": "Returns Dashboard metadata including all Dashcards. Use this to get the `dashcard_id` and `card_id` you need for the Dashboard Card download endpoint.",
        "operationId": "get_dashboard",
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "schema": {},
            "description": "Dashboard ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"dashboard\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard metadata with the full Dashcard list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                },
                "examples": {
                  "OK": {
                    "summary": "Dashboard with two cards",
                    "value": {
                      "id": 343,
                      "name": "Serie A Overview",
                      "description": null,
                      "parameters": [],
                      "tabs": [],
                      "dashcards": [
                        {
                          "id": 3535,
                          "card_id": 3267,
                          "parameter_mappings": [],
                          "card": {
                            "id": 3267,
                            "name": "Daily KPIs",
                            "description": null,
                            "parameters": [],
                            "result_metadata": []
                          }
                        },
                        {
                          "id": 3540,
                          "card_id": 3268,
                          "parameter_mappings": [],
                          "card": {
                            "id": 3268,
                            "name": "Widget Engagement",
                            "description": null,
                            "parameters": [],
                            "result_metadata": []
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Dashboard."
          },
          "404": {
            "description": "Dashboard not found."
          }
        }
      }
    },
    "/api/dashboard/{dashboard_id}/dashcard/{dashcard_id}/card/{card_id}/query/{export_format}": {
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Download Dashboard Card Data",
        "description": "Downloads data for a specific Card inside a Dashboard. Use this when applying dashboard-level filters across multiple Cards.\n\nGet `dashcard_id` and `card_id` from `GET /api/dashboard/{id}` first.",
        "operationId": "post_dashboard_card_query_export",
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "schema": {},
            "description": "Dashboard ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"dashboard\"`."
          },
          {
            "in": "path",
            "name": "dashcard_id",
            "required": true,
            "schema": {},
            "description": "Dashcard ID from `GET /api/dashboard/{id}` → `dashcards[].id`. This is the placement ID — not the same as `card_id`."
          },
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {},
            "description": "Card ID from `GET /api/dashboard/{id}` → `dashcards[].card_id`. This is the underlying question ID."
          },
          {
            "in": "path",
            "name": "export_format",
            "required": true,
            "schema": {
              "enum": [
                "csv",
                "json",
                "xlsx"
              ]
            },
            "description": "The format you want back. `csv` → `text/csv`. `json` → `application/json` (flat array of row objects). `xlsx` → Excel spreadsheet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequestBody"
              },
              "examples": {
                "NoFilters": {
                  "summary": "No filters — Card runs with defaults",
                  "value": {
                    "parameters": []
                  }
                },
                "WithClientId": {
                  "summary": "Filter by client_id template tag",
                  "value": {
                    "parameters": [
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      }
                    ]
                  }
                },
                "MultipleFilters": {
                  "summary": "Filter by client_id and date range",
                  "value": {
                    "parameters": [
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      },
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "created_at"
                          ]
                        ],
                        "value": "2025-01-01~2025-03-31"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results in the format you requested.",
            "content": {
              "text/csv": {
                "schema": {
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExportJsonRow"
                  }
                },
                "example": [
                  {
                    "Date": "2025-03-01",
                    "DAU": 8421
                  },
                  {
                    "Date": "2025-03-02",
                    "DAU": 9103
                  }
                ]
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the JSON body is malformed or a required filter parameter is missing."
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Dashboard or Card."
          },
          "404": {
            "description": "Dashboard, Dashcard, or Card not found. Double-check all three IDs from `GET /api/dashboard/{id}`."
          },
          "500": {
            "description": "Query failed — the underlying SQL threw a database error. Make sure all required template tag parameters are present and set to valid values."
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "headers": []
  },
  "x-tagGroups": [
    {
      "name": "API Reference",
      "tags": [
        "Collections",
        "Cards",
        "Dashboards"
      ]
    }
  ]
}