{
  "openapi": "3.1.0",
  "info": {
    "version": "1.1.0",
    "title": "LiveLike Analytics API",
    "description": "Access the data behind your LiveLike dashboards. Contact your LiveLike account manager to get your API key."
  },
  "servers": [
    {
      "url": "https://metabase.livelikecdn.com",
      "description": "LiveLike Metabase instance"
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Your collection is the folder LiveLike has set up for you. It contains all your reports and dashboards.",
      "x-readme-tag-description": "Your collection is the folder LiveLike has set up for you. It contains all your reports and dashboards."
    },
    {
      "name": "Cards",
      "description": "A Card is a single report. Use the metadata endpoint to see what data it returns and whether any filters are required, then use the download endpoint to get the data.",
      "x-readme-tag-description": "A Card is a single report. Use the metadata endpoint to see what data it returns and whether any filters are required, then use the download endpoint to get the data."
    },
    {
      "name": "Dashboards",
      "description": "A Dashboard groups multiple reports together. Use this if you want to download data from a specific report that lives inside a dashboard.",
      "x-readme-tag-description": "A Dashboard groups multiple reports together. Use this if you want to download data from a specific report that lives inside a dashboard."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your API key from LiveLike. It's scoped to specific Collections — requests to content outside its scope return `403 Forbidden`."
      }
    },
    "schemas": {
      "Collection": {
        "type": "object",
        "description": "A collection (folder) containing your reports and dashboards.",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "description": "Collection ID. Use this in `GET /api/collection/{id}/items` to list your reports."
          },
          "name": {
            "type": "string",
            "description": "Collection name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description."
          }
        }
      },
      "CollectionItem": {
        "type": "object",
        "description": "A report (Card) or dashboard inside your collection.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Report or dashboard ID. Use this to download data or get more details."
          },
          "name": {
            "type": "string",
            "description": "Report or dashboard name."
          },
          "model": {
            "type": "string",
            "enum": [
              "card",
              "dashboard",
              "document"
            ],
            "description": "`\"card\"` = a report you can download, `\"dashboard\"` = a dashboard."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "What this report covers."
          }
        }
      },
      "CollectionItemsResponse": {
        "type": "object",
        "description": "The list of reports and dashboards in your collection.",
        "properties": {
          "total": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Total number of items."
          },
          "data": {
            "type": "array",
            "description": "Your reports and dashboards.",
            "items": {
              "$ref": "#/components/schemas/CollectionItem"
            }
          }
        }
      },
      "TemplateTagParameter": {
        "type": "object",
        "description": "A filter that can be applied when downloading a report.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Filter name — use this in the `target` field when downloading."
          },
          "display_name": {
            "type": "string",
            "description": "Filter label."
          },
          "type": {
            "type": "string",
            "description": "Filter type: `\"text\"`, `\"number\"`, or `\"date\"`."
          },
          "required": {
            "type": "boolean",
            "description": "`true` means you must pass a value for this filter when downloading."
          },
          "default": {
            "description": "Default value. If set, the filter is optional."
          }
        }
      },
      "ResultMetadataColumn": {
        "type": "object",
        "description": "A column in the report's output.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Column name."
          },
          "display_name": {
            "type": "string",
            "description": "Column label — this is the key you'll see in JSON downloads."
          },
          "base_type": {
            "type": "string",
            "description": "Data type, e.g. `\"type/Text\"`, `\"type/Integer\"`, `\"type/DateTime\"`."
          }
        }
      },
      "CardMetadata": {
        "type": "object",
        "description": "Details about a report — its columns and any filters it requires.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Report ID."
          },
          "name": {
            "type": "string",
            "description": "Report name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "What this report measures."
          },
          "parameters": {
            "type": "array",
            "description": "Filters for this report. Empty means no filters are needed.",
            "items": {
              "$ref": "#/components/schemas/TemplateTagParameter"
            }
          },
          "result_metadata": {
            "type": "array",
            "description": "The columns in this report's output.",
            "items": {
              "$ref": "#/components/schemas/ResultMetadataColumn"
            }
          }
        }
      },
      "DashboardParameter": {
        "type": "object",
        "description": "A filter on the dashboard that applies to all its reports at once.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Filter UUID."
          },
          "name": {
            "type": "string",
            "description": "Filter label."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe identifier."
          },
          "type": {
            "type": "string",
            "description": "Filter type, e.g. `\"category\"`, `\"date/range\"`."
          },
          "default": {
            "description": "Default value."
          }
        }
      },
      "ParameterMapping": {
        "type": "object",
        "description": "Links a dashboard filter to a specific report.",
        "properties": {
          "parameter_id": {
            "type": "string",
            "description": "Dashboard filter UUID."
          },
          "card_id": {
            "type": "integer",
            "description": "Card this applies to."
          },
          "target": {
            "type": "array",
            "description": "Template tag pointer, e.g. `[\"variable\", [\"template-tag\", \"client_id\"]]`."
          }
        }
      },
      "DashboardCard": {
        "type": "object",
        "description": "A report placed inside a dashboard. Has its own `id` (dashcard_id) separate from the report's `card_id` — you need both to download its data.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Dashcard ID — pass as `dashcard_id` when downloading."
          },
          "card_id": {
            "type": "integer",
            "description": "Report ID — pass as `card_id` when downloading."
          },
          "card": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CardMetadata"
              }
            ],
            "description": "Report details."
          },
          "parameter_mappings": {
            "type": "array",
            "description": "How dashboard filters connect to this report.",
            "items": {
              "$ref": "#/components/schemas/ParameterMapping"
            }
          }
        }
      },
      "DashboardTab": {
        "type": "object",
        "description": "A tab in a tabbed dashboard.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Tab ID."
          },
          "name": {
            "type": "string",
            "description": "Tab name."
          }
        }
      },
      "Dashboard": {
        "type": "object",
        "description": "A dashboard containing multiple reports.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Dashboard ID."
          },
          "name": {
            "type": "string",
            "description": "Dashboard name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description."
          },
          "parameters": {
            "type": "array",
            "description": "Filters that apply across all reports in this dashboard.",
            "items": {
              "$ref": "#/components/schemas/DashboardParameter"
            }
          },
          "tabs": {
            "type": "array",
            "description": "Tabs if the dashboard is tabbed. Empty means it's a single page.",
            "items": {
              "$ref": "#/components/schemas/DashboardTab"
            }
          },
          "dashcards": {
            "type": "array",
            "description": "The reports inside this dashboard.",
            "items": {
              "$ref": "#/components/schemas/DashboardCard"
            }
          }
        }
      },
      "QueryFilterParameter": {
        "type": "object",
        "description": "A filter value to include when downloading report data.",
        "required": [
          "type",
          "target",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Use `\"category\"` for text filters. Also `\"date/range\"` and `\"number/=\"`.",
            "example": "category"
          },
          "target": {
            "type": "array",
            "description": "Points to the filter: `[\"variable\", [\"template-tag\", \"filter_name\"]]` where `filter_name` matches the `name` field in the report's filters.",
            "example": [
              "variable",
              [
                "template-tag",
                "client_id"
              ]
            ]
          },
          "value": {
            "type": "string",
            "description": "The value to filter by.",
            "example": "YOUR_CLIENT_ID"
          }
        }
      },
      "QueryRequestBody": {
        "type": "object",
        "description": "The request body for download endpoints.",
        "required": [
          "parameters"
        ],
        "properties": {
          "parameters": {
            "type": "array",
            "description": "Filters to apply. Pass `[]` if the report has no required filters.",
            "items": {
              "$ref": "#/components/schemas/QueryFilterParameter"
            }
          }
        }
      },
      "ExportJsonRow": {
        "type": "object",
        "description": "One row of data from a JSON download. Keys match the `display_name` values from the report's columns.",
        "additionalProperties": true,
        "example": {
          "Total Programs": 42,
          "Application ID": "abc123",
          "Created At": "2025-03-15T10:00:00Z"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/collection/": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List All Collections",
        "description": "Lists all collections your API key has access to. Use the `id` from your collection in the next step to list your reports.\n\n> The root collection has `id: \"root\"`. Your collection will have an integer ID.",
        "operationId": "get_collections",
        "responses": {
          "200": {
            "description": "A flat array of Collections visible to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Collection"
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "Client collection",
                    "value": [
                      {
                        "id": "root",
                        "name": "Our analytics",
                        "description": null
                      },
                      {
                        "id": 1405,
                        "name": "Serie A",
                        "description": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          }
        }
      }
    },
    "/api/collection/{collection_id}/items": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List Collection Items",
        "description": "Lists the reports (Cards) and dashboards inside your collection. Use the `id` from any Card to download its data.",
        "operationId": "get_collection_items",
        "parameters": [
          {
            "in": "path",
            "name": "collection_id",
            "required": true,
            "schema": {},
            "description": "An integer Collection ID from `GET /api/collection/` or `GET /api/collection/tree`. Don't pass the string `\"root\"` here — you need an actual integer ID."
          },
          {
            "in": "query",
            "name": "models",
            "required": false,
            "schema": {
              "enum": [
                "card",
                "dashboard",
                "document"
              ]
            },
            "description": "Filter by item type. Repeat to include multiple: `?models=card&models=dashboard`. Leave it out to get everything."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "minimum": 1,
              "default": 50
            },
            "description": "Max items per page. Defaults to 50."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "minimum": 0,
              "default": 0
            },
            "description": "Where to start in the list (zero-based). Use with `limit` to page through: second page = `offset=50`, third = `offset=100`, and so on."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of items in the Collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItemsResponse"
                },
                "examples": {
                  "OK": {
                    "summary": "Cards and a dashboard in a collection",
                    "value": {
                      "total": 3,
                      "data": [
                        {
                          "id": 3267,
                          "name": "Daily KPIs - Unique Users & Impressions",
                          "model": "card",
                          "description": "Daily aggregated KPIs"
                        },
                        {
                          "id": 3268,
                          "name": "Widget Engagement",
                          "model": "card",
                          "description": null
                        },
                        {
                          "id": 343,
                          "name": "Serie A Overview",
                          "model": "dashboard",
                          "description": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Collection."
          },
          "404": {
            "description": "Collection not found."
          }
        }
      }
    },
    "/api/card/{card_id}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get Card Metadata",
        "description": "Returns the details of a report — what columns it returns and whether any filters are needed before downloading.",
        "operationId": "get_card",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {},
            "description": "Card ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"card\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "Full Card metadata including parameters and result_metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardMetadata"
                },
                "examples": {
                  "NoFilters": {
                    "summary": "Card with no required filters",
                    "value": {
                      "id": 3267,
                      "name": "Daily KPIs - Unique Users & Impressions",
                      "description": "Daily aggregated KPIs for Serie A",
                      "parameters": [],
                      "result_metadata": [
                        {
                          "name": "date",
                          "display_name": "date",
                          "base_type": "type/Text"
                        },
                        {
                          "name": "unique_users",
                          "display_name": "unique_users",
                          "base_type": "type/BigInteger"
                        },
                        {
                          "name": "impressions",
                          "display_name": "impressions",
                          "base_type": "type/BigInteger"
                        }
                      ]
                    }
                  },
                  "WithFilters": {
                    "summary": "Card with a required filter",
                    "value": {
                      "id": 3268,
                      "name": "Widget Engagement",
                      "description": null,
                      "parameters": [
                        {
                          "name": "client_id",
                          "display_name": "Client ID",
                          "type": "text",
                          "required": true
                        }
                      ],
                      "result_metadata": [
                        {
                          "name": "widget_type",
                          "display_name": "Widget Type",
                          "base_type": "type/Text"
                        },
                        {
                          "name": "engagement_pct",
                          "display_name": "Engagement %",
                          "base_type": "type/Float"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Card."
          },
          "404": {
            "description": "Card not found."
          }
        }
      }
    },
    "/api/card/{card_id}/query/{export_format}": {
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Download Card Data",
        "description": "Downloads the report data. Choose `csv`, `json`, or `xlsx` depending on what you need.\n\nIf the report has no required filters, pass `parameters: []`. If it does, include a `QueryFilterParameter` entry for each required filter.\n\n> This is a `POST` request — filters go in the request body, not the URL.",
        "operationId": "post_card_query_export",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {},
            "description": "Card ID from `GET /api/collection/{id}/items`."
          },
          {
            "in": "path",
            "name": "export_format",
            "required": true,
            "schema": {
              "enum": [
                "csv",
                "json",
                "xlsx"
              ]
            },
            "description": "The format you want back. `csv` → `text/csv`. `json` → `application/json` (flat array of row objects). `xlsx` → Excel spreadsheet (`application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequestBody"
              },
              "examples": {
                "NoFilters": {
                  "summary": "No filters — Card runs with defaults",
                  "value": {
                    "parameters": []
                  }
                },
                "WithClientId": {
                  "summary": "Filter by client_id template tag",
                  "value": {
                    "parameters": [
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      }
                    ]
                  }
                },
                "MultipleFilters": {
                  "summary": "Filter by both client_id and a date range",
                  "value": {
                    "parameters": [
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      },
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "created_at"
                          ]
                        ],
                        "value": "2025-01-01~2025-03-31"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results in the format you requested.",
            "content": {
              "text/csv": {
                "schema": {
                  "format": "binary"
                },
                "example": "Application ID,Distinct Users\nabc123,4821\ndef456,1203\n"
              },
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExportJsonRow"
                  }
                },
                "example": [
                  {
                    "Application ID": "abc123",
                    "Distinct Users": 4821
                  },
                  {
                    "Application ID": "def456",
                    "Distinct Users": 1203
                  }
                ]
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the JSON body is malformed or a required filter parameter is missing from the `parameters` array."
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Card."
          },
          "404": {
            "description": "Card not found."
          },
          "500": {
            "description": "Query failed — the Card's SQL threw a database error. This often means a required template tag parameter was not passed or was set to an invalid value. Check `parameters[]` on the Card and ensure all entries with `required: true` are included."
          }
        }
      }
    },
    "/api/dashboard/{dashboard_id}": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get Dashboard",
        "description": "Returns the details of a dashboard, including all the reports inside it. You need the `id` (dashcard_id) and `card_id` from each report to download its data via the dashboard download endpoint.",
        "operationId": "get_dashboard",
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "schema": {},
            "description": "Dashboard ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"dashboard\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard metadata with the full Dashcard list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                },
                "examples": {
                  "OK": {
                    "summary": "Dashboard with two cards",
                    "value": {
                      "id": 343,
                      "name": "Serie A Overview",
                      "description": null,
                      "parameters": [],
                      "tabs": [],
                      "dashcards": [
                        {
                          "id": 3535,
                          "card_id": 3267,
                          "parameter_mappings": [],
                          "card": {
                            "id": 3267,
                            "name": "Daily KPIs",
                            "description": null,
                            "parameters": [],
                            "result_metadata": []
                          }
                        },
                        {
                          "id": 3540,
                          "card_id": 3268,
                          "parameter_mappings": [],
                          "card": {
                            "id": 3268,
                            "name": "Widget Engagement",
                            "description": null,
                            "parameters": [],
                            "result_metadata": []
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Dashboard."
          },
          "404": {
            "description": "Dashboard not found."
          }
        }
      }
    },
    "/api/dashboard/{dashboard_id}/dashcard/{dashcard_id}/card/{card_id}/query/{export_format}": {
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Download Dashboard Card Data",
        "description": "Downloads data for a specific report inside a dashboard. Use `GET /api/dashboard/{id}` first to get the `dashcard_id` and `card_id` values you need.",
        "operationId": "post_dashboard_card_query_export",
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "schema": {},
            "description": "Dashboard ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"dashboard\"`."
          },
          {
            "in": "path",
            "name": "dashcard_id",
            "required": true,
            "schema": {},
            "description": "Dashcard ID from `GET /api/dashboard/{id}` → `dashcards[].id`. This is the placement ID — not the same as `card_id`."
          },
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {},
            "description": "Card ID from `GET /api/dashboard/{id}` → `dashcards[].card_id`. This is the underlying question ID."
          },
          {
            "in": "path",
            "name": "export_format",
            "required": true,
            "schema": {
              "enum": [
                "csv",
                "json",
                "xlsx"
              ]
            },
            "description": "The format you want back. `csv` → `text/csv`. `json` → `application/json` (flat array of row objects). `xlsx` → Excel spreadsheet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequestBody"
              },
              "examples": {
                "NoFilters": {
                  "summary": "No filters — Card runs with defaults",
                  "value": {
                    "parameters": []
                  }
                },
                "WithClientId": {
                  "summary": "Filter by client_id template tag",
                  "value": {
                    "parameters": [
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      }
                    ]
                  }
                },
                "MultipleFilters": {
                  "summary": "Filter by client_id and date range",
                  "value": {
                    "parameters": [
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      },
                      {
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "created_at"
                          ]
                        ],
                        "value": "2025-01-01~2025-03-31"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results in the format you requested.",
            "content": {
              "text/csv": {
                "schema": {
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExportJsonRow"
                  }
                },
                "example": [
                  {
                    "Date": "2025-03-01",
                    "DAU": 8421
                  },
                  {
                    "Date": "2025-03-02",
                    "DAU": 9103
                  }
                ]
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the JSON body is malformed or a required filter parameter is missing."
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Dashboard or Card."
          },
          "404": {
            "description": "Dashboard, Dashcard, or Card not found. Double-check all three IDs from `GET /api/dashboard/{id}`."
          },
          "500": {
            "description": "Query failed — the underlying SQL threw a database error. Make sure all required template tag parameters are present and set to valid values."
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "headers": []
  },
  "x-tagGroups": [
    {
      "name": "API Reference",
      "tags": [
        "Collections",
        "Cards",
        "Dashboards"
      ]
    }
  ]
}