{
  "openapi": "3.1.0",
  "info": {
    "version": "1.1.0",
    "title": "LiveLike Analytics API",
    "description": "Access the data behind your LiveLike dashboards via [metabase.livelikecdn.com](https://metabase.livelikecdn.com).\n\n## How it works\nYour content is organised in **Collections** (folders). Each Collection contains **Cards** (individual reports) and **Dashboards** (groups of Cards). Most clients have a single Collection.\n\n**Typical flow:**\n1. `GET /api/collection/` — find your Collection ID\n2. `GET /api/collection/{id}/items` — list the Cards inside it\n3. `POST /api/card/{id}/query/{format}` — download the data\n\n## Authentication\nPass your API key in every request: `x-api-key: YOUR_KEY`"
  },
  "servers": [
    {
      "url": "https://metabase.livelikecdn.com",
      "description": "LiveLike Metabase instance"
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Collections are folders. Use them to find the IDs of your Cards and Dashboards.",
      "x-readme-tag-description": "Collections are folders. Use them to find the IDs of your Cards and Dashboards."
    },
    {
      "name": "Cards",
      "description": "A Card is a single report. Call the metadata endpoint to check what filters it needs, then call the download endpoint to get the data.",
      "x-readme-tag-description": "A Card is a single report. Call the metadata endpoint to check what filters it needs, then call the download endpoint to get the data."
    },
    {
      "name": "Dashboards",
      "description": "A Dashboard groups multiple Cards. Use this to find the individual Card IDs and any shared filters.",
      "x-readme-tag-description": "A Dashboard groups multiple Cards. Use this to find the individual Card IDs and any shared filters."
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your API key from LiveLike. It's scoped to specific Collections — requests to content outside its scope return `403 Forbidden`."
      }
    },
    "schemas": {
      "Collection": {
        "type": "object",
        "description": "A folder containing Cards and Dashboards.",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "description": "Collection ID. The root collection uses the string `\"root\"`; all others are integers."
          },
          "name": {
            "type": "string",
            "description": "Collection name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description."
          },
          "slug": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL-safe name. Null for the root collection."
          },
          "location": {
            "type": "string",
            "description": "Folder path from root, e.g. `\"/\"` = top level, `\"/11/74/\"` = nested inside 11 → 74."
          },
          "is_personal": {
            "type": "boolean",
            "description": "`true` for personal user folders — skip these."
          },
          "archived": {
            "type": "boolean",
            "description": "`true` if archived."
          },
          "entity_id": {
            "type": "string",
            "description": "Stable UUID — safe to store as a long-lived reference."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created timestamp (ISO 8601)."
          }
        }
      },
      "CollectionTree": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Collection"
          },
          {
            "type": "object",
            "properties": {
              "children": {
                "type": "array",
                "description": "The sub-collections nested inside this one. Only present in the `/api/collection/tree` response. An empty array means there are no sub-collections.",
                "items": {
                  "$ref": "#/components/schemas/CollectionTree"
                }
              }
            }
          }
        ]
      },
      "CollectionItem": {
        "type": "object",
        "description": "A Card, Dashboard, or Document inside a Collection.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Item ID. Use as `card_id` or `dashboard_id` in follow-up calls."
          },
          "name": {
            "type": "string",
            "description": "Item name."
          },
          "model": {
            "type": "string",
            "enum": [
              "card",
              "dashboard",
              "document"
            ],
            "description": "`\"card\"` = report, `\"dashboard\"` = dashboard, `\"document\"` = text page."
          },
          "display": {
            "type": [
              "string",
              "null"
            ],
            "description": "Chart type (Cards only). E.g. `scalar`, `table`, `bar`, `line`."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description."
          },
          "collection_id": {
            "type": "integer",
            "description": "Parent Collection ID."
          },
          "database_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Database the Card queries. `3` = blast-prod, `2` = Redshift."
          },
          "entity_id": {
            "type": "string",
            "description": "Stable UUID."
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Last viewed or run. Null if never used."
          },
          "fully_parameterized": {
            "type": "boolean",
            "description": "Cards: `true` = safe to download with `parameters: []`. `false` = check required filters first. Always `false` for Dashboards."
          }
        }
      },
      "CollectionItemsResponse": {
        "type": "object",
        "description": "Paginated list of items in a Collection.",
        "properties": {
          "total": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Total items. Can be null on empty Collections — use `data.length` instead."
          },
          "data": {
            "type": "array",
            "description": "Items on this page.",
            "items": {
              "$ref": "#/components/schemas/CollectionItem"
            }
          },
          "models": {
            "type": "array",
            "description": "Item types included, e.g. `[\"card\", \"dashboard\"]`.",
            "items": {
              "type": "string"
            }
          },
          "limit": {
            "type": "integer",
            "description": "Page size requested."
          },
          "offset": {
            "type": "integer",
            "description": "Starting offset."
          }
        }
      },
      "TemplateTagParameter": {
        "type": "object",
        "description": "A filter slot on a Card.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Parameter UUID."
          },
          "name": {
            "type": "string",
            "description": "Internal name — use this in `target` arrays when querying."
          },
          "display_name": {
            "type": "string",
            "description": "Label shown in the UI."
          },
          "type": {
            "type": "string",
            "description": "Type: `\"text\"`, `\"number\"`, `\"date\"`, `\"dimension\"`."
          },
          "required": {
            "type": "boolean",
            "description": "`true` = must be passed. Missing it returns `400` or `500`."
          },
          "default": {
            "description": "Default value. When set, the filter is optional."
          }
        }
      },
      "ResultMetadataColumn": {
        "type": "object",
        "description": "One output column.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Raw column name."
          },
          "display_name": {
            "type": "string",
            "description": "Column label — this is the key in JSON export rows."
          },
          "base_type": {
            "type": "string",
            "description": "Data type, e.g. `\"type/Text\"`, `\"type/Integer\"`, `\"type/DateTime\"`."
          },
          "semantic_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional semantic label, e.g. `\"type/PK\"`. Null if not set."
          }
        }
      },
      "CardMetadata": {
        "type": "object",
        "description": "Card metadata. Check `fully_parameterized` and `parameters` before downloading.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Card ID."
          },
          "name": {
            "type": "string",
            "description": "Card name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the Card measures. Null if not set."
          },
          "display": {
            "type": "string",
            "description": "Chart type."
          },
          "query_type": {
            "type": "string",
            "enum": [
              "native",
              "query"
            ],
            "description": "`\"native\"` = SQL, `\"query\"` = query builder."
          },
          "collection_id": {
            "type": "integer",
            "description": "Parent Collection ID."
          },
          "database_id": {
            "type": "integer",
            "description": "`3` = blast-prod PostgreSQL, `2` = Redshift."
          },
          "entity_id": {
            "type": "string",
            "description": "Stable UUID."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created timestamp."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last modified timestamp."
          },
          "parameters": {
            "type": "array",
            "description": "Filter slots. Pass values for these when downloading. Empty = no filters.",
            "items": {
              "$ref": "#/components/schemas/TemplateTagParameter"
            }
          },
          "result_metadata": {
            "type": "array",
            "description": "Output columns. `display_name` is the key in JSON export rows.",
            "items": {
              "$ref": "#/components/schemas/ResultMetadataColumn"
            }
          }
        }
      },
      "DashboardParameter": {
        "type": "object",
        "description": "A dashboard-level filter. Values passed here apply to all wired Cards.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Filter UUID."
          },
          "name": {
            "type": "string",
            "description": "Filter label."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe identifier."
          },
          "type": {
            "type": "string",
            "description": "Filter type, e.g. `\"category\"`, `\"date/range\"`, `\"string/=\"`."
          },
          "default": {
            "description": "Default value."
          }
        }
      },
      "ParameterMapping": {
        "type": "object",
        "description": "Links a dashboard filter to a Card's template tag.",
        "properties": {
          "parameter_id": {
            "type": "string",
            "description": "Dashboard filter UUID."
          },
          "card_id": {
            "type": "integer",
            "description": "Card this applies to."
          },
          "target": {
            "type": "array",
            "description": "Template tag pointer, e.g. `[\"variable\", [\"template-tag\", \"client_id\"]]`."
          }
        }
      },
      "DashboardCard": {
        "type": "object",
        "description": "A Card placed on a Dashboard. Has its own `id` (dashcard_id) separate from `card_id`.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Dashcard ID — pass as `dashcard_id` in the download endpoint."
          },
          "card_id": {
            "type": "integer",
            "description": "Underlying Card ID — pass as `card_id` in the download endpoint."
          },
          "dashboard_id": {
            "type": "integer",
            "description": "Parent Dashboard ID."
          },
          "card": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CardMetadata"
              }
            ],
            "description": "Embedded Card metadata."
          },
          "parameter_mappings": {
            "type": "array",
            "description": "How dashboard filters map to this Card's template tags.",
            "items": {
              "$ref": "#/components/schemas/ParameterMapping"
            }
          }
        }
      },
      "DashboardTab": {
        "type": "object",
        "description": "A tab in a tabbed Dashboard.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Tab ID."
          },
          "name": {
            "type": "string",
            "description": "Tab name."
          },
          "position": {
            "type": "integer",
            "description": "Position in the tab bar (zero-indexed)."
          }
        }
      },
      "Dashboard": {
        "type": "object",
        "description": "Full Dashboard metadata. Call this to get `dashcard_id` and `card_id` before downloading.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Dashboard ID."
          },
          "name": {
            "type": "string",
            "description": "Dashboard name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description."
          },
          "collection_id": {
            "type": "integer",
            "description": "Parent Collection ID."
          },
          "entity_id": {
            "type": "string",
            "description": "Stable UUID."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created timestamp."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Last modified timestamp."
          },
          "parameters": {
            "type": "array",
            "description": "Dashboard-level filters. Pass values to filter all wired Cards at once.",
            "items": {
              "$ref": "#/components/schemas/DashboardParameter"
            }
          },
          "tabs": {
            "type": "array",
            "description": "Tabs in a tabbed Dashboard. Empty = single pane.",
            "items": {
              "$ref": "#/components/schemas/DashboardTab"
            }
          },
          "dashcards": {
            "type": "array",
            "description": "All Cards on this Dashboard. Each has `id` (dashcard_id) and `card_id`.",
            "items": {
              "$ref": "#/components/schemas/DashboardCard"
            }
          }
        }
      },
      "QueryFilterParameter": {
        "type": "object",
        "description": "A filter value to pass when running a query.",
        "required": [
          "type",
          "target",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "`\"category\"` for text filters. Also `\"date/range\"`, `\"number/=\"`.",
            "example": "category"
          },
          "target": {
            "type": "array",
            "description": "Points to the template tag: `[\"variable\", [\"template-tag\", \"tag_name\"]]`.",
            "example": [
              "variable",
              [
                "template-tag",
                "client_id"
              ]
            ]
          },
          "value": {
            "type": "string",
            "description": "The value to inject.",
            "example": "YOUR_CLIENT_ID"
          }
        }
      },
      "QueryRequestBody": {
        "type": "object",
        "description": "Request body for download endpoints.",
        "required": [
          "parameters"
        ],
        "properties": {
          "parameters": {
            "type": "array",
            "description": "Filter values. Pass `[]` if the Card has no required filters.",
            "items": {
              "$ref": "#/components/schemas/QueryFilterParameter"
            }
          }
        }
      },
      "ExportJsonRow": {
        "type": "object",
        "description": "One row from a JSON export. Keys are `display_name` values from `result_metadata`.",
        "additionalProperties": true,
        "example": {
          "Total Programs": 42,
          "Application ID": "abc123",
          "Created At": "2025-03-15T10:00:00Z"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/collection/": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List All Collections",
        "description": "Returns all Collections your API key can access. Filter out `is_personal: true` items — those are user folders, not shared analytics content.\n\n> The root Collection has `id: \"root\"`. All others use integer IDs.",
        "operationId": "get_collections",
        "responses": {
          "200": {
            "description": "A flat array of Collections visible to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Collection"
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "Two collections — root and a top-level analytics collection",
                    "value": [
                      {
                        "id": "root",
                        "name": "Our analytics",
                        "is_personal": false,
                        "location": null,
                        "archived": false
                      },
                      {
                        "id": 11,
                        "name": "Livelike Analytics Dashboard",
                        "slug": "livelike_analytics_dashboard",
                        "description": null,
                        "is_personal": false,
                        "archived": false,
                        "location": "/",
                        "created_at": "2025-01-15T08:24:54.114487Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          }
        }
      }
    },
    "/api/collection/tree": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "Get Collection Tree",
        "description": "Returns Collections as a nested tree. Useful when you need to see the folder hierarchy in one call rather than reconstructing it from `location` paths.",
        "operationId": "get_collection_tree",
        "responses": {
          "200": {
            "description": "An array of top-level Collections, each with a recursive `children` array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CollectionTree"
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "Top-level collection with one nested sub-collection",
                    "value": [
                      {
                        "id": 11,
                        "name": "Livelike Analytics Dashboard",
                        "slug": "livelike_analytics_dashboard",
                        "description": null,
                        "is_personal": false,
                        "archived": false,
                        "location": "/",
                        "children": [
                          {
                            "id": 71,
                            "name": "Dashboard - Feature wise",
                            "slug": "dashboard___feature_wise",
                            "location": "/11/",
                            "children": []
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          }
        }
      }
    },
    "/api/collection/{collection_id}/items": {
      "get": {
        "tags": [
          "Collections"
        ],
        "summary": "List Collection Items",
        "description": "Lists Cards, Dashboards, and Documents inside a Collection.\n\n- Cards (`model: \"card\"`) → use `id` as `card_id` to download data.\n- Dashboards (`model: \"dashboard\"`) → use `id` to get `dashcard_id` and `card_id`.\n\n> `total` can be null on empty Collections. Use `data.length` instead.",
        "operationId": "get_collection_items",
        "parameters": [
          {
            "in": "path",
            "name": "collection_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "An integer Collection ID from `GET /api/collection/` or `GET /api/collection/tree`. Don't pass the string `\"root\"` here — you need an actual integer ID."
          },
          {
            "in": "query",
            "name": "models",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "card",
                "dashboard",
                "document"
              ]
            },
            "description": "Filter by item type. Repeat to include multiple: `?models=card&models=dashboard`. Leave it out to get everything."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50
            },
            "description": "Max items per page. Defaults to 50."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Where to start in the list (zero-based). Use with `limit` to page through: second page = `offset=50`, third = `offset=100`, and so on."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of items in the Collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItemsResponse"
                },
                "examples": {
                  "OK": {
                    "summary": "Mixed cards and dashboard in a collection",
                    "value": {
                      "total": 54,
                      "models": [
                        "card",
                        "dashboard"
                      ],
                      "limit": 3,
                      "offset": 0,
                      "data": [
                        {
                          "id": 1884,
                          "name": "Auto Opt-In for Quests enabled",
                          "model": "card",
                          "display": "scalar",
                          "description": null,
                          "collection_id": 337,
                          "database_id": 3,
                          "fully_parameterized": true
                        },
                        {
                          "id": 343,
                          "name": "Arcade Games",
                          "model": "dashboard",
                          "display": null,
                          "description": null,
                          "collection_id": 337,
                          "database_id": null,
                          "fully_parameterized": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Collection."
          },
          "404": {
            "description": "Collection not found."
          }
        }
      }
    },
    "/api/card/{card_id}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get Card Metadata",
        "description": "Returns Card metadata without running the query. Check `fully_parameterized` — if `false`, look for `required: true` parameters with no `default` and include those in your download request.",
        "operationId": "get_card",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Card ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"card\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "Full Card metadata including parameters and result_metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardMetadata"
                },
                "examples": {
                  "ScalarCard": {
                    "summary": "Scalar card with no required parameters",
                    "value": {
                      "id": 1884,
                      "name": "Auto Opt-In for Quests enabled",
                      "description": null,
                      "display": "scalar",
                      "query_type": "native",
                      "collection_id": 337,
                      "database_id": 3,
                      "parameters": [],
                      "result_metadata": [
                        {
                          "name": "count",
                          "display_name": "Count",
                          "base_type": "type/BigInteger"
                        }
                      ],
                      "created_at": "2025-11-12T13:59:40.527664Z",
                      "updated_at": "2025-11-12T13:59:40.527664Z"
                    }
                  },
                  "FilteredTableCard": {
                    "summary": "Table card requiring a client_id filter",
                    "value": {
                      "id": 1596,
                      "name": "Total Distinct Users",
                      "description": "Counts unique user profiles that have interacted with at least one widget.",
                      "display": "table",
                      "query_type": "native",
                      "collection_id": 437,
                      "database_id": 3,
                      "parameters": [
                        {
                          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "name": "client_id",
                          "display_name": "Client ID",
                          "type": "text",
                          "required": true
                        }
                      ],
                      "result_metadata": [
                        {
                          "name": "application_id",
                          "display_name": "Application ID",
                          "base_type": "type/Text"
                        },
                        {
                          "name": "distinct_users",
                          "display_name": "Distinct Users",
                          "base_type": "type/BigInteger"
                        }
                      ],
                      "created_at": "2025-10-21T12:27:55.000000Z",
                      "updated_at": "2026-01-07T10:17:08.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Card."
          },
          "404": {
            "description": "Card not found."
          }
        }
      }
    },
    "/api/card/{card_id}/query/{export_format}": {
      "post": {
        "tags": [
          "Cards"
        ],
        "summary": "Download Card Data",
        "description": "Runs the Card and returns data in `csv`, `json`, or `xlsx`.\n\nPass `parameters: []` if there are no required filters. Add a `QueryFilterParameter` entry for each filter you want to set.\n\n> This is a `POST` — filters go in the request body, not the URL.",
        "operationId": "post_card_query_export",
        "parameters": [
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Card ID from `GET /api/collection/{id}/items`."
          },
          {
            "in": "path",
            "name": "export_format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json",
                "xlsx"
              ]
            },
            "description": "The format you want back. `csv` → `text/csv`. `json` → `application/json` (flat array of row objects). `xlsx` → Excel spreadsheet (`application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequestBody"
              },
              "examples": {
                "NoFilters": {
                  "summary": "No filters — Card runs with defaults",
                  "value": {
                    "parameters": []
                  }
                },
                "WithClientId": {
                  "summary": "Filter by client_id template tag",
                  "value": {
                    "parameters": [
                      {
                        "type": "category",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      }
                    ]
                  }
                },
                "MultipleFilters": {
                  "summary": "Filter by both client_id and a date range",
                  "value": {
                    "parameters": [
                      {
                        "type": "category",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      },
                      {
                        "type": "date/range",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "created_at"
                          ]
                        ],
                        "value": "2025-01-01~2025-03-31"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results in the format you requested.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "example": "Application ID,Distinct Users\nabc123,4821\ndef456,1203\n"
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportJsonRow"
                  }
                },
                "example": [
                  {
                    "Application ID": "abc123",
                    "Distinct Users": 4821
                  },
                  {
                    "Application ID": "def456",
                    "Distinct Users": 1203
                  }
                ]
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the JSON body is malformed or a required filter parameter is missing from the `parameters` array."
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Card."
          },
          "404": {
            "description": "Card not found."
          },
          "500": {
            "description": "Query failed — the Card's SQL threw a database error. This often means a required template tag parameter was not passed or was set to an invalid value. Check `parameters[]` on the Card and ensure all entries with `required: true` are included."
          }
        }
      }
    },
    "/api/dashboard/{dashboard_id}": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get Dashboard",
        "description": "Returns Dashboard metadata including all Dashcards. Use this to get the `dashcard_id` and `card_id` you need for the Dashboard Card download endpoint.",
        "operationId": "get_dashboard",
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Dashboard ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"dashboard\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard metadata with the full Dashcard list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                },
                "examples": {
                  "OK": {
                    "summary": "Arcade Games dashboard with two dashcards",
                    "value": {
                      "id": 343,
                      "name": "Arcade Games",
                      "description": null,
                      "collection_id": 437,
                      "entity_id": "f3c2e1d0-a9b8-7654-3210-fedcba987654",
                      "created_at": "2025-10-21T12:27:55.14278Z",
                      "updated_at": "2026-01-07T10:17:08.822493Z",
                      "parameters": [],
                      "tabs": [],
                      "dashcards": [
                        {
                          "id": 3535,
                          "card_id": 1596,
                          "dashboard_id": 343,
                          "parameter_mappings": [],
                          "card": {
                            "id": 1596,
                            "name": "Total Distinct Users",
                            "display": "scalar",
                            "collection_id": 437
                          }
                        },
                        {
                          "id": 3540,
                          "card_id": 1601,
                          "dashboard_id": 343,
                          "parameter_mappings": [],
                          "card": {
                            "id": 1601,
                            "name": "Daily Average Users (DAU)",
                            "display": "line",
                            "collection_id": 437
                          }
                        }
                      ]
                    }
                  },
                  "DashboardWithFilters": {
                    "summary": "Dashboard with a client_id filter wired to all dashcards",
                    "value": {
                      "id": 400,
                      "name": "Client Overview",
                      "description": "Cross-feature KPIs scoped to a single client.",
                      "collection_id": 11,
                      "created_at": "2025-06-01T09:00:00.000000Z",
                      "updated_at": "2026-02-14T15:30:00.000000Z",
                      "parameters": [
                        {
                          "id": "d1e2f3a4-b5c6-7890-abcd-1234567890ef",
                          "name": "Client ID",
                          "slug": "client_id",
                          "type": "category"
                        }
                      ],
                      "tabs": [],
                      "dashcards": [
                        {
                          "id": 4100,
                          "card_id": 1700,
                          "dashboard_id": 400,
                          "parameter_mappings": [
                            {
                              "parameter_id": "d1e2f3a4-b5c6-7890-abcd-1234567890ef",
                              "card_id": 1700,
                              "target": [
                                "variable",
                                [
                                  "template-tag",
                                  "client_id"
                                ]
                              ]
                            }
                          ],
                          "card": {
                            "id": 1700,
                            "name": "Widget Impressions",
                            "display": "bar",
                            "collection_id": 11
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Dashboard."
          },
          "404": {
            "description": "Dashboard not found."
          }
        }
      }
    },
    "/api/dashboard/{dashboard_id}/dashcard/{dashcard_id}/card/{card_id}/query/{export_format}": {
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Download Dashboard Card Data",
        "description": "Downloads data for a specific Card inside a Dashboard. Use this when applying dashboard-level filters across multiple Cards.\n\nGet `dashcard_id` and `card_id` from `GET /api/dashboard/{id}` first.",
        "operationId": "post_dashboard_card_query_export",
        "parameters": [
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Dashboard ID from `GET /api/collection/{id}/items` — look for items where `model` is `\"dashboard\"`."
          },
          {
            "in": "path",
            "name": "dashcard_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Dashcard ID from `GET /api/dashboard/{id}` → `dashcards[].id`. This is the placement ID — not the same as `card_id`."
          },
          {
            "in": "path",
            "name": "card_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Card ID from `GET /api/dashboard/{id}` → `dashcards[].card_id`. This is the underlying question ID."
          },
          {
            "in": "path",
            "name": "export_format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json",
                "xlsx"
              ]
            },
            "description": "The format you want back. `csv` → `text/csv`. `json` → `application/json` (flat array of row objects). `xlsx` → Excel spreadsheet."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequestBody"
              },
              "examples": {
                "NoFilters": {
                  "summary": "No filters — Card runs with defaults",
                  "value": {
                    "parameters": []
                  }
                },
                "WithClientId": {
                  "summary": "Filter by client_id template tag",
                  "value": {
                    "parameters": [
                      {
                        "type": "category",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      }
                    ]
                  }
                },
                "MultipleFilters": {
                  "summary": "Filter by client_id and date range",
                  "value": {
                    "parameters": [
                      {
                        "type": "category",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "client_id"
                          ]
                        ],
                        "value": "YOUR_CLIENT_ID"
                      },
                      {
                        "type": "date/range",
                        "target": [
                          "variable",
                          [
                            "template-tag",
                            "created_at"
                          ]
                        ],
                        "value": "2025-01-01~2025-03-31"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results in the format you requested.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportJsonRow"
                  }
                },
                "example": [
                  {
                    "Date": "2025-03-01",
                    "DAU": 8421
                  },
                  {
                    "Date": "2025-03-02",
                    "DAU": 9103
                  }
                ]
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — the JSON body is malformed or a required filter parameter is missing."
          },
          "401": {
            "description": "Unauthorized — `x-api-key` header is missing or invalid."
          },
          "403": {
            "description": "Forbidden — your API key doesn't have access to this Dashboard or Card."
          },
          "404": {
            "description": "Dashboard, Dashcard, or Card not found. Double-check all three IDs from `GET /api/dashboard/{id}`."
          },
          "500": {
            "description": "Query failed — the underlying SQL threw a database error. Make sure all required template tag parameters are present and set to valid values."
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "headers": []
  },
  "x-tagGroups": [
    {
      "name": "API Reference",
      "tags": [
        "Collections",
        "Cards",
        "Dashboards"
      ]
    }
  ]
}