{
  "openapi": "3.1.0",
  "info": {
    "title": "programs",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://cf-blast.livelikecdn.com/api/v1/programs"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/{id}/": {
      "get": {
        "summary": "Get Program",
        "description": "",
        "operationId": "get-program",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the program",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/\",\n  \"widgets_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/widgets/\",\n  \"client_id\": \"pilot\",\n  \"application_url\": \"https://cf-blast.livelikecdn.com/api/v1/applications/pilot/\",\n  \"id\": \"f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"title\": \"HCI Usability Test\",\n  \"created_at\": \"2019-02-12T12:27:22.323196Z\",\n  \"scheduled_at\": \"2019-04-10T22:13:00Z\",\n  \"started_at\": \"2019-04-08T18:31:43Z\",\n  \"stopped_at\": null,\n  \"queue_order_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/queue-order/\",\n  \"delete_widgets_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/delete-widgets/\",\n  \"subscribe_channel\": \"program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n  \"widget_count\": 220,\n  \"stream_url\": \"https://cf-streams.livelikecdn.com/live/colorbars-angle1/index.m3u8\",\n  \"status\": \"live\",\n  \"start_program_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/start/\",\n  \"stop_program_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/stop/\",\n  \"active_sessions_statistics_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/statistics/active-sessions/\",\n  \"statistics_channel\": \"statistics_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n  \"current_active_session_count\": 0,\n  \"sticker_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/sticker-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"reaction_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/reaction-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"update_sticker_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sticker-packs/\",\n  \"analytics_properties\": {\n    \"Program ID\": \"f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n    \"Program Title\": \"HCI Usability Test\"\n  },\n  \"report_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/report/\",\n  \"ban_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/ban/\",\n  \"moderation_url\": \"https://cf-blast.livelikecdn.com/api/v1/reported-chat-messages/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"banned_chat_users_url\": \"https://cf-blast.livelikecdn.com/api/v1/banned-chat-users/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"oembed_url\": \"https://cf-blast.livelikecdn.com/api/v1/oembed-meta/\",\n  \"sponsors\": [],\n  \"sponsors_url\": \"https://cf-blast-storage-dig.livelikecdn.com/sponsors/d1389696-9fc5-4201-bcda-353146a2ac13/sponsors.json\"\n  \"chat_rooms\": [\n    {\n      \"id\": \"4e45cc19-0c8d-4f7d-9bdb-842da03c0d21\",\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/\",\n      \"client_id\": \"pilot\",\n      \"created_at\": \"2019-11-21T20:12:02.730797Z\",\n      \"channels\": {\n        \"chat\": {\n          \"sendbird\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\",\n          \"pubnub\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n        },\n        \"reactions\": {\n          \"pubnub\": \"reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n        }\n      }\n    }\n  ],\n  \"default_chat_room\": {\n    \"id\": \"4e45cc19-0c8d-4f7d-9bdb-842da03c0d21\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/\",\n    \"client_id\": \"pilot\",\n    \"created_at\": \"2019-11-21T20:12:02.730797Z\",\n    \"channels\": {\n      \"chat\": {\n        \"sendbird\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\",\n        \"pubnub\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n      },\n      \"reactions\": {\n        \"pubnub\": \"reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n      }\n    }\n  }\n}\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/": {
      "post": {
        "summary": "Create Program",
        "description": "Creating a new program inside an app",
        "operationId": "create-program",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "title",
                  "scheduled_at"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "The unique identifier of the app to create the program in"
                  },
                  "title": {
                    "type": "string",
                    "description": "The human-readable title of the program"
                  },
                  "scheduled_at": {
                    "type": "string",
                    "description": "The date and time the program is scheduled to begin in ISO format",
                    "format": "date"
                  },
                  "sponsor_ids": {
                    "type": "array",
                    "description": "List of sponsors to link with the program",
                    "items": {
                      "type": "string"
                    }
                  },
                  "custom_id": {
                    "type": "string",
                    "description": "Associate a Custom ID from another system with this Program"
                  },
                  "stream_url": {
                    "type": "string",
                    "description": "Optional url of a video stream"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/\",\n  \"widgets_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/widgets/\",\n  \"leaderboard_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaders/?client_id=pilot&program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"rank_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/rank/\",\n  \"client_id\": \"pilot\",\n  \"application_url\": \"https://cf-blast.livelikecdn.com/api/v1/applications/pilot/\",\n  \"id\": \"f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"title\": \"HCI Usability Test\",\n  \"created_at\": \"2019-02-12T12:27:22.323196Z\",\n  \"scheduled_at\": \"2019-04-10T22:13:00Z\",\n  \"started_at\": \"2019-04-08T18:31:43Z\",\n  \"stopped_at\": null,\n  \"custom_id\": null,\n  \"queue_order_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/queue-order/\",\n  \"delete_widgets_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/delete-widgets/\",\n  \"widgets_enabled\": true,\n  \"chat_enabled\": true,\n  \"subscribe_channel\": \"program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n  \"widget_count\": 220,\n  \"sendbird_channel\": \"program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n  \"stream_url\": \"https://cf-streams.livelikecdn.com/live/colorbars-angle1/index.m3u8\",\n  \"status\": \"live\",\n  \"sync_sessions_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sync-sessions/\",\n  \"sync_channel\": null,\n  \"start_program_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/start/\",\n  \"stop_program_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/stop/\",\n  \"active_sessions_statistics_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/statistics/active-sessions/\",\n  \"statistics_channel\": \"statistics_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n  \"current_active_session_count\": 0,\n  \"sticker_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/sticker-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"reaction_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/reaction-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"update_sticker_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sticker-packs/\",\n  \"analytics_properties\": {\n    \"Program ID\": \"f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n    \"Program Title\": \"HCI Usability Test\"\n  },\n  \"rewards_type\": \"badges\",\n  \"report_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/report/\",\n  \"ban_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/ban/\",\n  \"moderation_url\": \"https://cf-blast.livelikecdn.com/api/v1/reported-chat-messages/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"banned_chat_users_url\": \"https://cf-blast.livelikecdn.com/api/v1/banned-chat-users/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"oembed_url\": \"https://cf-blast.livelikecdn.com/api/v1/oembed-meta/\",\n  \"sponsors_url\": \"https://cf-blast-storage-dig.livelikecdn.com/sponsors/0d73952f-bd52-49bb-a2b3-f522cd5692fe/sponsors.json\",\n  \"sponsors\": [],\n  \"chat_rooms\": [\n    {\n      \"id\": \"4e45cc19-0c8d-4f7d-9bdb-842da03c0d21\",\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/\",\n      \"client_id\": \"pilot\",\n      \"created_at\": \"2019-11-21T20:12:02.730797Z\",\n      \"channels\": {\n        \"chat\": {\n          \"sendbird\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\",\n          \"pubnub\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n        },\n        \"reactions\": {\n          \"pubnub\": \"reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n        }\n      }\n    }\n  ],\n  \"default_chat_room\": {\n    \"id\": \"4e45cc19-0c8d-4f7d-9bdb-842da03c0d21\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/\",\n    \"client_id\": \"pilot\",\n    \"created_at\": \"2019-11-21T20:12:02.730797Z\",\n    \"channels\": {\n      \"chat\": {\n        \"sendbird\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\",\n        \"pubnub\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n      },\n      \"reactions\": {\n        \"pubnub\": \"reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n      }\n    }\n  }\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/"
                    },
                    "widgets_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/widgets/"
                    },
                    "leaderboard_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/leaders/?client_id=pilot&program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "rank_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/rank/"
                    },
                    "client_id": {
                      "type": "string",
                      "example": "pilot"
                    },
                    "application_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/applications/pilot/"
                    },
                    "id": {
                      "type": "string",
                      "example": "f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "title": {
                      "type": "string",
                      "example": "HCI Usability Test"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2019-02-12T12:27:22.323196Z"
                    },
                    "scheduled_at": {
                      "type": "string",
                      "example": "2019-04-10T22:13:00Z"
                    },
                    "started_at": {
                      "type": "string",
                      "example": "2019-04-08T18:31:43Z"
                    },
                    "stopped_at": {},
                    "custom_id": {},
                    "queue_order_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/queue-order/"
                    },
                    "delete_widgets_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/delete-widgets/"
                    },
                    "widgets_enabled": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "chat_enabled": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "subscribe_channel": {
                      "type": "string",
                      "example": "program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                    },
                    "widget_count": {
                      "type": "integer",
                      "example": 220,
                      "default": 0
                    },
                    "sendbird_channel": {
                      "type": "string",
                      "example": "program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                    },
                    "stream_url": {
                      "type": "string",
                      "example": "https://cf-streams.livelikecdn.com/live/colorbars-angle1/index.m3u8"
                    },
                    "status": {
                      "type": "string",
                      "example": "live"
                    },
                    "sync_sessions_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sync-sessions/"
                    },
                    "sync_channel": {},
                    "start_program_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/start/"
                    },
                    "stop_program_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/stop/"
                    },
                    "active_sessions_statistics_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/statistics/active-sessions/"
                    },
                    "statistics_channel": {
                      "type": "string",
                      "example": "statistics_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                    },
                    "current_active_session_count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "sticker_packs_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/sticker-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "reaction_packs_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "update_sticker_packs_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sticker-packs/"
                    },
                    "analytics_properties": {
                      "type": "object",
                      "properties": {
                        "Program ID": {
                          "type": "string",
                          "example": "f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                        },
                        "Program Title": {
                          "type": "string",
                          "example": "HCI Usability Test"
                        }
                      }
                    },
                    "rewards_type": {
                      "type": "string",
                      "example": "badges"
                    },
                    "report_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/report/"
                    },
                    "ban_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/ban/"
                    },
                    "moderation_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/reported-chat-messages/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "banned_chat_users_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/banned-chat-users/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "oembed_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/oembed-meta/"
                    },
                    "sponsors_url": {
                      "type": "string",
                      "example": "https://cf-blast-storage-dig.livelikecdn.com/sponsors/0d73952f-bd52-49bb-a2b3-f522cd5692fe/sponsors.json"
                    },
                    "sponsors": {
                      "type": "array"
                    },
                    "chat_rooms": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "4e45cc19-0c8d-4f7d-9bdb-842da03c0d21"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/"
                          },
                          "client_id": {
                            "type": "string",
                            "example": "pilot"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2019-11-21T20:12:02.730797Z"
                          },
                          "channels": {
                            "type": "object",
                            "properties": {
                              "chat": {
                                "type": "object",
                                "properties": {
                                  "sendbird": {
                                    "type": "string",
                                    "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                  },
                                  "pubnub": {
                                    "type": "string",
                                    "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                  }
                                }
                              },
                              "reactions": {
                                "type": "object",
                                "properties": {
                                  "pubnub": {
                                    "type": "string",
                                    "example": "reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "default_chat_room": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "4e45cc19-0c8d-4f7d-9bdb-842da03c0d21"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/"
                        },
                        "client_id": {
                          "type": "string",
                          "example": "pilot"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-21T20:12:02.730797Z"
                        },
                        "channels": {
                          "type": "object",
                          "properties": {
                            "chat": {
                              "type": "object",
                              "properties": {
                                "sendbird": {
                                  "type": "string",
                                  "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                },
                                "pubnub": {
                                  "type": "string",
                                  "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                }
                              }
                            },
                            "reactions": {
                              "type": "object",
                              "properties": {
                                "pubnub": {
                                  "type": "string",
                                  "example": "reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"title\": [\n    \"This field is required.\"\n  ],\n  \"scheduled_at\": [\n    \"This field is required.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    },
                    "scheduled_at": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "List Programs",
        "description": "List all programs for an app",
        "operationId": "list-programs",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "The unique identifier of the application",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Filters the program if title contains this value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filters program since scheduled_at ISO datetime.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Filters program until scheduled_at ISO datetime.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Returns active/inactive programs based on active values(true/false)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "future: Returns programs, which have scheduled_at > current_time. past: Returns programs, which have scheduled_at < current_time, live: Returns programs, which are not yet stopped.",
            "schema": {
              "type": "string",
              "enum": [
                "future",
                "live",
                "past"
              ]
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Filters program on the basis of their attributes, ?attributes=key:value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "scheduled_at, started_at, stopped_at, created_at. For descending order use \"-\" eg. -scheduled_at.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"count\": 1,\n  \"next\": null,\n  \"previous\": null,\n  \"results\": [\n    {\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/\",\n      \"widgets_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/widgets/\",\n      \"leaderboard_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaders/?client_id=pilot&program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n      \"rank_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/rank/\",\n      \"client_id\": \"pilot\",\n      \"application_url\": \"https://cf-blast.livelikecdn.com/api/v1/applications/pilot/\",\n      \"id\": \"f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n      \"title\": \"HCI Usability Test\",\n      \"created_at\": \"2019-02-12T12:27:22.323196Z\",\n      \"scheduled_at\": \"2019-04-10T22:13:00Z\",\n      \"started_at\": \"2019-04-08T18:31:43Z\",\n      \"stopped_at\": null,\n      \"queue_order_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/queue-order/\",\n      \"delete_widgets_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/delete-widgets/\",\n      \"widgets_enabled\": true,\n      \"chat_enabled\": true,\n      \"subscribe_channel\": \"program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n      \"widget_count\": 220,\n      \"sendbird_channel\": \"program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n      \"stream_url\": \"https://cf-streams.livelikecdn.com/live/colorbars-angle1/index.m3u8\",\n      \"status\": \"live\",\n      \"sync_sessions_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sync-sessions/\",\n      \"sync_channel\": null,\n      \"start_program_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/start/\",\n      \"stop_program_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/stop/\",\n      \"active_sessions_statistics_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/statistics/active-sessions/\",\n      \"statistics_channel\": \"statistics_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n      \"current_active_session_count\": 0,\n      \"sticker_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/sticker-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n      \"reaction_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/reaction-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n      \"update_sticker_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sticker-packs/\",\n      \"analytics_properties\": {\n        \"Program ID\": \"f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n        \"Program Title\": \"HCI Usability Test\"\n      },\n      \"rewards_type\": \"badges\",\n      \"report_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/report/\",\n      \"ban_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/ban/\",\n      \"moderation_url\": \"https://cf-blast.livelikecdn.com/api/v1/reported-chat-messages/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n      \"banned_chat_users_url\": \"https://cf-blast.livelikecdn.com/api/v1/banned-chat-users/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n      \"oembed_url\": \"https://cf-blast.livelikecdn.com/api/v1/oembed-meta/\",\n      \"chat_rooms\": [\n        {\n          \"id\": \"4e45cc19-0c8d-4f7d-9bdb-842da03c0d21\",\n          \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/\",\n          \"client_id\": \"pilot\",\n          \"created_at\": \"2019-11-21T20:12:02.730797Z\",\n          \"channels\": {\n            \"chat\": {\n              \"sendbird\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\",\n              \"pubnub\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n            },\n            \"reactions\": {\n              \"pubnub\": \"reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n            }\n          }\n        }\n      ],\n      \"default_chat_room\": {\n        \"id\": \"4e45cc19-0c8d-4f7d-9bdb-842da03c0d21\",\n        \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/\",\n        \"client_id\": \"pilot\",\n        \"created_at\": \"2019-11-21T20:12:02.730797Z\",\n        \"channels\": {\n          \"chat\": {\n            \"sendbird\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\",\n            \"pubnub\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n          },\n          \"reactions\": {\n            \"pubnub\": \"reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n          }\n        }\n      }\n    }\n  ]\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "next": {},
                    "previous": {},
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/"
                          },
                          "widgets_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/widgets/"
                          },
                          "leaderboard_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/leaders/?client_id=pilot&program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                          },
                          "rank_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/rank/"
                          },
                          "client_id": {
                            "type": "string",
                            "example": "pilot"
                          },
                          "application_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/applications/pilot/"
                          },
                          "id": {
                            "type": "string",
                            "example": "f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                          },
                          "title": {
                            "type": "string",
                            "example": "HCI Usability Test"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2019-02-12T12:27:22.323196Z"
                          },
                          "scheduled_at": {
                            "type": "string",
                            "example": "2019-04-10T22:13:00Z"
                          },
                          "started_at": {
                            "type": "string",
                            "example": "2019-04-08T18:31:43Z"
                          },
                          "stopped_at": {},
                          "queue_order_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/queue-order/"
                          },
                          "delete_widgets_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/delete-widgets/"
                          },
                          "widgets_enabled": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "chat_enabled": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "subscribe_channel": {
                            "type": "string",
                            "example": "program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                          },
                          "widget_count": {
                            "type": "integer",
                            "example": 220,
                            "default": 0
                          },
                          "sendbird_channel": {
                            "type": "string",
                            "example": "program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                          },
                          "stream_url": {
                            "type": "string",
                            "example": "https://cf-streams.livelikecdn.com/live/colorbars-angle1/index.m3u8"
                          },
                          "status": {
                            "type": "string",
                            "example": "live"
                          },
                          "sync_sessions_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sync-sessions/"
                          },
                          "sync_channel": {},
                          "start_program_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/start/"
                          },
                          "stop_program_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/stop/"
                          },
                          "active_sessions_statistics_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/statistics/active-sessions/"
                          },
                          "statistics_channel": {
                            "type": "string",
                            "example": "statistics_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                          },
                          "current_active_session_count": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          },
                          "sticker_packs_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/sticker-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                          },
                          "reaction_packs_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                          },
                          "update_sticker_packs_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sticker-packs/"
                          },
                          "analytics_properties": {
                            "type": "object",
                            "properties": {
                              "Program ID": {
                                "type": "string",
                                "example": "f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                              },
                              "Program Title": {
                                "type": "string",
                                "example": "HCI Usability Test"
                              }
                            }
                          },
                          "rewards_type": {
                            "type": "string",
                            "example": "badges"
                          },
                          "report_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/report/"
                          },
                          "ban_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/ban/"
                          },
                          "moderation_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/reported-chat-messages/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                          },
                          "banned_chat_users_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/banned-chat-users/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                          },
                          "oembed_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/oembed-meta/"
                          },
                          "chat_rooms": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "4e45cc19-0c8d-4f7d-9bdb-842da03c0d21"
                                },
                                "url": {
                                  "type": "string",
                                  "example": "https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/"
                                },
                                "client_id": {
                                  "type": "string",
                                  "example": "pilot"
                                },
                                "created_at": {
                                  "type": "string",
                                  "example": "2019-11-21T20:12:02.730797Z"
                                },
                                "channels": {
                                  "type": "object",
                                  "properties": {
                                    "chat": {
                                      "type": "object",
                                      "properties": {
                                        "sendbird": {
                                          "type": "string",
                                          "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                        },
                                        "pubnub": {
                                          "type": "string",
                                          "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                        }
                                      }
                                    },
                                    "reactions": {
                                      "type": "object",
                                      "properties": {
                                        "pubnub": {
                                          "type": "string",
                                          "example": "reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "default_chat_room": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "4e45cc19-0c8d-4f7d-9bdb-842da03c0d21"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/"
                              },
                              "client_id": {
                                "type": "string",
                                "example": "pilot"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2019-11-21T20:12:02.730797Z"
                              },
                              "channels": {
                                "type": "object",
                                "properties": {
                                  "chat": {
                                    "type": "object",
                                    "properties": {
                                      "sendbird": {
                                        "type": "string",
                                        "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                      },
                                      "pubnub": {
                                        "type": "string",
                                        "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                      }
                                    }
                                  },
                                  "reactions": {
                                    "type": "object",
                                    "properties": {
                                      "pubnub": {
                                        "type": "string",
                                        "example": "reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"client_id\": [\n    \"This field is required.\"\n  ]\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "This field is required."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{program_id}/rank/": {
      "get": {
        "summary": "Get Rank in Program",
        "description": "",
        "operationId": "get-program-rank",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "The ID of the program to get the user's rank within",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{id}": {
      "patch": {
        "summary": "Update Program",
        "description": "",
        "operationId": "update-program",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Program ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "custom_id": {
                    "type": "string",
                    "description": "Associate this Program with an ID in another system"
                  },
                  "title": {
                    "type": "string",
                    "description": "Set the Program title"
                  },
                  "scheduled_at": {
                    "type": "string",
                    "description": "When this Program is scheduled to start",
                    "format": "date"
                  },
                  "sponsor_ids": {
                    "type": "array",
                    "description": "List of sponsors to link with the program",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/\",\n  \"widgets_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/widgets/\",\n  \"leaderboard_url\": \"https://cf-blast.livelikecdn.com/api/v1/leaders/?client_id=pilot&program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"rank_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/rank/\",\n  \"client_id\": \"pilot\",\n  \"application_url\": \"https://cf-blast.livelikecdn.com/api/v1/applications/pilot/\",\n  \"id\": \"f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"title\": \"HCI Usability Test\",\n  \"created_at\": \"2019-02-12T12:27:22.323196Z\",\n  \"scheduled_at\": \"2019-04-10T22:13:00Z\",\n  \"started_at\": \"2019-04-08T18:31:43Z\",\n  \"stopped_at\": null,\n  \"custom_id\": null,\n  \"queue_order_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/queue-order/\",\n  \"delete_widgets_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/delete-widgets/\",\n  \"widgets_enabled\": true,\n  \"chat_enabled\": true,\n  \"subscribe_channel\": \"program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n  \"widget_count\": 220,\n  \"sendbird_channel\": \"program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n  \"stream_url\": \"https://cf-streams.livelikecdn.com/live/colorbars-angle1/index.m3u8\",\n  \"status\": \"live\",\n  \"sync_sessions_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sync-sessions/\",\n  \"sync_channel\": null,\n  \"start_program_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/start/\",\n  \"stop_program_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/stop/\",\n  \"active_sessions_statistics_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/statistics/active-sessions/\",\n  \"statistics_channel\": \"statistics_f1938a34_2611_4cff_9043_ad6b3dd2f6fd\",\n  \"current_active_session_count\": 0,\n  \"sticker_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/sticker-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"reaction_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/reaction-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"update_sticker_packs_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sticker-packs/\",\n  \"analytics_properties\": {\n    \"Program ID\": \"f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n    \"Program Title\": \"HCI Usability Test\"\n  },\n  \"rewards_type\": \"badges\",\n  \"report_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/report/\",\n  \"ban_url\": \"https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/ban/\",\n  \"moderation_url\": \"https://cf-blast.livelikecdn.com/api/v1/reported-chat-messages/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"banned_chat_users_url\": \"https://cf-blast.livelikecdn.com/api/v1/banned-chat-users/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd\",\n  \"oembed_url\": \"https://cf-blast.livelikecdn.com/api/v1/oembed-meta/\",\n  \"sponsors_url\": \"https://cf-blast-storage-dig.livelikecdn.com/sponsors/0d73952f-bd52-49bb-a2b3-f522cd5692fe/sponsors.json\",\n  \"sponsors\": [],\n  \"chat_rooms\": [\n    {\n      \"id\": \"4e45cc19-0c8d-4f7d-9bdb-842da03c0d21\",\n      \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/\",\n      \"client_id\": \"pilot\",\n      \"created_at\": \"2019-11-21T20:12:02.730797Z\",\n      \"channels\": {\n        \"chat\": {\n          \"sendbird\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\",\n          \"pubnub\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n        },\n        \"reactions\": {\n          \"pubnub\": \"reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n        }\n      }\n    }\n  ],\n  \"default_chat_room\": {\n    \"id\": \"4e45cc19-0c8d-4f7d-9bdb-842da03c0d21\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/\",\n    \"client_id\": \"pilot\",\n    \"created_at\": \"2019-11-21T20:12:02.730797Z\",\n    \"channels\": {\n      \"chat\": {\n        \"sendbird\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\",\n        \"pubnub\": \"chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n      },\n      \"reactions\": {\n        \"pubnub\": \"reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21\"\n      }\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/"
                    },
                    "widgets_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/widgets/"
                    },
                    "leaderboard_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/leaders/?client_id=pilot&program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "rank_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/rank/"
                    },
                    "client_id": {
                      "type": "string",
                      "example": "pilot"
                    },
                    "application_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/applications/pilot/"
                    },
                    "id": {
                      "type": "string",
                      "example": "f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "title": {
                      "type": "string",
                      "example": "HCI Usability Test"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2019-02-12T12:27:22.323196Z"
                    },
                    "scheduled_at": {
                      "type": "string",
                      "example": "2019-04-10T22:13:00Z"
                    },
                    "started_at": {
                      "type": "string",
                      "example": "2019-04-08T18:31:43Z"
                    },
                    "stopped_at": {},
                    "custom_id": {},
                    "queue_order_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/queue-order/"
                    },
                    "delete_widgets_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/delete-widgets/"
                    },
                    "widgets_enabled": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "chat_enabled": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "subscribe_channel": {
                      "type": "string",
                      "example": "program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                    },
                    "widget_count": {
                      "type": "integer",
                      "example": 220,
                      "default": 0
                    },
                    "sendbird_channel": {
                      "type": "string",
                      "example": "program_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                    },
                    "stream_url": {
                      "type": "string",
                      "example": "https://cf-streams.livelikecdn.com/live/colorbars-angle1/index.m3u8"
                    },
                    "status": {
                      "type": "string",
                      "example": "live"
                    },
                    "sync_sessions_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sync-sessions/"
                    },
                    "sync_channel": {},
                    "start_program_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/start/"
                    },
                    "stop_program_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/stop/"
                    },
                    "active_sessions_statistics_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/statistics/active-sessions/"
                    },
                    "statistics_channel": {
                      "type": "string",
                      "example": "statistics_f1938a34_2611_4cff_9043_ad6b3dd2f6fd"
                    },
                    "current_active_session_count": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "sticker_packs_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/sticker-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "reaction_packs_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "update_sticker_packs_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/sticker-packs/"
                    },
                    "analytics_properties": {
                      "type": "object",
                      "properties": {
                        "Program ID": {
                          "type": "string",
                          "example": "f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                        },
                        "Program Title": {
                          "type": "string",
                          "example": "HCI Usability Test"
                        }
                      }
                    },
                    "rewards_type": {
                      "type": "string",
                      "example": "badges"
                    },
                    "report_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/report/"
                    },
                    "ban_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/programs/f1938a34-2611-4cff-9043-ad6b3dd2f6fd/ban/"
                    },
                    "moderation_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/reported-chat-messages/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "banned_chat_users_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/banned-chat-users/?program_id=f1938a34-2611-4cff-9043-ad6b3dd2f6fd"
                    },
                    "oembed_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/oembed-meta/"
                    },
                    "sponsors_url": {
                      "type": "string",
                      "example": "https://cf-blast-storage-dig.livelikecdn.com/sponsors/0d73952f-bd52-49bb-a2b3-f522cd5692fe/sponsors.json"
                    },
                    "sponsors": {
                      "type": "array"
                    },
                    "chat_rooms": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "4e45cc19-0c8d-4f7d-9bdb-842da03c0d21"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/"
                          },
                          "client_id": {
                            "type": "string",
                            "example": "pilot"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2019-11-21T20:12:02.730797Z"
                          },
                          "channels": {
                            "type": "object",
                            "properties": {
                              "chat": {
                                "type": "object",
                                "properties": {
                                  "sendbird": {
                                    "type": "string",
                                    "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                  },
                                  "pubnub": {
                                    "type": "string",
                                    "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                  }
                                }
                              },
                              "reactions": {
                                "type": "object",
                                "properties": {
                                  "pubnub": {
                                    "type": "string",
                                    "example": "reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "default_chat_room": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "4e45cc19-0c8d-4f7d-9bdb-842da03c0d21"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://cf-blast.livelikecdn.com/api/v1/chat-rooms/4e45cc19-0c8d-4f7d-9bdb-842da03c0d21/"
                        },
                        "client_id": {
                          "type": "string",
                          "example": "pilot"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2019-11-21T20:12:02.730797Z"
                        },
                        "channels": {
                          "type": "object",
                          "properties": {
                            "chat": {
                              "type": "object",
                              "properties": {
                                "sendbird": {
                                  "type": "string",
                                  "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                },
                                "pubnub": {
                                  "type": "string",
                                  "example": "chat_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                }
                              }
                            },
                            "reactions": {
                              "type": "object",
                              "properties": {
                                "pubnub": {
                                  "type": "string",
                                  "example": "reactions_4e45cc19_0c8d_4f7d_9bdb_842da03c0d21"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"detail\": custom_id is already in use.\"\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PATCH -H \"Authorization: Bearer <access-token>\" -d custom_id=\"your-custom-id\" https://cf-blast.livelikecdn.com/api/v1/programs/{id}/"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/{program_id}/chat-rooms/{chat_room_id}/": {
      "put": {
        "summary": "Link a chat room with a program",
        "description": "",
        "operationId": "link-a-chat-room-with-a-program",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "Program ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "chat_room_id",
            "in": "path",
            "description": "Chat Room ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Unlink a chat room from a program",
        "description": "",
        "operationId": "unlink-a-chat-room-from-a-program",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "Program ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "chat_room_id",
            "in": "path",
            "description": "Chat Room ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{program_id}/leaderboards/{leaderboard_id}/": {
      "put": {
        "summary": "Link a Leaderboard with a Program",
        "description": "",
        "operationId": "link-a-leaderboard-with-a-program",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "Program ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "leaderboard_id",
            "in": "path",
            "description": "Leaderboard ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Unlink a leaderboard from a program",
        "description": "",
        "operationId": "unlink-a-leaderboard-from-a-program",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "Program ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "leaderboard_id",
            "in": "path",
            "description": "Leaderboard ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{program_id}/reward-tables/{reward_table_id}/": {
      "put": {
        "summary": "Link a reward table with a program",
        "description": "",
        "operationId": "link-a-reward-table-with-a-program",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "Program ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "reward_table_id",
            "in": "path",
            "description": "RewardTable ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Unlink a reward table with a program",
        "description": "",
        "operationId": "unlink-a-reward-table-with-a-program",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "Program ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "reward_table_id",
            "in": "path",
            "description": "RewardTable ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/new-endpoint": {
      "get": {
        "description": "",
        "operationId": "get_new-endpoint",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": []
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}