{"openapi":"3.1.0","info":{"title":"reaction-spaces","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/reaction-spaces/"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/{id}":{"get":{"summary":"Get a Reaction Space","description":"","operationId":"get-a-reaction-space","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"f16b5c94-c780-4712-8547-6399263dde46\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/reaction-spaces/f16b5c94-c780-4712-8547-6399263dde46/\",\n    \"created_by\": \"e0a92904-2c6c-400e-93ba-d379142f06cc\",\n    \"client_id\": \"pnODbVXg0UI80s0l2aH5Y7FOuGbftoAdSNqpdvo6\",\n    \"name\": null,\n    \"reaction_pack_ids\": [],\n    \"target_group_id\": \"1232@aV\",\n    \"reaction_space_channel\": \"reaction_space.f16b5c94-c780-4712-8547-6399263dde46\",\n    \"user_reactions_url\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions/\",\n    \"user_reaction_detail_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions/{user_reaction_id}/\",\n    \"user_reactions_count_url\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions-count/\",\n\t  \"custom_data\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"f16b5c94-c780-4712-8547-6399263dde46"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/reaction-spaces/f16b5c94-c780-4712-8547-6399263dde46/"},"created_by":{"type":"string","example":"e0a92904-2c6c-400e-93ba-d379142f06cc"},"client_id":{"type":"string","example":"pnODbVXg0UI80s0l2aH5Y7FOuGbftoAdSNqpdvo6"},"name":{},"reaction_pack_ids":{"type":"array"},"target_group_id":{"type":"string","example":"1232@aV"},"reaction_space_channel":{"type":"string","example":"reaction_space.f16b5c94-c780-4712-8547-6399263dde46"},"user_reactions_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions/"},"user_reaction_detail_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions/{user_reaction_id}/"},"user_reactions_count_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions-count/"},"custom_data":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://cf-blast.livelikecdn.com/api/v1/reaction-spaces/f16b5c94-c780-4712-8547-6399263dde46/' \\\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImUwYTkyOTA0LTJjNmMtNDAwZS05M2JhLWQzNzkxNDJmMDZjYyIsImNsaWVudF9pZCI6InBuT0RiVlhnMFVJODBzMGwyYUg1WTdGT3VHYmZ0b0FkU05xcGR2bzYiLCJhY2Nlc3NfdG9rZW4iOiJnQ0Q5SC1IdVB3UXFJckRVTE5uazZqVEwwLUhMNjUyaTNVZXJZXzMzVjdrN0J4NkpJaXk1a0EiLCJpc19wcm9kdWNlciI6dHJ1ZSwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2NTg4Mjg3NDl9.WkeQVByqkuuEfY4ty8-2vVCDqZq0MBCkgzRzCMUnN9Y'"}],"samples-languages":["curl"]}},"patch":{"summary":"Update a Reaction Space","description":"","operationId":"update-a-reaction-space","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"reaction_pack_ids":{"type":"array","items":{"type":"string"}},"custom_data":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"b964db17-1c2f-40ac-9c7c-9b0a014abc23\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/reaction-spaces/b964db17-1c2f-40ac-9c7c-9b0a014abc23/\",\n    \"created_by\": \"e0a92904-2c6c-400e-93ba-d379142f06cc\",\n    \"client_id\": \"pnODbVXg0UI80s0l2aH5Y7FOuGbftoAdSNqpdvo6\",\n    \"name\": null,\n    \"reaction_pack_ids\": [\n    \t\"f6fc5ed1-c48e-4c0e-9a90-6831f1725b5a\",\n    \t\"e684c275-17ea-43bf-a22b-9018f873c450\"\n    ],\n    \"custom_data\": null,\n    \"target_group_id\": \"readme\",\n    \"reaction_space_channel\": \"reaction_space.b964db17-1c2f-40ac-9c7c-9b0a014abc23\",\n    \"user_reactions_url\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions/\",\n    \"user_reaction_detail_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions/{user_reaction_id}/\",\n    \"user_reactions_count_url\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions-count/\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"b964db17-1c2f-40ac-9c7c-9b0a014abc23"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/reaction-spaces/b964db17-1c2f-40ac-9c7c-9b0a014abc23/"},"created_by":{"type":"string","example":"e0a92904-2c6c-400e-93ba-d379142f06cc"},"client_id":{"type":"string","example":"pnODbVXg0UI80s0l2aH5Y7FOuGbftoAdSNqpdvo6"},"name":{},"reaction_pack_ids":{"type":"array","items":{"type":"string","example":"f6fc5ed1-c48e-4c0e-9a90-6831f1725b5a"}},"custom_data":{},"target_group_id":{"type":"string","example":"readme"},"reaction_space_channel":{"type":"string","example":"reaction_space.b964db17-1c2f-40ac-9c7c-9b0a014abc23"},"user_reactions_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions/"},"user_reaction_detail_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions/{user_reaction_id}/"},"user_reactions_count_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions-count/"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/":{"post":{"summary":"Create Reaction Space","description":"","operationId":"create-reaction-space","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["target_group_id"],"properties":{"name":{"type":"string"},"target_group_id":{"type":"string"},"reaction_pack_ids":{"type":"array","description":"List of reaction pack ids","items":{"type":"string"}},"custom_data":{"type":"string"}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"b964db17-1c2f-40ac-9c7c-9b0a014abc23\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/reaction-spaces/b964db17-1c2f-40ac-9c7c-9b0a014abc23/\",\n    \"created_by\": \"e0a92904-2c6c-400e-93ba-d379142f06cc\",\n    \"client_id\": \"pnODbVXg0UI80s0l2aH5Y7FOuGbftoAdSNqpdvo6\",\n    \"name\": null,\n    \"custom_data\": null,\n    \"reaction_pack_ids\": [],\n    \"target_group_id\": \"sample_target_group_id\",\n    \"reaction_space_channel\": \"reaction_space.b964db17-1c2f-40ac-9c7c-9b0a014abc23\",\n    \"user_reactions_url\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions/\",\n    \"user_reaction_detail_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions/{user_reaction_id}/\",\n    \"user_reactions_count_url\": \"https://cf-blast.livelikecdn.com/api/v1/user-reactions-count/\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"b964db17-1c2f-40ac-9c7c-9b0a014abc23"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/reaction-spaces/b964db17-1c2f-40ac-9c7c-9b0a014abc23/"},"created_by":{"type":"string","example":"e0a92904-2c6c-400e-93ba-d379142f06cc"},"client_id":{"type":"string","example":"pnODbVXg0UI80s0l2aH5Y7FOuGbftoAdSNqpdvo6"},"name":{},"custom_data":{},"reaction_pack_ids":{"type":"array"},"target_group_id":{"type":"string","example":"sample_target_group_id"},"reaction_space_channel":{"type":"string","example":"reaction_space.b964db17-1c2f-40ac-9c7c-9b0a014abc23"},"user_reactions_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions/"},"user_reaction_detail_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions/{user_reaction_id}/"},"user_reactions_count_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/user-reactions-count/"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"curl --location --request POST 'https://cf-blast-qa.livelikecdn.com/api/v1/reaction-spaces/' \\\n--header 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImUwYTkyOTA0LTJjNmMtNDAwZS05M2JhLWQzNzkxNDJmMDZjYyIsImNsaWVudF9pZCI6InBuT0RiVlhnMFVJODBzMGwyYUg1WTdGT3VHYmZ0b0FkU05xcGR2bzYiLCJhY2Nlc3NfdG9rZW4iOiJnQ0Q5SC1IdVB3UXFJckRVTE5uazZqVEwwLUhMNjUyaTNVZXJZXzMzVjdrN0J4NkpJaXk1a0EiLCJpc19wcm9kdWNlciI6dHJ1ZSwiaXNzIjoiYmxhc3QiLCJpYXQiOjE2NTg4Mjg3NDl9.WkeQVByqkuuEfY4ty8-2vVCDqZq0MBCkgzRzCMUnN9Y' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n   \"target_group_id\": \"sample_target_group_id\",\n   \"reaction_pack_ids\": [ ]\n\n}'"}],"samples-languages":["text"]}}},"/#":{"delete":{"summary":"Delete a Reaction Space","description":"","operationId":"delete-a-reaction-space","parameters":[{"name":"id","in":"path","description":"reaction_space_id","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/{id}/":{"delete":{"description":"","operationId":"delete_new-endpoint","responses":{"200":{"description":"OK","content":{"application/json":{"examples":{"New Example":{"summary":"New Example","value":"{}"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"examples":{"New Example":{"value":{"detail":"Authentication credentials were not provided.","error_code":"MISSING_AUTH_CREDENTIALS"}}}}}}},"parameters":[{"name":"Authorization","in":"header","required":true,"description":"Bearer Token","schema":{"type":"string","default":""}},{"in":"path","name":"id","schema":{"type":"string"},"required":true}]}},"/{reactionsspace_id}/":{"delete":{"description":"","operationId":"delete_new-endpoint","responses":{"200":{"description":"OK","content":{"application/json":{"examples":{"New Example":{"summary":"New Example","value":"{}"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"examples":{"New Example":{"value":{"detail":"Authentication credentials were not provided.","error_code":"MISSING_AUTH_CREDENTIALS"}}}}}}},"parameters":[{"name":"Authorization","in":"header","required":true,"description":"Bearer Token","schema":{"type":"string","default":""}},{"in":"path","name":"reactionsspace_id","schema":{"type":"string"},"required":true}]}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}