{
  "openapi": "3.1.0",
  "info": {
    "title": "reaction-packs",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "Create a Reaction Pack",
        "description": "",
        "operationId": "create-a-reaction-pack",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Reaction Pack Name"
                  },
                  "is_exclusive": {
                    "type": "boolean",
                    "default": "false"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "fd2cc73b-662b-4914-bb1c-341a0ce34a79",
                      "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/fd2cc73b-662b-4914-bb1c-341a0ce34a79/",
                      "client_id": "P97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf",
                      "name": "My Reaction Pack",
                      "emojis_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/?client_id=P97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf&pack_id=fd2cc73b-662b-4914-bb1c-341a0ce34a79",
                      "emojis": [],
                      "is_exclusive": false
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "fd2cc73b-662b-4914-bb1c-341a0ce34a79"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/fd2cc73b-662b-4914-bb1c-341a0ce34a79/"
                    },
                    "client_id": {
                      "type": "string",
                      "example": "P97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf"
                    },
                    "name": {
                      "type": "string",
                      "example": "My Reaction Pack"
                    },
                    "emojis_url": {
                      "type": "string",
                      "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/?client_id=P97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf&pack_id=fd2cc73b-662b-4914-bb1c-341a0ce34a79"
                    },
                    "emojis": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST -F name=\"My Sticker Pack\" -F file=@icon_file.png -F client_id=P9qSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS https://cf-blast.livelikecdn.com/api/v1/sticker-packs/"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "List Reaction Packs",
        "description": "",
        "operationId": "list-reaction-packs",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Application Client ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "program_id",
            "in": "query",
            "description": "Program ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chat_room_id",
            "in": "query",
            "description": "Chat room ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "count": 4,
                      "next": null,
                      "previous": null,
                      "results": [
                        {
                          "id": "7b600d22-c4a3-42b2-97c4-4cc0a3b87499",
                          "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/7b600d22-c4a3-42b2-97c4-4cc0a3b87499/",
                          "client_id": "J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf",
                          "name": "Goat Reactions",
                          "is_exclusive": false,
                          "emojis_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/?client_id=J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf&pack_id=7b600d22-c4a3-42b2-97c4-4cc0a3b87499",
                          "emojis": [
                            {
                              "id": "81211a7e-d906-4399-8b8e-fe765ee9282b",
                              "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/81211a7e-d906-4399-8b8e-fe765ee9282b/",
                              "name": "Angry",
                              "pack_id": "7b600d22-c4a3-42b2-97c4-4cc0a3b87499",
                              "pack_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/7b600d22-c4a3-42b2-97c4-4cc0a3b87499/",
                              "pack_name": "Goat Reactions",
                              "file": "https://cf-blast-storage.livelikecdn.com/assets/1ed69071-debb-4979-a382-4fa6fb6faa85.png",
                              "order_index": 0,
                              "mimetype": "image/png"
                            },
                            {
                              "id": "cc5f8d14-d915-463e-8608-2701d1f133b8",
                              "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/cc5f8d14-d915-463e-8608-2701d1f133b8/",
                              "name": "Crying",
                              "pack_id": "7b600d22-c4a3-42b2-97c4-4cc0a3b87499",
                              "pack_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/7b600d22-c4a3-42b2-97c4-4cc0a3b87499/",
                              "pack_name": "Goat Reactions",
                              "file": "https://cf-blast-storage.livelikecdn.com/assets/8dd11967-3a2e-4281-bd60-f7859bc0983d.png",
                              "order_index": 0,
                              "mimetype": "image/png"
                            },
                            {
                              "id": "256855cd-7afa-4bb5-a949-463ffa4227c8",
                              "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/256855cd-7afa-4bb5-a949-463ffa4227c8/",
                              "name": "Smiling",
                              "pack_id": "7b600d22-c4a3-42b2-97c4-4cc0a3b87499",
                              "pack_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/7b600d22-c4a3-42b2-97c4-4cc0a3b87499/",
                              "pack_name": "Goat Reactions",
                              "file": "https://cf-blast-storage.livelikecdn.com/assets/cd11d9d7-b338-472e-98b9-d028aeb85457.png",
                              "order_index": 0,
                              "mimetype": "image/png"
                            },
                            {
                              "id": "58ae85e6-638d-409b-aa67-719c1dd6f64c",
                              "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/58ae85e6-638d-409b-aa67-719c1dd6f64c/",
                              "name": "Hearts",
                              "pack_id": "7b600d22-c4a3-42b2-97c4-4cc0a3b87499",
                              "pack_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/7b600d22-c4a3-42b2-97c4-4cc0a3b87499/",
                              "pack_name": "Goat Reactions",
                              "file": "https://cf-blast-storage.livelikecdn.com/assets/76b370d3-d150-4c49-88ac-ba149ca3fff2.png",
                              "order_index": 0,
                              "mimetype": "image/png"
                            }
                          ]
                        },
                        {
                          "id": "f488d64a-bf70-4ac5-b8a7-1bb8ad337e13",
                          "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/f488d64a-bf70-4ac5-b8a7-1bb8ad337e13/",
                          "client_id": "J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf",
                          "name": "Test Reactions - 1713976492",
                          "is_exclusive": false,
                          "emojis_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/?client_id=J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf&pack_id=f488d64a-bf70-4ac5-b8a7-1bb8ad337e13",
                          "emojis": []
                        },
                        {
                          "id": "39dc3c15-0a64-4b58-91b5-dcde9ef6584f",
                          "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/39dc3c15-0a64-4b58-91b5-dcde9ef6584f/",
                          "client_id": "J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf",
                          "name": "Test Reactions - 1713976498",
                          "is_exclusive": false,
                          "emojis_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/?client_id=J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf&pack_id=39dc3c15-0a64-4b58-91b5-dcde9ef6584f",
                          "emojis": []
                        },
                        {
                          "id": "dd2cc73b-662b-4914-bb1c-341a0ce34a79",
                          "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/dd2cc73b-662b-4914-bb1c-341a0ce34a79/",
                          "client_id": "J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf",
                          "name": "Test Reactions - 1713976545",
                          "is_exclusive": false,
                          "emojis_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/?client_id=J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf&pack_id=dd2cc73b-662b-4914-bb1c-341a0ce34a79",
                          "emojis": [
                            {
                              "id": "ac429bc6-2278-4fd2-8b45-dd5ec96b4217",
                              "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/ac429bc6-2278-4fd2-8b45-dd5ec96b4217/",
                              "name": "Emoji - 1713977511",
                              "pack_id": "dd2cc73b-662b-4914-bb1c-341a0ce34a79",
                              "pack_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/dd2cc73b-662b-4914-bb1c-341a0ce34a79/",
                              "pack_name": "Test Reactions - 1713976545",
                              "file": "https://cf-blast-storage.livelikecdn.com/assets/e951dfb4-8881-4359-aecb-eddd37970f0d.png",
                              "order_index": 0,
                              "mimetype": "image/png"
                            },
                            {
                              "id": "61ee16bd-2315-4204-acbd-c232cc338a13",
                              "url": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/61ee16bd-2315-4204-acbd-c232cc338a13/",
                              "name": "Emoji - 1713977528",
                              "pack_id": "dd2cc73b-662b-4914-bb1c-341a0ce34a79",
                              "pack_url": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/dd2cc73b-662b-4914-bb1c-341a0ce34a79/",
                              "pack_name": "Test Reactions - 1713976545",
                              "file": "https://cf-blast-storage.livelikecdn.com/assets/984a9bc4-ff46-4f7b-b174-78187a52e103.png",
                              "order_index": 0,
                              "mimetype": "image/png"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "example": 4,
                      "default": 0
                    },
                    "next": {},
                    "previous": {},
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "7b600d22-c4a3-42b2-97c4-4cc0a3b87499"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/7b600d22-c4a3-42b2-97c4-4cc0a3b87499/"
                          },
                          "client_id": {
                            "type": "string",
                            "example": "J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf"
                          },
                          "name": {
                            "type": "string",
                            "example": "Goat Reactions"
                          },
                          "emojis_url": {
                            "type": "string",
                            "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/?client_id=J97YLOHQ5sMGzww1BHivAEP0dUIfRgFl6ilg3asf&pack_id=7b600d22-c4a3-42b2-97c4-4cc0a3b87499"
                          },
                          "emojis": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "81211a7e-d906-4399-8b8e-fe765ee9282b"
                                },
                                "url": {
                                  "type": "string",
                                  "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-emojis/81211a7e-d906-4399-8b8e-fe765ee9282b/"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Angry"
                                },
                                "pack_id": {
                                  "type": "string",
                                  "example": "7b600d22-c4a3-42b2-97c4-4cc0a3b87499"
                                },
                                "pack_url": {
                                  "type": "string",
                                  "example": "https://cf-blast.livelikecdn.com/api/v1/reaction-packs/7b600d22-c4a3-42b2-97c4-4cc0a3b87499/"
                                },
                                "pack_name": {
                                  "type": "string",
                                  "example": "Goat Reactions"
                                },
                                "file": {
                                  "type": "string",
                                  "example": "https://cf-blast-storage.livelikecdn.com/assets/1ed69071-debb-4979-a382-4fa6fb6faa85.png"
                                },
                                "order_index": {
                                  "type": "integer",
                                  "example": 0,
                                  "default": 0
                                },
                                "mimetype": {
                                  "type": "string",
                                  "example": "image/png"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{id}/": {
      "delete": {
        "summary": "Delete a Reaction pack",
        "description": "",
        "operationId": "delete-a-reaction-pack",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Reaction Pack ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}