{"openapi":"3.1.0","info":{"title":"text-prediction","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/text-predictions"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/":{"post":{"summary":"Create Text Prediction","description":"","operationId":"create-text-prediction","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["program_id","question","options"],"properties":{"program_id":{"type":"string","description":"ID of the program to create the prediction for"},"question":{"type":"string","description":"The prompt or question for the prediction to be made"},"options":{"type":"array","description":"List of options for this prediction, min 2 and max 4","items":{"properties":{"description":{"type":"string","description":"The text associated with the prediction option"}},"type":"object"}},"confirmation_message":{"type":"string","description":"The message shown to someone after they vote for their prediction"},"interactive_until":{"type":"string","description":"The UTC time that the widget will stop accepting interactions","format":"date"},"custom_data":{"type":"string"},"widget_attributes":{"type":"array","items":{"properties":{"key":{"type":"string"},"value":{"type":"string"}},"type":"object"}},"sponsor_ids":{"type":"array","description":"Links the ```sponsors``` with this Text Prediction. Note that only valid sponsor_ids will be linked to a Text Prediction.","items":{"type":"string"}}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n    \"pubnub_enabled\": true,\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n    \"kind\": \"text-prediction\",\n    \"program_id\": \"94762042-f447-42e8-aea8-07ad65edd910\",\n    \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n    \"created_at\": \"2023-12-12T11:33:40.807636Z\",\n    \"published_at\": null,\n    \"scheduled_at\": null,\n    \"interactive_until\": null,\n    \"follow_up_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/\",\n    \"follow_ups\": [\n        {\n            \"id\": \"a73cf2df-790e-46b4-90ea-e5e4fb2fe202\",\n            \"pubnub_enabled\": true,\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/\",\n            \"program_id\": \"94762042-f447-42e8-aea8-07ad65edd910\",\n            \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n            \"text_prediction_id\": \"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n            \"text_prediction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n            \"correct_option_id\": null,\n            \"timeout\": \"P0DT00H00M30S\",\n            \"published_at\": null,\n            \"scheduled_at\": null,\n            \"interactive_until\": null,\n            \"created_at\": \"2023-12-12T11:33:40.860166Z\",\n            \"subscribe_channel\": \"program.widget.94762042-f447-42e8-aea8-07ad65edd910\",\n            \"kind\": \"text-prediction-follow-up\",\n            \"options\": [\n                {\n                    \"id\": \"48b9a173-a100-4751-9d30-cc33bef035e0\",\n                    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/\",\n                    \"description\": \"1\",\n                    \"is_correct\": false,\n                    \"vote_count\": 0,\n                    \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVFVVVWcFY1OWdEUXhmYWlLczNJSTRlaVNpOW93dE5NYVJjLVBDcXYza25GTzNUWERETkcwX3ZBdmRHazJBcnlmb2xwUmFGTVZnSFMtTUZoZFhfTEgtdEtYQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODA4MjB9.Q-oxe274sbgOUBuw4--0UbhtnrGQ8-5T-r9Qgnr0jYM/\",\n                    \"reward_item_id\": null,\n                    \"reward_item_amount\": 0,\n                    \"earnable_rewards\": [],\n                    \"translations\": {},\n                    \"translatable_fields\": [\n                        \"description\"\n                    ]\n                },\n                {\n                    \"id\": \"1a86751e-32a8-4fb6-9bbe-56f6cf3939ef\",\n                    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/\",\n                    \"description\": \"1\",\n                    \"is_correct\": false,\n                    \"vote_count\": 0,\n                    \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVFVVUwOVQ1aXlabGpRQlpLMVFFRExVMDhuMWU4QnNaS2EtOHBHRjdaT0Y5V2czWHFrRm1xb2Y0TkVRTk0zemx2ZUNqRnJma1VkVHEwaWJ4MXlDejhoY0Y1Zz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODA4MjB9.fiOrAaZ_EU7qLO4LcEXqpkn6zrRWiB5GAST0vm20_0s/\",\n                    \"reward_item_id\": null,\n                    \"reward_item_amount\": 0,\n                    \"earnable_rewards\": [],\n                    \"translations\": {},\n                    \"translatable_fields\": [\n                        \"description\"\n                    ]\n                }\n            ],\n            \"question\": \"test\",\n            \"program_date_time\": null,\n            \"publish_delay\": \"P0DT00H00M00S\",\n            \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/interactions/\",\n            \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction-follow-up/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/\",\n            \"impression_count\": 0,\n            \"unique_impression_count\": 0,\n            \"engagement_count\": null,\n            \"engagement_percent\": null,\n            \"status\": \"pending\",\n            \"created_by\": {\n                \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                \"name\": null,\n                \"image_url\": null\n            },\n            \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/schedule/\",\n            \"rewards_url\": null,\n            \"translations\": {},\n            \"translatable_fields\": [],\n            \"reactions\": [],\n            \"custom_data\": null,\n            \"claim_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interaction-claims/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/claims/\",\n            \"sponsors\": [],\n            \"earnable_rewards\": [],\n            \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n            \"widget_attributes\": [],\n            \"playback_time_ms\": null\n        }\n    ],\n    \"question\": \"test\",\n    \"confirmation_message\": \"Alright! Stay tuned to see the result.\",\n    \"timeout\": \"P0DT00H00M30S\",\n    \"options\": [\n        {\n            \"id\": \"48b9a173-a100-4751-9d30-cc33bef035e0\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/\",\n            \"description\": \"1\",\n            \"is_correct\": false,\n            \"vote_count\": 0,\n            \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVFVVVYQnpUdVpLN2xYVnZuUHlBSXZKa1NwbkpaTkhGNnE5c05YV1Q4QlNjdmNXRmxpZVhKWWRmM3NPbER2Z3ZXMTNQWmt3YnZQTTZMdGpwenpmcGZKWElrZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODA4MjB9.NPy-X6xpIAkE9VCSCP14CKdoYmw-HiEM2dZt3CzJNqo/\",\n            \"reward_item_id\": null,\n            \"reward_item_amount\": 0,\n            \"earnable_rewards\": [],\n            \"translations\": {},\n            \"translatable_fields\": [\n                \"description\"\n            ]\n        },\n        {\n            \"id\": \"1a86751e-32a8-4fb6-9bbe-56f6cf3939ef\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/\",\n            \"description\": \"1\",\n            \"is_correct\": false,\n            \"vote_count\": 0,\n            \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVFVVVwYVVyU1Q4VFBpUDUyTlBNLU55cjNEWlNhWkw3T1d6X08tVFhSdWNXMGNHNnpWVTV1em1xVzl4S19lNVl4NkQwbGxIOXJMRkdueXJYY3FuRHFFZ3JQUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODA4MjB9.Y7IF0GhItBY0r97JKkPGkGrk5SK2emX43t7uZlAJEp8/\",\n            \"reward_item_id\": null,\n            \"reward_item_amount\": 0,\n            \"earnable_rewards\": [],\n            \"translations\": {},\n            \"translatable_fields\": [\n                \"description\"\n            ]\n        }\n    ],\n    \"subscribe_channel\": \"program.widget.94762042-f447-42e8-aea8-07ad65edd910\",\n    \"program_date_time\": null,\n    \"publish_delay\": \"P0DT00H00M00S\",\n    \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/interactions/\",\n    \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n    \"impression_count\": 0,\n    \"unique_impression_count\": 0,\n    \"engagement_count\": 0,\n    \"engagement_percent\": \"0.000\",\n    \"status\": \"pending\",\n    \"created_by\": {\n        \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/schedule/\",\n    \"rewards_url\": null,\n    \"translations\": {},\n    \"translatable_fields\": [\n        \"question\",\n        \"confirmation_message\"\n    ],\n    \"reactions\": [],\n    \"custom_data\": null,\n    \"sponsors\": [],\n    \"earnable_rewards\": [],\n    \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n    \"widget_attributes\": [],\n    \"playback_time_ms\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"kind":{"type":"string","example":"text-prediction"},"program_id":{"type":"string","example":"94762042-f447-42e8-aea8-07ad65edd910"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"created_at":{"type":"string","example":"2023-12-12T11:33:40.807636Z"},"published_at":{},"scheduled_at":{},"interactive_until":{},"follow_up_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/"},"follow_ups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a73cf2df-790e-46b4-90ea-e5e4fb2fe202"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/"},"program_id":{"type":"string","example":"94762042-f447-42e8-aea8-07ad65edd910"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"text_prediction_id":{"type":"string","example":"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"text_prediction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"correct_option_id":{},"timeout":{"type":"string","example":"P0DT00H00M30S"},"published_at":{},"scheduled_at":{},"interactive_until":{},"created_at":{"type":"string","example":"2023-12-12T11:33:40.860166Z"},"subscribe_channel":{"type":"string","example":"program.widget.94762042-f447-42e8-aea8-07ad65edd910"},"kind":{"type":"string","example":"text-prediction-follow-up"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"48b9a173-a100-4751-9d30-cc33bef035e0"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/"},"description":{"type":"string","example":"1"},"is_correct":{"type":"boolean","example":false,"default":true},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVFVVVWcFY1OWdEUXhmYWlLczNJSTRlaVNpOW93dE5NYVJjLVBDcXYza25GTzNUWERETkcwX3ZBdmRHazJBcnlmb2xwUmFGTVZnSFMtTUZoZFhfTEgtdEtYQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODA4MjB9.Q-oxe274sbgOUBuw4--0UbhtnrGQ8-5T-r9Qgnr0jYM/"},"reward_item_id":{},"reward_item_amount":{"type":"integer","example":0,"default":0},"earnable_rewards":{"type":"array"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"question":{"type":"string","example":"test"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction-follow-up/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{},"engagement_percent":{},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array"},"reactions":{"type":"array"},"custom_data":{},"claim_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interaction-claims/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/claims/"},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}},"question":{"type":"string","example":"test"},"confirmation_message":{"type":"string","example":"Alright! Stay tuned to see the result."},"timeout":{"type":"string","example":"P0DT00H00M30S"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"48b9a173-a100-4751-9d30-cc33bef035e0"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/"},"description":{"type":"string","example":"1"},"is_correct":{"type":"boolean","example":false,"default":true},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVFVVVYQnpUdVpLN2xYVnZuUHlBSXZKa1NwbkpaTkhGNnE5c05YV1Q4QlNjdmNXRmxpZVhKWWRmM3NPbER2Z3ZXMTNQWmt3YnZQTTZMdGpwenpmcGZKWElrZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODA4MjB9.NPy-X6xpIAkE9VCSCP14CKdoYmw-HiEM2dZt3CzJNqo/"},"reward_item_id":{},"reward_item_amount":{"type":"integer","example":0,"default":0},"earnable_rewards":{"type":"array"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"subscribe_channel":{"type":"string","example":"program.widget.94762042-f447-42e8-aea8-07ad65edd910"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{"type":"integer","example":0,"default":0},"engagement_percent":{"type":"string","example":"0.000"},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"question"}},"reactions":{"type":"array"},"custom_data":{},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}}}}},"deprecated":false}},"/{prediction_id}/":{"get":{"summary":"Get Text Prediction","description":"","operationId":"get-text-prediction","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n    \"pubnub_enabled\": true,\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n    \"kind\": \"text-prediction\",\n    \"program_id\": \"94762042-f447-42e8-aea8-07ad65edd910\",\n    \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n    \"created_at\": \"2023-12-12T11:33:40.807636Z\",\n    \"published_at\": null,\n    \"scheduled_at\": null,\n    \"interactive_until\": null,\n    \"follow_up_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/\",\n    \"follow_ups\": [\n        {\n            \"id\": \"a73cf2df-790e-46b4-90ea-e5e4fb2fe202\",\n            \"pubnub_enabled\": true,\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/\",\n            \"program_id\": \"94762042-f447-42e8-aea8-07ad65edd910\",\n            \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n            \"text_prediction_id\": \"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n            \"text_prediction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n            \"correct_option_id\": null,\n            \"timeout\": \"P0DT00H00M30S\",\n            \"published_at\": null,\n            \"scheduled_at\": null,\n            \"interactive_until\": null,\n            \"created_at\": \"2023-12-12T11:33:40.860166Z\",\n            \"subscribe_channel\": \"program.widget.94762042-f447-42e8-aea8-07ad65edd910\",\n            \"kind\": \"text-prediction-follow-up\",\n            \"options\": [\n                {\n                    \"id\": \"48b9a173-a100-4751-9d30-cc33bef035e0\",\n                    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/\",\n                    \"description\": \"1\",\n                    \"is_correct\": false,\n                    \"vote_count\": 0,\n                    \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVGcnVOOU5VQUYtOWhiSWpkRFFSWEw0MnVIY0dvMEJqY0I5UWYtUm90Y0JtNHRfUGkwUndkVGlOWkRNZER0QXdudnpWN3U3T3lNbkZiTTAzVjI0SDJ6YW9EQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODY0MTR9.75N8g3TadfOKDIvIudC7utgH57dYUTFtyrd3v9IIfUc/\",\n                    \"reward_item_id\": null,\n                    \"reward_item_amount\": 0,\n                    \"earnable_rewards\": [],\n                    \"translations\": {},\n                    \"translatable_fields\": [\n                        \"description\"\n                    ]\n                },\n                {\n                    \"id\": \"1a86751e-32a8-4fb6-9bbe-56f6cf3939ef\",\n                    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/\",\n                    \"description\": \"1\",\n                    \"is_correct\": false,\n                    \"vote_count\": 0,\n                    \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVGcnVxTnlVemNMN0NyUXBlWGQxRlVEZUYtYXNvT0dSdmpDdTFxZ3FpTnAxSjF0eGVqLVNPcUFqSDJWbk9aSW1VWDlPa0pteDZaQkZSZ3IyUEd1UEpGQ255QT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODY0MTR9.vgl5C2xU0deXejaT4CNaW1Q-IDhAp-DeXgoUhtXvMAc/\",\n                    \"reward_item_id\": null,\n                    \"reward_item_amount\": 0,\n                    \"earnable_rewards\": [],\n                    \"translations\": {},\n                    \"translatable_fields\": [\n                        \"description\"\n                    ]\n                }\n            ],\n            \"question\": \"test\",\n            \"program_date_time\": null,\n            \"publish_delay\": \"P0DT00H00M00S\",\n            \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/interactions/\",\n            \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction-follow-up/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/\",\n            \"impression_count\": 0,\n            \"unique_impression_count\": 0,\n            \"engagement_count\": null,\n            \"engagement_percent\": null,\n            \"status\": \"pending\",\n            \"created_by\": {\n                \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                \"name\": null,\n                \"image_url\": null\n            },\n            \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/schedule/\",\n            \"rewards_url\": null,\n            \"translations\": {},\n            \"translatable_fields\": [],\n            \"reactions\": [],\n            \"custom_data\": null,\n            \"claim_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interaction-claims/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/claims/\",\n            \"sponsors\": [],\n            \"earnable_rewards\": [],\n            \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n            \"widget_attributes\": [],\n            \"playback_time_ms\": null\n        }\n    ],\n    \"question\": \"test\",\n    \"confirmation_message\": \"Alright! Stay tuned to see the result.\",\n    \"timeout\": \"P0DT00H00M30S\",\n    \"options\": [\n        {\n            \"id\": \"48b9a173-a100-4751-9d30-cc33bef035e0\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/\",\n            \"description\": \"1\",\n            \"is_correct\": false,\n            \"vote_count\": 0,\n            \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVGcnVQNE9rdldoakpLUmhPT0ZCMExjRnRNTDU1X05pSWhFVFNCYkFBcDZRLV9NcVJRMnp3N3dEWWp4VEw4NDFYOENnMGtydXZrVzdVVmJUVUpXSDlzQXdRdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODY0MTR9.3AVcT9J-CYT_idCOiRPpQdsrnqxSwY_0K8nHv2iQHAA/\",\n            \"reward_item_id\": null,\n            \"reward_item_amount\": 0,\n            \"earnable_rewards\": [],\n            \"translations\": {},\n            \"translatable_fields\": [\n                \"description\"\n            ]\n        },\n        {\n            \"id\": \"1a86751e-32a8-4fb6-9bbe-56f6cf3939ef\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/\",\n            \"description\": \"1\",\n            \"is_correct\": false,\n            \"vote_count\": 0,\n            \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVGcnVWN0laQnBNOGRuSkpXYmhZRWRlWWROa2ZhRWRjS0VFZWhNaEg5c1BIZGRyRDNpc0pqZlRQZnlGZnRuRjVDUm5reXJsWEJEbXpfdGVFbVh0Z0J1bkMwUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODY0MTR9.jWIGhub2z5Xuh4H5SFrF0yuYWF5ju5wbEJJDo67KkZY/\",\n            \"reward_item_id\": null,\n            \"reward_item_amount\": 0,\n            \"earnable_rewards\": [],\n            \"translations\": {},\n            \"translatable_fields\": [\n                \"description\"\n            ]\n        }\n    ],\n    \"subscribe_channel\": \"program.widget.94762042-f447-42e8-aea8-07ad65edd910\",\n    \"program_date_time\": null,\n    \"publish_delay\": \"P0DT00H00M00S\",\n    \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/interactions/\",\n    \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n    \"impression_count\": 0,\n    \"unique_impression_count\": 0,\n    \"engagement_count\": 0,\n    \"engagement_percent\": \"0.000\",\n    \"status\": \"pending\",\n    \"created_by\": {\n        \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/schedule/\",\n    \"rewards_url\": null,\n    \"translations\": {},\n    \"translatable_fields\": [\n        \"question\",\n        \"confirmation_message\"\n    ],\n    \"reactions\": [],\n    \"custom_data\": null,\n    \"sponsors\": [],\n    \"earnable_rewards\": [],\n    \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n    \"widget_attributes\": [],\n    \"playback_time_ms\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"kind":{"type":"string","example":"text-prediction"},"program_id":{"type":"string","example":"94762042-f447-42e8-aea8-07ad65edd910"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"created_at":{"type":"string","example":"2023-12-12T11:33:40.807636Z"},"published_at":{},"scheduled_at":{},"interactive_until":{},"follow_up_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/"},"follow_ups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a73cf2df-790e-46b4-90ea-e5e4fb2fe202"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/"},"program_id":{"type":"string","example":"94762042-f447-42e8-aea8-07ad65edd910"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"text_prediction_id":{"type":"string","example":"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"text_prediction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"correct_option_id":{},"timeout":{"type":"string","example":"P0DT00H00M30S"},"published_at":{},"scheduled_at":{},"interactive_until":{},"created_at":{"type":"string","example":"2023-12-12T11:33:40.860166Z"},"subscribe_channel":{"type":"string","example":"program.widget.94762042-f447-42e8-aea8-07ad65edd910"},"kind":{"type":"string","example":"text-prediction-follow-up"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"48b9a173-a100-4751-9d30-cc33bef035e0"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/"},"description":{"type":"string","example":"1"},"is_correct":{"type":"boolean","example":false,"default":true},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVGcnVOOU5VQUYtOWhiSWpkRFFSWEw0MnVIY0dvMEJqY0I5UWYtUm90Y0JtNHRfUGkwUndkVGlOWkRNZER0QXdudnpWN3U3T3lNbkZiTTAzVjI0SDJ6YW9EQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODY0MTR9.75N8g3TadfOKDIvIudC7utgH57dYUTFtyrd3v9IIfUc/"},"reward_item_id":{},"reward_item_amount":{"type":"integer","example":0,"default":0},"earnable_rewards":{"type":"array"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"question":{"type":"string","example":"test"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction-follow-up/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{},"engagement_percent":{},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array"},"reactions":{"type":"array"},"custom_data":{},"claim_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interaction-claims/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/claims/"},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}},"question":{"type":"string","example":"test"},"confirmation_message":{"type":"string","example":"Alright! Stay tuned to see the result."},"timeout":{"type":"string","example":"P0DT00H00M30S"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"48b9a173-a100-4751-9d30-cc33bef035e0"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/"},"description":{"type":"string","example":"1"},"is_correct":{"type":"boolean","example":false,"default":true},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVGcnVQNE9rdldoakpLUmhPT0ZCMExjRnRNTDU1X05pSWhFVFNCYkFBcDZRLV9NcVJRMnp3N3dEWWp4VEw4NDFYOENnMGtydXZrVzdVVmJUVUpXSDlzQXdRdz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODY0MTR9.3AVcT9J-CYT_idCOiRPpQdsrnqxSwY_0K8nHv2iQHAA/"},"reward_item_id":{},"reward_item_amount":{"type":"integer","example":0,"default":0},"earnable_rewards":{"type":"array"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"subscribe_channel":{"type":"string","example":"program.widget.94762042-f447-42e8-aea8-07ad65edd910"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{"type":"integer","example":0,"default":0},"engagement_percent":{"type":"string","example":"0.000"},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"question"}},"reactions":{"type":"array"},"custom_data":{},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}}}}},"deprecated":false,"security":[]},"patch":{"summary":"Update Text Prediction","description":"","operationId":"update-text-prediction","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["options"],"properties":{"question":{"type":"string","description":"The prompt or question for the prediction to be made"},"options":{"type":"array","description":"List of options for this prediction, min 2 and max 4","items":{"properties":{"description":{"type":"string","description":"The text associated with the prediction option"}},"type":"object"}},"confirmation_message":{"type":"string","description":"The message shown to someone after they vote for their prediction"},"sponsor_ids":{"type":"array","description":"Links the ```sponsors``` with this Text Prediction. Note that only valid sponsor_ids will be linked to a Text Prediction.","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n    \"pubnub_enabled\": true,\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n    \"kind\": \"text-prediction\",\n    \"program_id\": \"94762042-f447-42e8-aea8-07ad65edd910\",\n    \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n    \"created_at\": \"2023-12-12T11:33:40.807636Z\",\n    \"published_at\": null,\n    \"scheduled_at\": null,\n    \"interactive_until\": null,\n    \"follow_up_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/\",\n    \"follow_ups\": [\n        {\n            \"id\": \"a73cf2df-790e-46b4-90ea-e5e4fb2fe202\",\n            \"pubnub_enabled\": true,\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/\",\n            \"program_id\": \"94762042-f447-42e8-aea8-07ad65edd910\",\n            \"client_id\": \"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS\",\n            \"text_prediction_id\": \"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n            \"text_prediction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n            \"correct_option_id\": null,\n            \"timeout\": \"P0DT00H00M30S\",\n            \"published_at\": null,\n            \"scheduled_at\": null,\n            \"interactive_until\": null,\n            \"created_at\": \"2023-12-12T11:33:40.860166Z\",\n            \"subscribe_channel\": \"program.widget.94762042-f447-42e8-aea8-07ad65edd910\",\n            \"kind\": \"text-prediction-follow-up\",\n            \"options\": [\n                {\n                    \"id\": \"48b9a173-a100-4751-9d30-cc33bef035e0\",\n                    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/\",\n                    \"description\": \"1\",\n                    \"is_correct\": false,\n                    \"vote_count\": 0,\n                    \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVHZVhhaklka1V0ZWhvLWdENUl6WmFrZzNiTVRrMFJDU3phTUZ6YU4tYXlYUkg1di1zNm4tZm9GWmNpbGVvdDVQdmYtbGh1QUNOOHBiUHh2V1R2UDJsejdyUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODk2NTV9.eaGVc6MOWVE-2rGk7v0BGZCB8fZhUX6I6wkBl-Pjh8c/\",\n                    \"reward_item_id\": null,\n                    \"reward_item_amount\": 0,\n                    \"earnable_rewards\": [],\n                    \"translations\": {},\n                    \"translatable_fields\": [\n                        \"description\"\n                    ]\n                },\n                {\n                    \"id\": \"1a86751e-32a8-4fb6-9bbe-56f6cf3939ef\",\n                    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/\",\n                    \"description\": \"1\",\n                    \"is_correct\": false,\n                    \"vote_count\": 0,\n                    \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVHZVhNZXdaeU1TZTFiSHpweG9vMjN2dWNST21LSko5UXk0UGNxaEF3RHl1b2V5ckJyYWcwVUhQeTNiMUVoc2R1dnc2bzRmUE43Y2tDMkZHQ1JBcmpQYUxGZz09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODk2NTV9.HTwSQrRIXYab2epfWA2lFZzmWmtHZMuVSABS6R5uaU8/\",\n                    \"reward_item_id\": null,\n                    \"reward_item_amount\": 0,\n                    \"earnable_rewards\": [],\n                    \"translations\": {},\n                    \"translatable_fields\": [\n                        \"description\"\n                    ]\n                }\n            ],\n            \"question\": \"new\",\n            \"program_date_time\": null,\n            \"publish_delay\": \"P0DT00H00M00S\",\n            \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/interactions/\",\n            \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction-follow-up/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/\",\n            \"impression_count\": 0,\n            \"unique_impression_count\": 0,\n            \"engagement_count\": null,\n            \"engagement_percent\": null,\n            \"status\": \"pending\",\n            \"created_by\": {\n                \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n                \"name\": null,\n                \"image_url\": null\n            },\n            \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/schedule/\",\n            \"rewards_url\": null,\n            \"translations\": {},\n            \"translatable_fields\": [],\n            \"reactions\": [],\n            \"custom_data\": null,\n            \"claim_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interaction-claims/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/claims/\",\n            \"sponsors\": [],\n            \"earnable_rewards\": [],\n            \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n            \"widget_attributes\": [],\n            \"playback_time_ms\": null\n        }\n    ],\n    \"question\": \"new\",\n    \"confirmation_message\": \"Alright! Stay tuned to see the result.\",\n    \"timeout\": \"P0DT00H00M30S\",\n    \"options\": [\n        {\n            \"id\": \"48b9a173-a100-4751-9d30-cc33bef035e0\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/\",\n            \"description\": \"1\",\n            \"is_correct\": false,\n            \"vote_count\": 0,\n            \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVHZVlWbUNKRlR6T2FWVTRYcEJrR2dtbllNcDdvQV9KakdrY0ctNldLcURyblczMzdsMkpzeVZTUUY4bUIyX09pLWVkbUt0MVh0c0Y2RzhDMGVtTXNXeW1tQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODk2NTZ9.iZ1z9-XwLn9EZC45hjH0NZRMe32-6uVWbZPeKIqdi94/\",\n            \"reward_item_id\": null,\n            \"reward_item_amount\": 0,\n            \"earnable_rewards\": [],\n            \"translations\": {},\n            \"translatable_fields\": [\n                \"description\"\n            ]\n        },\n        {\n            \"id\": \"1a86751e-32a8-4fb6-9bbe-56f6cf3939ef\",\n            \"url\": \"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/\",\n            \"description\": \"1\",\n            \"is_correct\": false,\n            \"vote_count\": 0,\n            \"vote_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/1a86751e-32a8-4fb6-9bbe-56f6cf3939ef/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVHZVliNF93cGwwUHZob0FISlZnV1BVeUlHejRxNmY4NVYzU05abDdFVGRhY0lJbnRma1JGOGVpRjZSNWlLa1dFUVFSdDBJWlZTU2t0c25JUE1waVNEUFVOUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODk2NTZ9.KWZkH_8gszD4xjFSTmaJnMZfIF0rWPleeSOvXfOHW3M/\",\n            \"reward_item_id\": null,\n            \"reward_item_amount\": 0,\n            \"earnable_rewards\": [],\n            \"translations\": {},\n            \"translatable_fields\": [\n                \"description\"\n            ]\n        }\n    ],\n    \"subscribe_channel\": \"program.widget.94762042-f447-42e8-aea8-07ad65edd910\",\n    \"program_date_time\": null,\n    \"publish_delay\": \"P0DT00H00M00S\",\n    \"interaction_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/interactions/\",\n    \"impression_url\": \"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/\",\n    \"impression_count\": 0,\n    \"unique_impression_count\": 0,\n    \"engagement_count\": 0,\n    \"engagement_percent\": \"0.000\",\n    \"status\": \"pending\",\n    \"created_by\": {\n        \"id\": \"fccbb60d-c8b0-49fd-958c-87dc8f059bf8\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"schedule_url\": \"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/schedule/\",\n    \"rewards_url\": null,\n    \"translations\": {},\n    \"translatable_fields\": [\n        \"question\",\n        \"confirmation_message\"\n    ],\n    \"reactions\": [],\n    \"custom_data\": null,\n    \"sponsors\": [],\n    \"earnable_rewards\": [],\n    \"widget_interactions_url_template\": \"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013\",\n    \"widget_attributes\": [],\n    \"playback_time_ms\": null\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"kind":{"type":"string","example":"text-prediction"},"program_id":{"type":"string","example":"94762042-f447-42e8-aea8-07ad65edd910"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"created_at":{"type":"string","example":"2023-12-12T11:33:40.807636Z"},"published_at":{},"scheduled_at":{},"interactive_until":{},"follow_up_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/"},"follow_ups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a73cf2df-790e-46b4-90ea-e5e4fb2fe202"},"pubnub_enabled":{"type":"boolean","example":true,"default":true},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/"},"program_id":{"type":"string","example":"94762042-f447-42e8-aea8-07ad65edd910"},"client_id":{"type":"string","example":"8PqSNDgIVHnXuJuGte1HdvOjOqhCFE1ZCR3qhqaS"},"text_prediction_id":{"type":"string","example":"5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"text_prediction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"correct_option_id":{},"timeout":{"type":"string","example":"P0DT00H00M30S"},"published_at":{},"scheduled_at":{},"interactive_until":{},"created_at":{"type":"string","example":"2023-12-12T11:33:40.860166Z"},"subscribe_channel":{"type":"string","example":"program.widget.94762042-f447-42e8-aea8-07ad65edd910"},"kind":{"type":"string","example":"text-prediction-follow-up"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"48b9a173-a100-4751-9d30-cc33bef035e0"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/"},"description":{"type":"string","example":"1"},"is_correct":{"type":"boolean","example":false,"default":true},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVHZVhhaklka1V0ZWhvLWdENUl6WmFrZzNiTVRrMFJDU3phTUZ6YU4tYXlYUkg1di1zNm4tZm9GWmNpbGVvdDVQdmYtbGh1QUNOOHBiUHh2V1R2UDJsejdyUT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODk2NTV9.eaGVc6MOWVE-2rGk7v0BGZCB8fZhUX6I6wkBl-Pjh8c/"},"reward_item_id":{},"reward_item_amount":{"type":"integer","example":0,"default":0},"earnable_rewards":{"type":"array"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"question":{"type":"string","example":"new"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction-follow-up/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{},"engagement_percent":{},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-follow-ups/a73cf2df-790e-46b4-90ea-e5e4fb2fe202/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array"},"reactions":{"type":"array"},"custom_data":{},"claim_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interaction-claims/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/claims/"},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}},"question":{"type":"string","example":"new"},"confirmation_message":{"type":"string","example":"Alright! Stay tuned to see the result."},"timeout":{"type":"string","example":"P0DT00H00M30S"},"options":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"48b9a173-a100-4751-9d30-cc33bef035e0"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-prediction-options/48b9a173-a100-4751-9d30-cc33bef035e0/"},"description":{"type":"string","example":"1"},"is_correct":{"type":"boolean","example":false,"default":true},"vote_count":{"type":"integer","example":0,"default":0},"vote_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-interactions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/options/48b9a173-a100-4751-9d30-cc33bef035e0/votes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbmNyeXB0ZWQiOiJnQUFBQUFCbGVHZVlWbUNKRlR6T2FWVTRYcEJrR2dtbllNcDdvQV9KakdrY0ctNldLcURyblczMzdsMkpzeVZTUUY4bUIyX09pLWVkbUt0MVh0c0Y2RzhDMGVtTXNXeW1tQT09IiwiaXNzIjoiYmxhc3QiLCJpYXQiOjE3MDIzODk2NTZ9.iZ1z9-XwLn9EZC45hjH0NZRMe32-6uVWbZPeKIqdi94/"},"reward_item_id":{},"reward_item_amount":{"type":"integer","example":0,"default":0},"earnable_rewards":{"type":"array"},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"description"}}}}},"subscribe_channel":{"type":"string","example":"program.widget.94762042-f447-42e8-aea8-07ad65edd910"},"program_date_time":{},"publish_delay":{"type":"string","example":"P0DT00H00M00S"},"interaction_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/interactions/"},"impression_url":{"type":"string","example":"https://blast-prod-us-east-1.livelikeblast.com/api/v1/widget-impressions/text-prediction/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/"},"impression_count":{"type":"integer","example":0,"default":0},"unique_impression_count":{"type":"integer","example":0,"default":0},"engagement_count":{"type":"integer","example":0,"default":0},"engagement_percent":{"type":"string","example":"0.000"},"status":{"type":"string","example":"pending"},"created_by":{"type":"object","properties":{"id":{"type":"string","example":"fccbb60d-c8b0-49fd-958c-87dc8f059bf8"},"name":{},"image_url":{}}},"schedule_url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/text-predictions/5f1a5c3f-a17c-4f97-b88f-59a3e72ef013/schedule/"},"rewards_url":{},"translations":{"type":"object","properties":{}},"translatable_fields":{"type":"array","items":{"type":"string","example":"question"}},"reactions":{"type":"array"},"custom_data":{},"sponsors":{"type":"array"},"earnable_rewards":{"type":"array"},"widget_interactions_url_template":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/profiles/{profile_id}/widget-interactions/?text_prediction_id=5f1a5c3f-a17c-4f97-b88f-59a3e72ef013"},"widget_attributes":{"type":"array"},"playback_time_ms":{}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}