{"openapi":"3.1.0","info":{"title":"wildmoka-video-alerts","version":"1"},"servers":[{"url":"https://cf-blast.livelikecdn.com/api/v1/wildmoka-automations"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/":{"post":{"summary":"Create Wildmoka Video Alerts","description":"","operationId":"create-wildmoka-video-alerts","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["program_id","match_id"],"properties":{"program_id":{"type":"string","description":"ID of the program to create the automation for"},"match_id":{"type":"string","description":"Match id from wildmoka"},"match_scheduled_at":{"type":"string","format":"date"},"status":{"type":"boolean","description":"to activate wildmoka video alerts"},"widget_title":{"type":"string"},"widget_timeout":{"type":"string","description":"The timeout value should be provided in ISO 8601 duration format, such as \"PT10S\" for 10 seconds or \"PT5M\" for 5 minutes."}}}}}},"responses":{"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"12c3e1e4-db87-4ae2-95ef-63fce4660e12\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/wildmoka-automations/12c3e1e4-db87-4ae2-95ef-63fce4660e12/\",\n    \"match_id\": \"f683a6f6-c48d-43cf-ba38-4a9b0d9fc610\",\n    \"widget_timeout\": \"P0DT00H00M30S\",\n    \"status\": false,\n    \"widget_title\": \"Video Alert of wildmoka\",\n    \"enabled_by\": {\n        \"id\": \"0320c3d9-faea-4342-8a3b-6563352c9cee\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"match_scheduled_at\": null,\n    \"automation_status\": \"scheduled\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"12c3e1e4-db87-4ae2-95ef-63fce4660e12"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/wildmoka-automations/12c3e1e4-db87-4ae2-95ef-63fce4660e12/"},"match_id":{"type":"string","example":"f683a6f6-c48d-43cf-ba38-4a9b0d9fc610"},"widget_timeout":{"type":"string","example":"P0DT00H00M30S"},"status":{"type":"boolean","example":false,"default":true},"widget_title":{"type":"string","example":"Video Alert of wildmoka"},"enabled_by":{"type":"object","properties":{"id":{"type":"string","example":"0320c3d9-faea-4342-8a3b-6563352c9cee"},"name":{},"image_url":{}}},"match_scheduled_at":{},"automation_status":{"type":"string","example":"scheduled"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication credentials were not provided.\",\n  \"error_code\": \"MISSING_AUTH_CREDENTIALS\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication credentials were not provided."},"error_code":{"type":"string","example":"MISSING_AUTH_CREDENTIALS"}}}}}}},"deprecated":false}},"/{wildmoka_automation_id}":{"get":{"summary":"Get Wildmoka Video Alerts","description":"","operationId":"get-wildmoka-video-alerts","parameters":[{"name":"wildmoka_automation_id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"12c3e1e4-db87-4ae2-95ef-63fce4660e12\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/wildmoka-automations/12c3e1e4-db87-4ae2-95ef-63fce4660e12/\",\n    \"match_id\": \"f683a6f6-c48d-43cf-ba38-4a9b0d9fc610\",\n    \"widget_timeout\": \"P0DT00H00M30S\",\n    \"status\": false,\n    \"widget_title\": \"Video Alert of wildmoka new\",\n    \"enabled_by\": {\n        \"id\": \"0320c3d9-faea-4342-8a3b-6563352c9cee\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"match_scheduled_at\": null,\n    \"automation_status\": \"scheduled\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"12c3e1e4-db87-4ae2-95ef-63fce4660e12"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/wildmoka-automations/12c3e1e4-db87-4ae2-95ef-63fce4660e12/"},"match_id":{"type":"string","example":"f683a6f6-c48d-43cf-ba38-4a9b0d9fc610"},"widget_timeout":{"type":"string","example":"P0DT00H00M30S"},"status":{"type":"boolean","example":false,"default":true},"widget_title":{"type":"string","example":"Video Alert of wildmoka new"},"enabled_by":{"type":"object","properties":{"id":{"type":"string","example":"0320c3d9-faea-4342-8a3b-6563352c9cee"},"name":{},"image_url":{}}},"match_scheduled_at":{},"automation_status":{"type":"string","example":"scheduled"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Not found.\",\n  \"error_code\": \"not_found\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Not found."},"error_code":{"type":"string","example":"not_found"}}}}}}},"deprecated":false,"security":[]},"patch":{"summary":"Update Wildmoka Video Alerts","description":"","operationId":"update-wildmoka-video-alerts","parameters":[{"name":"wildmoka_automation_id","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["program_id"],"properties":{"program_id":{"type":"string","description":"ID of the program to update the automation for"},"status":{"type":"boolean","description":"to activate wildmoka video alerts"},"match_scheduled_at":{"type":"string","format":"date"},"widget_title":{"type":"string"},"widget_timeout":{"type":"string","description":"The timeout value should be provided in ISO 8601 duration format, such as \"PT10S\" for 10 seconds or \"PT5M\" for 5 minutes."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"id\": \"12c3e1e4-db87-4ae2-95ef-63fce4660e12\",\n    \"url\": \"https://cf-blast.livelikecdn.com/api/v1/wildmoka-automations/12c3e1e4-db87-4ae2-95ef-63fce4660e12/\",\n    \"match_id\": \"f683a6f6-c48d-43cf-ba38-4a9b0d9fc610\",\n    \"widget_timeout\": \"P0DT00H01M00S\",\n    \"status\": true,\n    \"widget_title\": \"new video alert\",\n    \"enabled_by\": {\n        \"id\": \"0320c3d9-faea-4342-8a3b-6563352c9cee\",\n        \"name\": null,\n        \"image_url\": null\n    },\n    \"match_scheduled_at\": \"2024-12-23T12:19:00Z\",\n    \"automation_status\": \"scheduled\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"12c3e1e4-db87-4ae2-95ef-63fce4660e12"},"url":{"type":"string","example":"https://cf-blast.livelikecdn.com/api/v1/wildmoka-automations/12c3e1e4-db87-4ae2-95ef-63fce4660e12/"},"match_id":{"type":"string","example":"f683a6f6-c48d-43cf-ba38-4a9b0d9fc610"},"widget_timeout":{"type":"string","example":"P0DT00H01M00S"},"status":{"type":"boolean","example":true,"default":true},"widget_title":{"type":"string","example":"new video alert"},"enabled_by":{"type":"object","properties":{"id":{"type":"string","example":"0320c3d9-faea-4342-8a3b-6563352c9cee"},"name":{},"image_url":{}}},"match_scheduled_at":{"type":"string","example":"2024-12-23T12:19:00Z"},"automation_status":{"type":"string","example":"scheduled"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication credentials were not provided.\",\n  \"error_code\": \"MISSING_AUTH_CREDENTIALS\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication credentials were not provided."},"error_code":{"type":"string","example":"MISSING_AUTH_CREDENTIALS"}}}}}}},"deprecated":false},"delete":{"summary":"Delete Wildmoka Video Alerts","description":"","operationId":"delete-wildmoka-video-alerts","parameters":[{"name":"wildmoka_automation_id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"204","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"detail\": \"Authentication credentials were not provided.\",\n  \"error_code\": \"MISSING_AUTH_CREDENTIALS\"\n}"}},"schema":{"type":"object","properties":{"detail":{"type":"string","example":"Authentication credentials were not provided."},"error_code":{"type":"string","example":"MISSING_AUTH_CREDENTIALS"}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}